[2013-05-27 17:11] MoOx opened #1 "Do first commit based on the futur happy-plan package"
We need to wait that this issue is done https://github.com/happyplan/happyplan/issues/41

[2013-05-29 04:53] MoOx opened #2 "Réfléchir au système de commentaires"
(Par @mlbli[+](https://github.com/putaindecode/propositions/issues/3))
Choisir une interface externe ou construire un système à part entière.

Si l'on part sur un hosting GitHub, cela implique de toute façon que les commentaires soient stockés ailleurs.

Propositions :
- Disqus
- NodeJS + Express (hosting Heroku, ou autre ?)

[2013-06-03 06:55] #2 closed, assigned to nobody

[2013-06-05 16:50] MoOx opened #3 "Add humans.txt"
`@todo`

[2013-08-02 13:18] MoOx opened #4 "Team page"
Please add your 2 bios here respecting this minimal rules:
- 3rd person
- no link like "Github: `@blablablabla`, Twitter: `@blablabla`" (we will add them using elegant icons)
- One with 100 char max (for this pages) & one with 400 char max (expanded version, will be for example below your post)
- [x] @rhannequin
- [x] @kud
- [x] @madx
- [x] @mlbli
- [x] @Nyalab
- [x] @Shahor
- [x] @dguyon
- [x] @j

[2013-08-09 06:32] #1 closed, assigned to MoOx

[2013-08-09 06:39] MoOx opened #5 "Favicon"

[2013-08-09 06:40] MoOx opened #6 "Post: Hello World."
Faut qu'on fasse un post où on explique TOUT.

C'EST PAR LÀ https://docs.google.com/document/d/1E6E1ibk3vaBj33UjR5AKBfCJrjYtXnvBaiYtJiTQles/edit

[2013-08-09 13:09] #5 closed, assigned to nobody

[2013-08-09 13:18] MoOx opened #7 "Change ckc easteregg that appears when konami code is typed"
Maybe print a qr code that will show the easteregg.

[2013-08-29 07:42] madx opened #8 "Différenciation des membres / contributeurs"
Petit thread pour savoir comment on va différencier les membres des contributeurs visuellement.

Pour ma part pour l'instant je pense à un signe distinctif au niveau de l'avatar (encerclé d'une certaine façon pour les membres par exemple)

Y'a aussi le fait que les contributeurs n'ont pas forcément de bio, à nous de voir si on permet d'en avoir une.

[2013-08-29 16:06] MoOx opened #9 "Design"
Bon c'est simple, j'ai pondu ça suite à un truc moche et quelques un de vos commentaires.

![screen shot 2013-08-29 at 5 57 38 pm](https://f.cloud.github.com/assets/157534/1051086/898216ba-10c4-11e3-8ba1-a8d5a2d5e2c4.png)

Ca c'est commité

@justinmarsan a fait ca sous toshop

![screenshot on 2013-08-29 at 17 55 10](https://f.cloud.github.com/assets/157534/1051106/e641a51e-10c4-11e3-9383-5d2c7dd90

[2013-08-29 16:14] MoOx opened #10 "Can't publish with latests commits & happyplan 0.3.0-beta.5"
[code]

Need to check that.

[2013-08-29 16:33] MoOx opened #11 "Make the logo in CSS, for fun"
https://github.com/putaindecode/website/issues/9#issuecomment-23503343

[2013-08-30 06:25] #10 closed, assigned to nobody

[2013-08-30 06:28] MoOx opened #12 "Add stats tracker"
On prend un google analytics ou bien ?
Vous connaisez autre chose ?

[2013-08-30 06:29] MoOx opened #13 "Post layout"
- [x] Post layout
- [x] posts page
- [x] disqus (I've something here https://github.com/MoOx/moox.io/blob/master/src/_partials/scripts/disqus.html - Should be moved in happyplan btw :)

[2013-09-03 15:00] MoOx opened #15 "Sort of "Contributing.md""
Sous ce nom de pauvre fichier texte ce cache tout la page à faire concernant le process à suivre pour "proposer" quelque(s) chose(s) ici.
cf https://github.com/putaindecode/discussions/issues/5
Cette page implique que [le post sur comment faire une pr](https://github.com/putaindecode/propositions-de-posts/issues/8) soit fait pour qu'on le link et même éventuellement que celui là soit aussi dans le

[2013-09-04 13:13] #12 closed, assigned to nobody

[2013-09-06 07:17] madx opened #16 "Impossible de lancer happyplan"
J'ai cette erreur en lançant `happyplan`

[code]

Il manquerait pas un fichier ?

[2013-09-17 05:05] #11 closed, assigned to nobody

[2013-09-17 05:12] #8 closed, assigned to nobody

[2013-09-20 12:43] #4 closed, assigned to nobody

[2013-09-20 16:14] MoOx opened #18 "Home page layout"

[2013-09-20 17:28] #9 closed, assigned to nobody

[2013-09-22 12:43] Nyalab opened #20 "Impossible de lancer happyplan"
Si je fais un `$ happyplan`, j'ai le message d'erreur :

[code]

Apparemment un bug de warning python.

Donc si je fais un `$ happyplan --force`, j'ai le message d'erreur :

[code]

Le site apparait, mais cassé.

[2013-09-22 16:32] #20 closed, assigned to nobody

[2013-09-23 05:21] #15 closed, assigned to nobody

[2013-09-23 06:45] madx opened #22 "Pas de layout"
Quand je lance `happyplan` (maintenant que j'ai un workaround pour le bug des fonts) et que j'ouvre la page `c-est-quoi-putaindecode`, je me retrouve avec une page sans layout, comme ça :

![2013-09-23t08 41 33](https://f.cloud.github.com/assets/5723/1189625/a7cb17ce-241b-11e3-978c-8a713347db18.png)

Il me manque le header et le footer.

Pour info, j'ai ce warning dans la sortie d'happyplan, mais

[2013-09-23 15:05] #22 closed, assigned to nobody

[2013-09-25 12:27] MoOx opened #23 "Posts à avoir pour la sortie "officielle" du site"
Voici une liste non exaustive des posts que je vois bien en ligne avant qu'on communique pour le site (titres raccourcis à l'extrème)
- [x] HTML https://github.com/putaindecode/propositions-de-posts/issues/1
- [ ] Git https://github.com/putaindecode/propositions-de-posts/issues/11
- [ ] PR https://github.com/putaindecode/propositions-de-posts/issues/8
- [ ] Vanilla JS https://github.com/putaindeco

[2013-09-25 15:43] MoOx opened #24 "Hook pour les typos de base."
Ref #21

[2013-09-25 17:59] MoOx opened #25 "Gestion des posts/drafts/propositions et date de publication"
Je vois un soucis, c'est le passage de draft à post online, il faudra changer la date lors d'un merge ?
Es ce qu'on demande les posts en PR en temps que draft pour "publier" à la main ?

Après on peut mettre des dates à l'avance, mais du coup je trouve ça assez problématique (même si on peut désactiver au build les posts futurs http://tqcblog.com/2012/08/22/jekyll-drafts/ )

[2013-09-25 20:37] lionelB opened #26 "Ajouter le temps de lecture approximatif dans les metadata des articles"
parce que c'est pratique :)

[2013-09-26 16:32] MoOx opened #29 "Affichage des auteurs"
Comment on gère les auteurs et contributeurs sur un article ?
On gère à la main, via une/des clé(s) `author` (post à auteur unique), `authors` (tableau si co-écriture), et `contributors` (pour les ajouts etc)?
Je pense que `author` et `authors` c'est bien, pour les contributions, on pourra récup ça de git je pense.
On pourrait tout faire de git, sauf que si co-écriture, on ne sera pas qui sont les

[2013-09-26 17:07] MoOx opened #30 "Add travis badge"

[2013-09-26 17:17] #30 closed, assigned to nobody

[2013-09-27 09:04] madx opened #34 "Échec de la construction des posts"
J'ai mis un post avec une date pour respecter la convention Jekyll dans `src/_posts/`

En lançant `happyplan` j'ai l'erreur suivante :+1:

[code]

[2013-09-27 10:36] madx opened #35 "Guidelines de contribution"
Comme évoqué dans #21 et #25 on va faire un post complet sur comment contribuer et faire un `CONTRIBUTING.md` beaucoup plus concis et technique.

Je me sers de cette issue pour en préparer le contenu, merci d'apporter vos remarques en commentaire, je répercuterai en conséquence sur l'issue de base.

Dernière mise à jour : 2013-09-27 16:05 by @MoOx

---
# Contribuez !

Chez Putain de Code, on re la

[2013-09-27 14:06] #25 closed, assigned to nobody

[2013-10-01 12:40] #3 closed, assigned to MoOx

[2013-10-01 13:20] #6 closed, assigned to MoOx

[2013-10-01 13:21] #34 closed, assigned to nobody

[2013-10-01 13:22] #29 closed, assigned to nobody

[2013-10-01 13:30] #26 closed, assigned to nobody

[2013-10-01 13:33] #7 closed, assigned to nobody

[2013-10-18 15:30] MoOx opened #37 "code highlight theme"
Il nous faut un theme sympa qui colle avec le site.

Voilà ce que j'ai sous la main

![screen shot 2013-10-18 at 5 21 17 pm](https://f.cloud.github.com/assets/157534/1361516/04e966bc-3809-11e3-8ce7-f74abb744d52.png)

![](https://github.com/MoOx/sass-prism-theme-base/blob/master/screenshot.png?raw=true)

![](https://github.com/MoOx/sass-pygments-theme-base/raw/master/pygments-theme-freshcut.png)

S

[2013-10-18 15:52] MoOx opened #38 "png logo border issue"
We need to remove all borders on the png logos.

[2013-10-24 12:48] #18 closed, assigned to MoOx

[2013-10-24 15:02] #13 closed, assigned to MoOx

[2013-10-24 15:03] #16 closed, assigned to nobody

[2013-10-28 21:32] OwlyCode opened #41 "Colorisation des blocs de code source"
Je suis actuellement en train de bosser sur mon article autour de Golang, Revel et Mgo. J'ai quelques bouts de code à partager mais le rendu actuel est pas tip top. Je me doute qu'on va s'en occuper, je voudrais surtout savoir si quelqu'un a des plans de ce côté là.

Sinon je peux très bien aussi m'en occuper et faire une proposition de colorisation du code.

[2013-10-28 21:33] #41 closed, assigned to nobody

[2013-10-31 06:51] #38 closed, assigned to MoOx

[2013-10-31 10:08] kud opened #43 "Add theme list page"

[2013-10-31 10:09] kud opened #44 "Add project list page"

[2013-11-01 21:56] #44 closed, assigned to nobody

[2013-11-04 14:15] MoOx opened #46 "post meta required on the layout"

[2013-11-04 14:15] MoOx opened #47 "post author(s) on post layout"

[2013-11-04 14:32] MoOx opened #48 "Temporary homepage"
Tant qu'on a pas trop de contenus, on devrait caller une homepage avec un edito plus liens vers les premiers posts, le manifesto, le twitter...

[2013-11-04 14:36] MoOx opened #49 "Update team page staff"
- shahor
- OwlyCode

[2013-11-04 14:45] kud opened #50 "background must do 100% of height (at least)"
html,
body {
   background: #41
}

not only on body.

[2013-11-04 20:08] #50 closed, assigned to nobody

[2013-11-04 20:48] #49 closed, assigned to nobody

[2013-11-04 21:45] MoOx opened #51 ""Posts du même auteur""

[2013-11-04 21:52] #47 closed, assigned to nobody

[2013-11-04 22:56] #46 closed, assigned to nobody

[2013-11-04 23:06] OwlyCode opened #52 "Remaining #todo"
Il y a deux liens qui pointent sur #todo ici https://github.com/putaindecode/website/blob/5b9574e27a3141f50e636f98ab82ef6c3eacb6b0/src/c-est-quoi-putaindecode/index.html.hbs#L66-L71

[2013-11-05 08:11] MoOx opened #54 "Long bio must be join with \n for rendering"

[2013-11-05 08:23] #48 closed, assigned to MoOx

[2013-11-05 08:26] MoOx opened #55 "Ajouter sur la homepage: "demain premier post !""

[2013-11-05 13:44] #54 closed, assigned to nobody

[2013-11-05 14:03] #55 closed, assigned to nobody

[2013-11-05 14:16] MoOx opened #56 "twitter icon on firefox doesn't work..."
http://cl.ly/image/2S2Y263i0x2x

like https://github.com/francejs/francejs.github.com/issues/54

[2013-11-05 14:17] #23 closed, assigned to nobody

[2013-11-05 14:24] #52 closed, assigned to nobody

[2013-11-05 20:49] marienfressinaud opened #58 "Markdown non interprété dans le flux RSS"
Tout est dans le titre. C'est un peu embêtant pour lire :)

[2013-11-06 07:46] MoOx opened #59 "Les Posts ne sont pas triés par dates, c'te loose !"
posts/index.html & feed.xml sont impactés.

https://github.com/assemble/assemble/issues/387

[2013-11-06 07:47] MoOx opened #60 "Add "Comment contribuer" to the sidebar"

[2013-11-06 12:53] OwlyCode opened #61 "Mgo & Revel : Revel n'est pas totalement agnostique sur la base de données"
Dans le post il est clairement dit que Revel est agnostique, ce qui n'est pas exactement vrai car il existe un module pour gérer les bases de type sql.

[2013-11-06 13:03] OwlyCode opened #62 "Mgo & Revel : Améliorer le script de binding"
Actuellement le binding entre Revel et Mgo repose sur un singleton qui stocke la session en cours afin de la récupérer directement plus tard quand le besoin s'en fait sentir.

Il vaudrait mieux:
- cloner cette session et fermer le clone à chaque requête revel.
- cloner la session au besoin dans un autre module et la fermer manuellement avec un `defer`

Pour résumer, dans le `app/modules/mongo/mong

[2013-11-06 13:41] MoOx opened #63 "Ajouter dans "Comment contribuer" la version ultra rapide"
Cf http://putaindecode.fr/posts/comment-contribuer/#comment-1111014811

[2013-11-06 13:46] MoOx opened #64 "Faire une repasse sur le design avec de petites tailles d'écrans."
Par exemple: https://twitter.com/Oshydaka/status/397748042000252928
Mais y'a d'autres choses à ajuster.

[2013-11-06 13:51] MoOx opened #65 "Ajouter des limites dans les posts"
Pour la home: max 4
Page posts: par pour l'instant
Feed.xml: 20

[2013-11-06 14:22] #58 closed, assigned to nobody

[2013-11-06 14:23] MoOx opened #67 "images & some links are broken on feed.xml"
Ref #58

[2013-11-06 14:42] MoOx opened #68 "Valid feed.xml"
Ref #58
http://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fputaindecode.fr%2Ffeed.xml

[2013-11-06 15:21] MoOx opened #69 "Trouver une façon de ne pas avoir les font d'icones dans l'index git à chaque fois..."

[2013-11-06 16:22] kud opened #71 "Micro posts"
J'aimerais qu'on puisse gérer des micro posts, sorte de posts hyper courts à lire tels des astuces, toussa.

Il faudrait alors pouvoir soit filtrer les articles par durée de lecture soit faire un affichage à la pinterest pour afficher la liste des micro posts.

A réfléchir !

[2013-11-06 17:19] madx opened #72 "Ajout des mentions des contributeurs"
Ça serait bien d'avoir une liste des personnes ayant contribué à un post dans chacun.

[2013-11-07 16:26] kud opened #75 "Le menu ou tout du moins l'accès aux posts n'est pas trivial"
Je ne trouve pas si évident d'aller lire les posts.

Perso, la home devrait être la home des posts. Ca serait tout aussi joli / simple.

[2013-11-08 13:49] #59 closed, assigned to MoOx

[2013-11-08 13:49] #75 closed, assigned to nobody

[2013-11-08 14:09] MoOx opened #78 "La build est cassé quelque part (c-est-quoi-putaindecode en 404)"
La page c-est-quoi-putaindecode ne se deploi pas.
Personne ne publish tant que cette issue n'est pas réglé.

[2013-11-11 06:47] #61 closed, assigned to OwlyCode

[2013-11-11 11:04] #62 closed, assigned to OwlyCode

[2013-11-13 16:12] kud opened #81 "Add page timer"
Look at this page and see when scrolling, you've got a timer to display the end time to read it.

http://blog.ponyfoo.com/2013/11/13/grunt-tips-and-tricks

[2013-11-16 00:18] kud opened #84 ">> Tasks directory "/Users/kud/Projects/_putaindecode/website/grunt_tasks" not found."
hmm ?

[2013-11-18 18:44] MoOx opened #86 "Code climate is reporting some shitty code I made"
J'ai codé les helpers un peu vite, faut que j'arrange ça. Cette issue n'est qu'un mémo :)

https://codeclimate.com/github/putaindecode/website/src/_helpers/helper-each_dateSorted.js

[2013-11-20 17:32] MoOx opened #87 "piètre qualité sur la home n'est il pas un poil violent finalement ?"

[2013-12-05 17:06] kud opened #88 "BUG!!!"
[code]

[2013-12-05 20:28] #87 closed, assigned to nobody

[2013-12-06 09:01] #88 closed, assigned to nobody

[2013-12-06 09:39] kud opened #91 "Déplacer l'edito en dessous des derniers posts et mettre les derniers posts au début"
Hello,

J'ai voulu mettre tout en haut les "derniers posts" mais j'ai vu que ça pêtait un peu de partout.

Je pense qu'il y a un problème de reset float: left.

Si quelqu'un a le temps de regarder.

Je trouve ça maintenant plus pertinent d'avoir les derniers posts en haut, l'édito devient redondant là.

[2013-12-06 13:13] MoOx opened #92 "Donner une meilleur visibilité au post "comment contribuer""

[2013-12-06 21:49] bloodyowl opened #94 "website no liek bucks"
dès qu'on fait `$` dans du markdown, il inclut la page entière à la place.

humour décalé ? racisme ? vrai problème de société ?
notre enquête

[2013-12-11 00:13] Nyalab opened #97 "Webfont. SyntaxError: Unexpected end of input"
Lors de `happyplan` :

Running "webfont:glyphicons" (webfont) task
Warning: Webfont did not receive a popper JSON result.
SyntaxError: Unexpected end of input
 Used --force, continuing.

Comment le contourner ? Ou le résoudre ?

[2013-12-11 21:40] #97 closed, assigned to nobody

[2013-12-14 16:02] Erwyn opened #98 "Post: Git, astuces pour les pas trop nuls"
Bonjour,

je vous propose un autre post sur Git. Au menu:

-> Un alias `git lg` pour bien comprendre l'historique de la branche courante
-> Git bisect, où comment trouver le sal**d qui a introduit un bug pour l'humilier
-> Git reflog, Allô maman je suis perdu

-- Martin

[2013-12-15 06:32] MoOx opened #99 "Créer une classe pour les images principales des posts"
Du style inline c'est pas une bonne pratique (exemple pour les images en début de post)

Il nous faut des classes génériques dans le style de [u-objLeft/Right](https://github.com/suitcss/utils-layout#available-classes).
Voir créer un attribut pour les posts afin d'avoir le rendu html pour une image en tête de post.

Cette issue n'est pas un tacle, juste un mémo pour faire des composants plus réuti

[2013-12-15 11:53] MoOx opened #100 "Rendre plus visible la possibilité de faire une propostions de post"
Suite à ce commentaire https://github.com/putaindecode/website/issues/98#issuecomment-30602151 il faut éclairsir le repo dédié aux propostions de posts

[2013-12-16 10:29] #60 closed, assigned to MoOx

[2013-12-16 15:46] MoOx opened #101 "Ajouter un fondu sur la sidebar pour faciliter la lecture des posts"
Exemple http://www.html5rocks.com/en/tutorials/es6/promises/
Le contenu devient translucide lorsque l'on commence à scroller (après un petit délais).
Au hover, ca se remet normal, et après un délais fixé en secondes ça decommence si on continue la lecture.
Je trouve ça super.
Vous ?

[2013-12-23 06:48] #37 closed, assigned to MoOx

[2013-12-23 06:48] #84 closed, assigned to MoOx

[2013-12-23 16:56] MoOx opened #103 "Faire un publish auto si le build Travis passe"
Histoire que le build soit automatique et à la jekyll/gh-pages.

Va falloir lire/étudier/utiliser ça
- https://github.com/pwmckenna/generator-travis-ci/blob/master/gh-pages/templates/_.travis.yml
- https://github.com/pwmckenna/node-travis-encrypt
- http://awestruct.org/auto-deploy-to-github-pages/
- http://sleepycoders.blogspot.de/2013/03/sharing-travis-ci-generated-files.html
- https://github.com

[2013-12-24 07:08] #86 closed, assigned to MoOx

[2013-12-26 21:40] #91 closed, assigned to MoOx

[2013-12-26 21:40] #92 closed, assigned to MoOx

[2013-12-26 21:50] #65 closed, assigned to MoOx

[2013-12-26 22:01] #68 closed, assigned to MoOx

[2013-12-26 22:16] MoOx opened #104 "Ajouter un lien vers le flux rss"
Genre dans le footer/sidebar par là...

[2013-12-27 10:06] Cycymomo opened #105 "putaindecode.fr/posts/ => 404"
Salut les putains de codeurs !

J'ai un putain de 404 quand j'essaie d'accéder à [http://putaindecode.fr/posts/](http://putaindecode.fr/posts/)

![404 w00t w00t](http://www.bestgifever.com/data/images/2012/06/404.gif)

Et putain de bonnes fêtes :smiley: !
Cyril

[2013-12-27 10:34] #105 closed, assigned to nobody

[2013-12-28 19:49] MoOx opened #106 "Design en vrac sur Firefox/Windows 8"
- [ ] Menu du Header qui passe à la ligne
- [ ] Font pourri, pas light du tout
- [ ] Menu du footer qui passe à la ligne

[2013-12-29 08:59] MoOx opened #107 "Refaire une 404 plus sympa"
Et centré tant qu'à la refaire.

[2014-01-09 17:45] MoOx opened #108 "Passer les blocs de codes full width"
Je suis tombé sur [ce post](http://aerotwist.com/lab/poly-maker/), et j'ai trouvé vraiment sympa le rendu du code

![screen shot 2014-01-09 at 18 44 48](https://f.cloud.github.com/assets/157534/1880251/c97d3c46-7955-11e3-87ab-24c0c0339733.png)

Vous en pensez quoi ?

[2014-01-12 06:41] #69 closed, assigned to nobody

[2014-01-15 07:46] #99 closed, assigned to MoOx

[2014-01-17 15:29] #56 closed, assigned to nobody

[2014-01-31 09:02] mabhub opened #111 "Afficher la date de rédaction/publication des articles"
Quand on parle de techno, afficher la date de rédaction (ou à défaut, de publication) a son importance pour avoir un ordre d'idée de la "fraicheur" de l'information, ou simplement pour le rapport aux évolutions potentielles des versions présentées.

L'idée n'est de de vouloir qualifier la valeur de l'article en fonction de son age, mais simplement le replacer dans un contexte où les nouveautés s’e

[2014-02-12 06:51] MoOx opened #113 "Rename le dépot en putainde-website ?"
Pour les forks et les lazygens ça éviterais des soucis non ?

[2014-02-12 14:54] #113 closed, assigned to nobody

[2014-02-16 17:54] kud opened #114 "Fucking ttfautohint."
[code]

poke @MoOx

[2014-02-19 07:26] #114 closed, assigned to nobody

[2014-02-19 13:39] MoOx opened #116 "Ajouter un lien vers la page des auteurs"
https://github.com/orgs/putaindecode/teams/authors

Faire un lien ou un truc mieux pour lister les auteurs.

[2014-02-19 23:11] kud opened #117 "Je ne peux publier."
[code]

[2014-02-20 05:47] #117 closed, assigned to nobody

[2014-02-20 05:53] MoOx opened #119 "Virer happyplan"
Car ça casse trop les couilles.
On va se faire une vielle popote maison car j'en ai plein le cul.

[2014-02-20 06:40] #111 closed, assigned to nobody

[2014-02-20 06:41] #108 closed, assigned to nobody

[2014-02-20 07:01] #98 closed, assigned to nobody

[2014-02-20 07:12] #104 closed, assigned to nobody

[2014-02-20 07:33] #116 closed, assigned to nobody

[2014-02-20 07:48] MoOx opened #123 "Ajouter dans le post sur Contribuer une note sur les pr et review"
squash des commits, push -f toussa toussa :)

[2014-03-05 07:07] #78 closed, assigned to nobody

[2014-03-09 06:05] MoOx opened #129 "Ajouter les métas social bullshit ?"
http://moz.com/blog/meta-data-templates-123

[2014-03-29 15:04] MoOx opened #132 "Changer les fonts"
Faut avouer que j'ai mis du Helvetica Neue Light comme un con.

@fvsch vient de [me faire la remarque](https://twitter.com/fvsch/status/449917445189697536) et je crois @bloodyowl l'avait faite aussi.

@fvsh [parle de Source Sans et Source Code](https://twitter.com/fvsch/status/449919962954874881)

 Des remarques/idées ?
Vous voyez quoi sinon ?

[2014-04-08 07:15] MoOx opened #134 "Changer les gros png dans media en jpg"
C'est trop lourd, et trop long à "optimiser" pour le build

[2014-04-08 09:42] MoOx opened #135 "Automatiser le temps de lecture"
http://www.slate.fr/lien/57193/adulte-300-mots-minute

[2014-04-08 09:56] MoOx opened #136 "Changer la section "crew""
Elle n'est pas du tout représentative au jour d'aujourd'hui.

[2014-04-13 09:40] MoOx opened #139 "Rédiger des putains de guidelines"
CSS, JS, HTML pour ma part, mais on peut imaginer, Node.JS (en sous partie de JS à la limite), PHP #notatroll ou n'importe quoi.
Je commençerais  par CSS vu que j'ai la tête bien dedans en ce moment.

http://alistapart.com/article/creating-style-guides

[2014-04-13 20:35] bloodyowl opened #140 "[gulp] passer tasks comme submodule"
et garder à part la logique de build.

what do you think @MoOx ?

[2014-04-16 10:35] #140 closed, assigned to nobody

[2014-04-18 11:44] rhannequin opened #141 "Documentation sur les tâches Gulp"
Je viens de pull la branche `gulp` (d'ailleurs bravo le rendu est nickel) et de regarder un peu le `Gulpfile.js`. Sans refaire la doc de chaque _task_, ni juste écrire un lien vers le Github, peut-être qu'il serait intéressant de documenter et commenter les _tasks_.

Pour ceux qui n'ont pas vu le `Gulpfile.js` émerger ou ceux qui sont nouveaux sur le projet, c'est un peu dur de savoir ce qu'il se

[2014-04-19 19:59] #119 closed, assigned to nobody

[2014-04-20 17:13] MoOx opened #143 "feature: quick read"
Cf ici http://seesparkbox.com/foundry/automation_ftw_bust_your_cache
Full article | quick read.
Vous en pensez quoi ?

[2014-04-20 17:14] #141 closed, assigned to nobody

[2014-04-21 06:37] #64 closed, assigned to MoOx

[2014-04-21 06:38] #94 closed, assigned to MoOx

[2014-04-21 06:40] #106 closed, assigned to nobody

[2014-04-21 06:48] MoOx opened #144 "Avant de publish avec gulp"
- [x] fixer les vieilles ref à happyplan (images)
- [x] refaire un footer plus sympa
- [x] virer "index.html" dans les liens internes, ça fait so 80's

[2014-04-21 08:40] bloodyowl opened #145 "REGRESSIONS"
- [x] animation logo
- [x] les titres dans les listes devraient être de l'avenir si la font est dispo
- [x] "pas de posts :(" est traversé par un border sur la liste de tous les posts

[2014-04-22 06:13] MoOx opened #146 "ajouter un lien "modifier ce contenu" sur les pages"

[2014-04-22 06:20] #145 closed, assigned to nobody

[2014-04-22 06:57] bloodyowl opened #147 "line height de porc sur les listes"
ça fait un poil trop là :smile:
![screen shot 2014-04-22 at 08 55 26](https://cloud.githubusercontent.com/assets/1688645/2762152/2d3249ee-c9eb-11e3-8b5f-bd96c35ba1f8.png)

[2014-04-22 07:01] #144 closed, assigned to nobody

[2014-04-23 05:42] #147 closed, assigned to MoOx

[2014-04-23 08:07] lionelB opened #148 "La page post et la liste des derniers post sont vides sous windows"
Le problème semblent venir de
`getPages({type:"post"})`qui, chez moi, renvoi toujours `[]`

dans exports.value j'ai bien la liste des posts par contre sans la clé type

[code]

ce qui explique que where renvoi []

Est ce que qqun pour qui cela fonctionne pourrait confirmer que le export.value dans tasks/cache/options.js contient bien la clé type en rajoutant un console.log(exports.value) ?

[2014-04-24 07:41] #146 closed, assigned to nobody

[2014-04-27 06:46] #101 closed, assigned to nobody

[2014-04-27 07:37] #72 closed, assigned to MoOx

[2014-04-27 15:16] #148 closed, assigned to nobody

[2014-04-27 20:06] MoOx opened #152 "Issue since gulp-clean is here"
[code]

[2014-04-28 05:24] #152 closed, assigned to nobody

[2014-04-28 19:12] #135 closed, assigned to nobody

[2014-04-28 19:30] #134 closed, assigned to nobody

[2014-04-28 21:08] bloodyowl opened #155 "`putainde-Title` sticky position"
le parent bloque le title

[2014-04-28 21:08] kud opened #156 "Commande "publish" vers "deploy"?"
Je vous avoue que partout où je suis allé, c'était plutôt `deploy` que `publish`. Je vois plus un `publish` comme un "commit" en fait.

(Oui, je fais toujours des issues useless).

[2014-04-29 04:26] #155 closed, assigned to nobody

[2014-04-29 08:40] #156 closed, assigned to nobody

[2014-04-29 08:49] kud opened #159 "Header / footer links"
Il faudrait que l'on réfléchisse à ce qu'on souhaite mettre dans le header et le footer.

Je suis d'accord qu'avoir rajouté forum n'est pas forcément la meilleure chose mais en même temps, je lui trouve de l'importance car ca reste de l'aide désynchro et c'est mieux qu'IRC je pense.

De plus, je ne vois pas / plus trop l'intérêt de "Putain de ?" en header.

A mon sens, soit on laisse comme ça, soi

[2014-05-01 14:49] #159 closed, assigned to nobody

[2014-05-01 15:13] #132 closed, assigned to nobody

[2014-05-01 15:14] #71 closed, assigned to nobody

[2014-05-01 15:16] #67 closed, assigned to MoOx

[2014-05-01 15:17] #51 closed, assigned to nobody

[2014-05-01 15:17] #43 closed, assigned to nobody

[2014-05-01 15:17] #35 closed, assigned to nobody

[2014-05-01 15:18] #143 closed, assigned to nobody

[2014-05-01 15:19] #136 closed, assigned to MoOx

[2014-05-01 15:37] #129 closed, assigned to bloodyowl

[2014-05-01 17:35] #24 closed, assigned to nobody

[2014-05-02 04:03] MoOx opened #166 "(re)Réfléchir à la navigation"
- Je ne suis pas fan du rendu actuel des liens dans le footer (un peu trop fouilli)
- pas non plus pour laisser IRC dans le menu en haut (je pense qu'un infime partie des gens aujourd'hui prennent le temps pour IRC)
- "Putain de ?" n'a pas/plus de sens (qui a viré les ... ?). On essayes avec "Manifesto" ?
- On vire contact et on fout directe les icones/liens twitter/github en bas ?
- L'ordre dans

[2014-05-02 08:15] bloodyowl opened #167 "stylus -> rework"
pour éviter d'avoir le cul entre deux chaises avec deux preproc

[2014-05-05 09:46] kud opened #169 "Ancres sur les titres"
J'aimerais bien avoir des ancres sur les titres afin de mieux partager le contenu, cibler des phrases précises, voir le chic serait d'avoir comme github, un L20-30.

[2014-05-05 09:49] kud opened #170 "Bots sur <#putaindecode>"
Hello,

C'est cool d'avoir des bots sur le salon irc, mais ca spam un peu :

![screen shot 2014-05-05 at 11 49 46](https://cloud.githubusercontent.com/assets/655838/2876661/86f48a74-d43a-11e3-9e19-1e8fe9994c24.png)

Ce serait peut-être intéressant de le mettre sur le salon privé non ?

[2014-05-05 10:18] #169 closed, assigned to bloodyowl

[2014-05-06 08:01] kud opened #174 "Problème d'alignement sur les parties de code"
![screen shot 2014-05-06 at 10 01 37](https://cloud.githubusercontent.com/assets/655838/2887059/926fa5cc-d4f4-11e3-9861-fe601bd1a5b0.png)

Le texte est mal aligné en vertical sur les parties `comme ça`.

[2014-05-06 14:03] #166 closed, assigned to nobody

[2014-05-06 19:25] #174 closed, assigned to nobody

[2014-05-06 19:28] MoOx opened #178 "Menu et Navigation"
Si le site continue de s'enrichir, on va avoir un problème pour caler toutes les parties dans un petit menu.
Je ne suis pas fan des menus déroulant mais je n'ai jamais vraiment "trouvé" d'alternatives aussi "pratique" (fourre tout organisé).
Comment pourrait-on classer une 10aines d'éléments ?

[2014-05-07 05:07] #167 closed, assigned to MoOx

[2014-05-07 05:43] #178 closed, assigned to nobody

[2014-05-08 13:51] kud opened #183 "CAN'T PUBLISH"
[code]

[2014-05-08 14:24] kud opened #184 "Le manifesto est vraiment pourri."
Faut le changer là.

1/ On a posté pas mal d'articles depuis
2/ Il fait grave kikoolol

[2014-05-08 19:02] MoOx opened #185 "Mettre dans le contributors.cache que ce qui nécessite des appels à l'API Github"
Pour éviter des mises à jours tous les 2 commits...

[2014-05-08 19:06] MoOx opened #186 "Changer les liens des avatar/nom d'auteurs vers leur site perso quand c'est possible"
Donc site perso ou github en fallback. Ca a plus de sens.

[2014-05-08 19:07] #170 closed, assigned to nobody

[2014-05-09 05:44] bloodyowl opened #187 "emoji support"
ajouter un vrai support emoji (notamment pour les utilisateurs windows)

[2014-05-09 17:17] bloodyowl opened #189 "contributors tooltips do not work"

[2014-05-10 07:12] MoOx opened #190 "Faire une pages avec les auteurs et leurs posts"

[2014-05-11 08:42] #189 closed, assigned to nobody

[2014-05-12 04:54] MoOx opened #191 "Ajouter requirebin.com dans le post sur browserify"
Pour tester browserify en live http://requirebin.com/

[2014-05-12 14:52] MoOx opened #193 "faire des FAQ"
- pour chaque catégorie racine des posts ?
- pour front/back ?
- par thème au choix ?

[2014-05-12 14:56] #193 closed, assigned to nobody

[2014-05-13 04:12] MoOx opened #195 "Ajouter d'un travisci like pour windows"
C'est @lionelB qui va être content
http://www.appveyor.com/
ex https://github.com/gruntjs/grunt/blob/master/appveyor.yml

[2014-05-14 05:12] #183 closed, assigned to nobody

[2014-05-14 05:13] #185 closed, assigned to nobody

[2014-05-14 05:18] #191 closed, assigned to nobody

[2014-05-14 10:18] kud opened #198 "Contraste sur les liens"
Ouais, je suis légèrement daltonien et euh... le contraste sur les liens est mauvais, je ne les vois pas facilement.

Pourrait-on améliorer cela ? J'ai pas trop d'idée pour le moment.

[2014-05-15 14:03] kud opened #200 "Author="putaindecode""
`putaindecode` en tant qu'auteur sur les posts devrait être accepté.

[2014-05-16 08:05] kud opened #202 "Bug 404"
http://putaindecode.fr/posts/frontend/ljb

Pas de CSS

[2014-05-16 08:27] #202 closed, assigned to nobody

[2014-05-16 08:34] bloodyowl opened #203 "change the way css are concatenated"
we should use `rework-importer` and just use `index.css` as gulp source

https://travis-ci.org/putaindecode/website#L1855

[2014-05-17 09:10] #203 closed, assigned to nobody

[2014-05-20 22:35] bloodyowl opened #206 "improvements"
- [ ] `posts` task
- [ ] `posts` caching (change pages on watch only if used)
- [ ] `mixins` task
- [ ] get rid of partials
- [ ] find a solution about `extends layout` `fs.readFileSync`
- [x] put root directories in `src`
- [ ] cleanup tasks

[2014-05-22 08:02] MoOx opened #210 "use myth instead of rework directly"
Avec ce qu'on utilise on peut utiliser myth directement (less code) ça vous dit ?
J'ai fais ca pour plusieurs projets perso déjà, j'ia assez jouer avec rework et au final myth colle parfaitement avec ma vision des choses (bien que j'ai au début tenter d'ajouter plein de plugins rework qu'au final je n'utilise pas)

[2014-05-26 06:55] #184 closed, assigned to nobody

[2014-05-27 16:18] MoOx opened #214 "Certain post n'ont pas les ancres pour partager les morceaux de page"
ex: http://putaindecode.fr/posts/js/browserify-all-the-things/ ici pas d'ancres sur les titres :(

[2014-05-29 09:40] MoOx opened #218 "Le build Travis CI a un petit souci avec la task contributors"
Cf https://travis-ci.org/putaindecode/website/builds/26284334#L1869
(Il n'aurait pas du changer plus de 4/5 fichiers qui ont des dates (feed.xml et les fonts buildés)
https://github.com/putaindecode/website/commit/32f685a95095fc42eca434dc67e7c1a8aea7fa4a
Ca doit être une histoire de path ou quoi car il a viré les sections contributeurs sur certaines pages mais pas toutes.
Note: A débugger en mode

[2014-06-13 12:51] MoOx opened #223 "page "bloody stuff !" avec touts les paquets/lib qu'on recommande"
je met bloody car je pense à tous les bloody-* de @bloodyowl mais on peut imaginer faire des sections par langages et par exemple dans la section php on met symfony 2... :trollface:
Enfin voyez le truc. Ouais / non ?

[2014-06-13 14:27] MoOx opened #224 ""Standalonisé" les articles et leurs ressources"
En gros mettre tout ce qui est lié à un article dans le dossier de cette article.
Cad ne pas mettre les images des posts dans images/posts.

[2014-06-13 15:02] MoOx opened #225 "Faire versionner contributors.cache par Travis ?"
A étudier qu'on se fasse pas chier avec en local. On le met en ignore, et on le force commit via travis ?

[2014-07-06 06:18] MoOx opened #228 "Build was broken because of jade-exports"
@bloodyowl  I was fixing an issue on css stuff when I ran into an major issue: exports & pages were always set to null.
The `exportsPipe.on("end"` in the `exports.js` task was never called so cache was always empty. For now I just use on("data") but not sure if it's the right event to use.
Any idea wtf is going on with this event ?

[2014-07-06 06:18] #210 closed, assigned to MoOx

[2014-07-08 04:58] #214 closed, assigned to nobody

[2014-07-08 05:14] MoOx opened #229 "publish marchait* pas"
Travis lance la task publish, mais ca fait rien, pas d'erreur.
P-e du a une update de gulp-gh-pages.

[2014-07-08 07:16] bloodyowl opened #230 "update to cornea ^1.0.0"
- react-style templates
- events

[2014-07-09 05:28] #218 closed, assigned to nobody

[2014-07-09 05:31] #103 closed, assigned to MoOx

[2014-07-10 07:22] #186 closed, assigned to MoOx

[2014-07-16 08:20] MoOx opened #232 "Build kc (iconfont)"
https://github.com/putaindecode/website/commit/6a61251030c3d92ac56dc8a7ae37d979449815c6#commitcomment-6983703
J'ai du wip pour virer les iconsfont, faut que je finisse ça.

[2014-07-17 08:04] #232 closed, assigned to nobody

[2014-07-18 12:03] #224 closed, assigned to nobody

[2014-07-18 12:07] MoOx opened #235 "navigation pjax"
Ca serait facile à mettre en place avec (au hasard), ma petite lib [pjax](https://github.com/MoOx/pjax)
Je le ferais dès que j'ai fini ma refacto et couvert de test.
(j'ouvre cette issue pour me motiver)

[2014-07-30 12:44] MoOx opened #236 "remplacer "crew" par "top contributeurs" sur la home"
et faire plus discret

[2014-07-30 12:52] MoOx opened #237 "redesign la pages des articles"
Il faut une page avec les catégories et des pages par catégories avec les posts un peu ranger.
Faire un truc moins "tiroir mal rangé"

[2014-07-31 05:11] #236 closed, assigned to nobody

[2014-08-21 03:59] MoOx opened #239 "Intégration headroom.js ?"
http://wicky.nillia.ms/headroom.js/

[2014-08-27 15:08] MoOx opened #240 "Add normalize + cssrecipes-defaults"
Just to show a nice starter point ;)

[2014-09-12 11:37] Nyalab opened #241 "Watch should only reload the post you're working on"
I'm writing a post and whenever i make a change in my .md file, gulp reloads all the posts. It takes a very long time before i can see the changes livereloaded in my browser.

Maybe we should only reload the file we're working on.

[2014-09-23 11:34] MoOx opened #244 "travis encrypt via node marche plus"
https://github.com/putaindecode/website#via-le-paquet-node-travis-encrypt

Les options -k et -v ne sont plus dans la doc apparement (d'après @Nyalab)
La dernière fois que j'ai voulu le faire pour un autre repo de mémoire j'ai du faire via la gem.
Faut qu'on regarde ca.

[2014-09-23 12:10] MoOx opened #245 "livereload du site au publish ?"
C'est une idée: faire un check toute les min qui reload si t'as le sha1 du last commit updated via de l'ajax sur une page qui n'a que le sha1 (ou pas)

[2014-09-24 08:24] MoOx opened #247 "pourquoi on a la stylesheeet des icons versionnés"
Faut voir ca, me semble que ce problème revient.

[2014-10-13 15:05] #244 closed, assigned to nobody

[2014-10-13 15:41] #247 closed, assigned to nobody

[2014-10-13 15:50] bloodyowl opened #251 "moving to react"
basic architecture :
- parse posts & pages
- create json from it
- generate pages on build (as access points)
- write json files for client-side
- profit!

[2014-10-14 08:17] mourtazag opened #253 "Les tags cliquables, ce serait bien, je voulais afficher tous les articles sur ruby"
svp implémentez ça, merci. Bisous. : )

[2014-10-16 05:51] #229 closed, assigned to nobody

[2014-10-16 05:53] #235 closed, assigned to nobody

[2014-10-16 05:53] #230 closed, assigned to bloodyowl

[2014-10-16 05:53] #228 closed, assigned to nobody

[2014-10-16 05:53] #206 closed, assigned to bloodyowl

[2014-10-16 09:30] #240 closed, assigned to nobody

[2014-10-17 07:40] magsout opened #266 "Overflow - post detail"
iPhone : (white right part)

![img_2910](https://cloud.githubusercontent.com/assets/1997108/4675766/a95038f8-55d0-11e4-94c8-921d081251e0.PNG)

[2014-10-17 08:07] #266 closed, assigned to nobody

[2014-10-20 09:25] lionelB opened #276 "traiter Putain de code ! comme un seul élément."
Ajouter des espaces insécables sur Putain de code !

[2014-10-20 13:08] kewah opened #278 "Author and title blocks are overlapping"
![screen shot 2014-10-20 at 15 05 39](https://cloud.githubusercontent.com/assets/195442/4701541/2aa38dac-585a-11e4-93cd-ddbfc4b02ea9.png)

[2014-10-20 13:43] #278 closed, assigned to nobody

[2014-10-22 08:15] MoOx opened #288 "Et si on faisait un Calendrier de l'avent ?"
Ca me trottait dans la tête, et @magsout en a parlé aussi alors voilà, est-ce qu'on le fait ?

En français on a déjà 24joursdeweb mené par @HTeuMeuLeu

L'idée n'est pas de faire de la "concurrence", car ici on serait clairement "dans le code" ce que ne fait pas vraiment 24joursdeweb quand on regarde les précédentes éditions http://www.24joursdeweb.fr/

@bloodyowl a eu une bonne idée pour faire sim

[2014-10-27 04:21] #288 closed, assigned to nobody

[2014-10-29 08:25] MoOx opened #299 "Remplacer les snippets ```(ba)sh par ```console"
On s'est souvent trompé. Un search & replace devrait faire l'affaire avec control manuel vu qu'on a pas en vrai bcp de shell (pour le moment).

[2014-10-29 09:13] MoOx opened #300 "tooltip sur les avatars contributeurs qui marche plus"
maxime il a encore cassé un truc avec son multi auteur le con.

[2014-10-30 11:54] kud opened #304 "Tags devraient être clickable dans les posts"
:)

[2014-10-30 11:54] kud opened #305 "Optimiser les images (poids + plusieurs tailles)"

[2014-11-04 05:08] #299 closed, assigned to nobody

[2014-11-04 05:44] #300 closed, assigned to nobody

[2014-11-04 05:45] #63 closed, assigned to nobody

[2014-11-04 05:46] #304 closed, assigned to bloodyowl

[2014-11-04 10:03] Macxim opened #314 "Les espaces insécables ne sont pas interprétés"
Exemple ci-dessous :
![img_3207](https://cloud.githubusercontent.com/assets/1909957/4897813/b5f5e2b4-6409-11e4-9a0b-d071e44514a9.PNG)

[2014-11-08 18:19] bloodyowl opened #315 "React ROADMAP"
ref #251

just so that everyone knows :

## breaking changes

- we'll drop `index.jade` files and put metadata at the top of markdown files directly

[code]

- we'll stop using gulp, `npm scripts` will manage everything with bin directly
- we move from browserify to webpack (enabling the use of react-hot-loader, and makes us write less config)
- move from SuitCSS to cssrecipes
- stop using jade &

[2014-11-08 18:29] #251 closed, assigned to nobody

[2014-11-08 18:29] #241 closed, assigned to nobody

[2014-11-16 15:27] bloodyowl opened #317 "move static assets to a public/assets for simple copy ?"

[2014-11-16 15:58] bloodyowl opened #318 "move SingleStoreMixinFactory to the base Store class"

[2014-11-18 08:28] MoOx opened #319 "highlight.js integration not optimal"
Cf last response https://github.com/isagalaev/highlight.js/issues/629

[2014-11-18 08:55] #245 closed, assigned to nobody

[2014-11-20 13:05] syvuilliot opened #320 "Proposition d'article sur l'état des lieux du js modulaire pour le front"
Bonjour,

j'apprécie votre blog pour sa qualité, son actualité et son ton. Et comme j'ai le sentiment que j'ai des trucs intéressants à partager sur la modularisation du JS côté front, je me suis dit que ça serait bien de rédiger un article et de vous en faire part.

Je vous fait une PR en bonne et due forme.

[2014-11-20 14:07] MoOx opened #322 "Pas de doc sur le fichier des contributeurs"
Cf https://github.com/putaindecode/putaindecode.fr/issues/320

[2014-11-20 16:15] MoOx opened #323 "Contributor task broken ?"
Missing author key from GitHub API response

https://travis-ci.org/putaindecode/putaindecode.fr/builds/41597860

[2014-11-20 16:16] #320 closed, assigned to nobody

[2014-12-04 14:00] notabene opened #326 "ajouter une couleur de fond"
C'est une bonne pratique de définir la couleur de fond pour le site cf http://nota-bene.org/Background-and-foreground-colours

[2014-12-04 14:36] #326 closed, assigned to nobody

[2014-12-15 16:43] #323 closed, assigned to nobody

[2014-12-17 15:36] MoOx opened #328 "async build issue related to jade-exports"
@bloodyowl j'ai pris un peu de temps pour regarder ce bug

![screen shot 2014-12-17 at 16 32 22](https://cloud.githubusercontent.com/assets/157534/5473536/6cd42514-860a-11e4-8a7a-0538816991e5.png)

url et MD ok, par contre contenu export (meta) pas ok (correspond à un autre post). J'ai fais du debug niveau jade-exports (output d'un json du cache) ça à l'air ok en fin de process.
J'ai fais un debug

[2014-12-27 14:19] awillemant opened #330 "Article sur HATEOAS"
Bonjour à tous,

Bravo pour ce blog, j'adore l'esprit décalé ;)

Un article sur les API ReST et l'Hypermedia est-il pertinent pour Putain de code ?

Je compte parler des niveaux de maturité de Richardson, de l'Hypermedia As The Engine Of Application State et d'un exemple d'implémentation.

Je reste à votre dispo pour toute information complémentaire.

Merci d'avance !

[2015-01-08 09:28] MoOx opened #331 "proposition de post: après 3 jours avec Vim"
titre: "Il démarre Vim par erreur, ce qui se passe ensuite est tout simplement bluffant"
ou un titre dans le genre.

[2015-01-08 09:32] MoOx opened #332 "proposition de séries de post sur l'intégration continue"
- [x] L'intégration continue c'est quoi?
- [x] Le déploiement continue
- [ ] Mise en place d'intégration continue avec Travis-CI (*nix)
- [x] Deployer un projet sur GitHub Pages via Travis-CI
- [ ] Mise en place d'intégration continue avec AppVeryor (windows)
- [ ] Mise en place de tests d'UI automatisés dans tous les navigateurs avec Testem
- [ ] Execution de tests d'UI automatisés avec SauceLab

[2015-01-08 13:07] bloodyowl commented on #331
:+1:

je peux aussi participer à l'écriture si ça te branche

[2015-01-08 13:08] MoOx commented on #331
Je pousserais rapidement un plan pdt que c'est chaud, on itèrera dessus.

[2015-01-08 13:14] justinmarsan opened #333 "Proposition de post : Shake ton DOM - GreenSock Animation Platform tut'"
https://greensock.com/gsap

Librarie pour faire des animations, changer les propriétés css toussa, en allant un peu au-delà du $(this).animate() de jQuery...

[2015-01-08 13:17] Nyalab commented on #331
Je ne souhaite pas participer à l'écriture mais je pourrais peut être vous donner des retours sur mon xp à moi pour affiner, si j'ai pas eu les mêmes réactions ou compréhensions ;-)

[2015-01-08 13:18] Nyalab commented on #332
Fais attention à ne pas trop vouloir en faire, tu peux faire quelques posts avec plusieurs grandes parties pour pas t'essouffler et passer 20 ans sur le même sujet (sans doute que toi à côté tu seras passé à autre chose en plus).

Sinon, :+1:

[2015-01-08 13:20] MoOx commented on #333
Pourquoi pas.
Tu vas reprendre ça j'imagine https://greensock.com/get-started-js ?

[2015-01-08 13:23] justinmarsan commented on #333
Le contenu sera similaire (forcément) mais un peu condensé parce que c'est hyper long, et j'ajouterai une partie sur DrawSVG qu'ils ont pas "tutorialée" encore qui est dans la dernière version de la lib ( http://greensock.com/drawSVG )

[2015-01-08 13:24] MoOx commented on #332
J'ai déjà un putain de brouillons avec 3/4 parties :)
Je compte vraiment faire des posts courts.

[2015-01-08 13:28] magsout commented on #331
:+1:

[2015-01-09 08:50] drazik commented on #332
Très intéressé par le sujet. Ca manque de ressources concrètes sur le web je trouve.

[2015-01-10 22:55] Macxim commented on #332
Ça m'intéresse beaucoup aussi. :+1:

[2015-02-04 10:11] madx commented on #328
FAUT FIXER ÇA MA GUEULE

[2015-02-04 10:22] kud commented on #328
Dans l'idée, je trouve ça pas mal.

[2015-02-04 10:23] MoOx commented on #328
c'est juste la loose.

[2015-02-04 10:24] kud commented on #328
Tout ça parce que c'est moi et pas vous indiquer sur le post. Tssssssssssss.

[2015-02-09 12:52] Nyalab commented on #315
Je peux avoir un ~topo~ (quelques mots, vous faites pas chier) sur quoi je pourrais commencer à bosser ?

[2015-02-09 13:17] lionelB commented on #315
Coucou,
 je pensais justement à m' y mettre aussi maintenant que j'ai fait mon site. Les trucs easy, c'est de commencer avec les petits composants sur les pages ensuite un compo par type de page.

[2015-02-12 06:46] angezanetti commented on #332
:+1:  aussi !

[2015-02-12 13:54] lionelB opened #336 "Retur d'expérience sur la mise en place react server side react router et flux"
Suite à mes expérimentations (https://github.com/lionelB/lumographe.fr) , je pensais faire un post de récap. Le titre reste à trouver
le plan prévu :

## intro
motivations et intérêts.
Présentation des briques (react-router, flux)

## Principe et mise en place
Intégration avec express  (middleware)
1- serveur
2- initialisation du client (synchro des stores)
3- Navigation

## conlusion
Difficultés

[2015-02-13 10:18] MoOx commented on #336
Bah ca serait top qu'on ai même ca sur le site de p! :)
Mais sinon go.
J'ai un peu peur que le post soit long mais à voir.

[2015-02-13 12:59] Nyalab commented on #336
:+1:

[2015-02-13 13:03] magsout commented on #336
:camel:  (y a pas d'âne)

[2015-02-17 14:07] lionelB commented on #336
@MoOx  en fait, je pense que je vais découper:
la première partie porte sur react-router en fait (avec un peu de flux à la fin) plus les problématiques que j'ai rencontrés.

y'aura surement un post " Mes p! de problèmes " ou je parlerais des pb que j'ai eu
- l'intégration de react-hotloader avec un serveur existant qui m'a causer quelques soucis
- la gestion des 404
- l'initialisation des stores c

[2015-02-21 12:41] lionelB commented on #336
incoming!! putaindecode/putaindecode.fr/pull/337
et merci @Macxim pour les typo, c'est mergé

[2015-02-22 18:16] bloodyowl commented on #315
just for the record, I worked a bit on the server/client cohabitation and came up with this API : https://gist.github.com/bloodyowl/384dc4706896d1a6811b

I got the code working, just need to add some tests.

the chosen stack is :
- ES6 (with some nice ES7 experimental features e.g. https://gist.github.com/bloodyowl/384dc4706896d1a6811b#file-poststore-js-L8-L16)
- webpack
- dispatcher-agnostic acti

[2015-02-22 18:19] kud commented on #315
It could be great to make an article about the migration. In order to be useful for our readers.

[2015-02-22 18:33] bloodyowl commented on #315
we'll update the "how to contribute" page for that.

about the migration I think I'll write about the constraints of sharing a flux architecture between client and server and how this solution works them out.

[2015-02-22 18:36] kud commented on #315
By the way, what's the point of this migration? Do we will get a more optimised system? Will it be easier for the contributor?

[2015-02-22 18:51] bloodyowl commented on #315
- better performance as this is a pre-rendered SPA (minimal set of requests are made when you navigate through the site)
- better testability (everything used to generate the pages is plain JavaScript)
- lighter codebase (no more gulp hacks)
- proper routing system
- much faster page generation
- no more issues with async page generation
- easier to contribute (one file for an article, one file fo

[2015-02-22 18:54] kud commented on #315
It's really the last point I'd love to see. Making a post in the current system is quite boring.

[2015-02-22 19:24] lionelB commented on #315
Yop,
I'm all ok with the chosen stack, I've just a some mixed feeling about Flux.
From my recent experience, I'm not sure Flux is mandatory for our kind of site (static site with few dynamic part, like the post page) and could add an overall complexity ( bootstrapping the right store depending on the current url same for the client).

I'm not against flux, just want to open the discussion

Also, I

[2015-02-22 19:51] MoOx commented on #315
Can't wait for this stack !

![vdamesplit](https://cloud.githubusercontent.com/assets/157534/6320038/2541c284-bad4-11e4-853d-7084f7ddb586.gif)

[2015-02-22 19:53] kud commented on #315
metalsmith + cssnext could be enough but if you think this stack is great, so go ahead. I just want no compilation error the next time I write an article.

[2015-02-22 20:03] MoOx commented on #315
Something like metalsmith can't work when you get more & more posts.

You do have some right now ?

[2015-02-22 21:13] kud commented on #315
1/ Define why metalsmith can't make the deal
2/ No but I remember well irc bot project migration

[2015-02-23 06:34] MoOx commented on #315
1/ metalsmith does not offer fast rebuild during dev, does not have a routing system and, ice on the cake, does not alllow to receive trolls about the stack ^^

2/ all the problems we got with that came from the multi channel thing. Anyway we do not put enough energy for this migration... It's just a useless irc bot, not a website with 10000 sessions per month and "serious" content.

[2015-02-23 10:52] madx commented on #315
What about accessibility? Will the site still be browseable without JS?

[2015-02-23 12:16] lionelB commented on #315
@madx tell me http://lumographe.fr

[2015-02-23 13:19] madx commented on #315
Hmmm, looks neat :D

[2015-02-23 16:55] lionelB commented on #336
Done! Thx all, pour info le build est  niquel
 J'ai fais depuis le téléphone, c'est rigolo

[2015-02-23 16:55] #336 closed

[2015-02-23 17:03] MoOx commented on #336
Héhé :)
GG.

[2015-02-23 18:10] Nyalab commented on #336
bravo mec

[2015-02-23 20:44] lionelB commented on #336
je  peux  vous laisser faire le tweet demain matin ? j'ai pas les accès

[2015-02-23 21:50] MoOx commented on #336
ouais t'inkiète pas. Tu les as si tu cherches dans les docs google partagés. Si y'a pas demande ;)

[2015-02-25 08:21] MoOx opened #341 "Replace testling by saucelab"
testling is kind of dead. SauceLab is not.

[2015-02-26 08:50] bloodyowl commented on #341
will do it when adding `testem` with the react update.

we just have to wait for `react-router` to support react@0.13.*

[2015-02-26 08:53] MoOx commented on #341
Yeah sure.

[2015-02-28 19:58] MoOx opened #344 "Ajouter des index des catégories"
Ouais y'a des issues en anglais, d'autres en français, c'est la fête du slip.

Bon je pense à ça depuis un moment, mais ça serait vraiment pas mal de faire des index manuels des catégories. Ca demande un petit boulot éditorial, mais ça serait vraiment bien. Un point d'entrée intéressant et commenté. On pourrait ainsi rajouter en référence des posts externes comme http://www.splitfire.fr/blog/artic

[2015-03-01 18:08] awillemant commented on #330
PR poussée

[2015-03-02 06:31] magsout commented on #332
:+1:

[2015-03-02 06:32] magsout commented on #333
Interessant, des nouvelles ?

[2015-03-02 06:34] magsout commented on #344
Ouais alors j'avais pas vu ton issue https://github.com/putaindecode/propositions-de-posts/issues/62

Par contre j'ai pas compris.

[2015-03-02 06:36] MoOx commented on #344
En gros on fait des pages à la racines des /posts/{cat}

Genre /posts/js/(index.html) on on pose un petit blabla sur le JS et on y liste (avec sens) tous les posts qu'on a écrit (ou qui ont été écrit ailleurs faute de ressources chez nous) afin de proposer de bonnes pistes. Vous en pensez quoi ?

[2015-03-02 08:59] magsout commented on #344
Ah, bonne idée je trouve

[2015-03-02 10:34] justinmarsan commented on #333
J'ai pas eu de retours, pas le sentiment que @MoOx soit hyper emballé, pas d'autres retours du coup j'ai pas trop bougé pour le moment.

ScrollMagic (une lib d'animation au scroll qui utilise GSAP) vient de sortir en v2, je suis en contact avec le dev de la lib, je vais m'occuper du wiki et du tutoriel *officiel* et ensuite faire un tut qui va avec en anglais spécifique à GSAP, j'avais pour projet

[2015-03-02 20:38] bloodyowl commented on #333
quitte à faire un article sur les animations, je préférerais qu'on aille vraiment dans le détail de comment le faire soi-même.

[code]

&

[code]

parce qu'honnêtement je vois pas la valeur ajoutée de gsap

[2015-03-02 21:15] lionelB commented on #333
@bloodyowl je connais pas très bien (je l'avais à pein utiliser en flash alors ça date) mais il me semble que gsap offre pas mal de truc intéressant comme la timeline, la possibilité de play / pause / reverse, une syntaxe de chaining qui fonctionne pas mal pour du tweenn le support du easing.
Pour animer un scale de bouton c'est pas vraiment utile. par contre pour ce genre de truc http://www.shane

[2015-03-02 21:18] bloodyowl commented on #333
wai c'est du sugar quoi

[2015-03-02 21:20] lionelB commented on #333
ouais comme n'importe quelle lib en fait ;-)

[2015-03-02 21:20] justinmarsan commented on #333
Je suis d'accord que pour des animations relativement simples c'est pas ouf, par contre effectivement les  timelines sont assez pratiques pour écrire sont code, rien que les marqueurs nommés, qui permettent de se référer à un nom dans la timeline pour positionner le début d'un tween, etc etc...

Après je suis d'accord que c'est pas du from-scratch et qu'en soit la lib est pas fondamentale, mais si

[2015-03-02 21:21] bloodyowl commented on #333
wai ok mais pour le coup, pour un article sur p!, je pense que notre visée c'est plus de donner les clés pour comprendre que de donner les clés pour faire :smile:

[2015-03-02 21:23] lionelB commented on #333
@bloodyowl je suis d'accord avec ça \o/

[2015-03-03 07:31] #331 closed

[2015-03-03 07:42] MoOx commented on #328
J'en peux plus de ce bug.

@bloodyowl t'en es où bichon avec la branche react ? T'as besoin d'aide ?

[2015-03-03 08:55] MoOx opened #348 "Mettre en plus visible le lien pour modifier les pages"
Encore une fois une personne a proposé une modif sans avoir vu le lien "modifier la page".
C'est pas la première fois.

![screen shot 2015-03-03 at 09 54 40](https://cloud.githubusercontent.com/assets/157534/6459096/5959c3ba-c18b-11e4-8b00-e6ae232e58d6.png)

On doit faire mieux :)

[2015-03-06 16:01] kud opened #350 "Comment debugguer facilement du web même sur tablettes et téléphones"
Un 'tit aperçu de l'article que je compte publier : http://simp.ly/publish/LWqQqx

Si vous êtes ok dans l'ensemble, je PR et on corrige ça plus en détail.

[2015-03-06 20:43] magsout commented on #350
:+1:

je ne connaissais pas weinre, bon après j'ai jamais eu à debug du Android browser de merde.

Par contre pour la partie Chrome, pour debugger du chrome faut forcément passer par about:inspect ? non ? peut-être le mentionner ?

[2015-03-06 20:49] kud commented on #350
J'avoue, je vais le rajouter en effet.

[2015-03-07 14:00] lionelB commented on #350
J'ai lu rapidement hier. Je te fais un retour un peu pêle-mêle

Globalement, je pense que ca pourrait etre pas mal de découper en plusieurs post
(debug weinre,  FF webide,  debug http), après lecture du post, j'ai trouvé me tout un peu décousu.

je trouve que les screen shot des différent browser n'apporte pas grand chose.

Sur la partie quid du mobile, l'explication me semble un peu magique (conn

[2015-03-07 16:14] kud commented on #350
+1 pour les screenshots, je pense pas que ce soit utile de tout détailler sur ça.

Okay pour parler un peu plus de weinre.

Par contre, en effet, ils ont grandement amélioré le debug sous adb / chrome / firefox ide. Plus besoin de lancer ça par cli.

[2015-03-11 12:40] MoOx opened #351 "Ajouter des notes sur les articles dépréciés"
Chaque dépréciation devra passer par une PR, avec une explication sur le pourquoi et surtout un lien vers une ressource plus à jour.
Un documentation sur ce processus devra aussi être ajouté pour ne pas oublié quand et comment faire ça.

[2015-03-11 12:45] kud commented on #351
obsolètes*

[2015-03-11 12:47] magsout commented on #344
poke @putaindecode/owners

[2015-03-11 13:11] magsout commented on #351
:+1: comme dit sur irc

[2015-03-11 13:15] MoOx commented on #351
Le post sur grunt n'est pas obsolète dans le sens où plein de gens se mettent à grunt. Par contre nous pouvons prendre l'avis de déprécier un post en faveur d'une ressource plus récente. J'ai donc volontairement utilisé déprécié (depreciated et non deprecated donc).

[2015-03-11 13:18] magsout commented on #350
Même sur firefox, entre les premières version du `se connecter à distance et webide, tout est nativement geré et installé. Juste à confirmer la connexion sur la tablette

[2015-03-11 13:22] MoOx commented on #344
Ils ont déjà été poké. Ne t'en fais pas on le fera.
Pour moi quand je fais une proposition, sans réponse sous quelques jours je considère que personne n'a d'objections. Puis si les gens en ont, il nous ferons signe.

Note: on attendra la version react pour se lancer là dedans. Il faudra en fait update ensuite la doc sur la rédaction des posts et chaque post devra figurer dans les index: soit manue

[2015-03-11 13:37] magsout commented on #344
ouip nickel..

[2015-03-11 14:01] kud commented on #350
rien compris à ce que tu as dit @magsout

[2015-03-11 14:50] lionelB commented on #344
ça serait top meme, à voir si on arrive à le maintenir dans le temps

[2015-03-11 14:52] lionelB commented on #351
bien vu :+1:

[2015-03-12 07:11] MoOx commented on #330
PR mergé

[2015-03-12 07:11] #330 closed

[2015-03-12 07:13] MoOx commented on #328
bon faudrait pousser la branche react en l’état @bloodyowl.
Qu'on avance dessus. Je sais que ça te tient à coeur mais là en l'état le site est plus possible. Y'a des putains de bug de partout, j'avais quasi 1/3 des posts qui avaient le meme header...
Je viens de faire un deploy de p! à la main, c’est juste l'horreur.
Bon si on attendra mais on publie plus rien tant qu'on a pas réglé ça OU sortie l

[2015-03-12 07:14] MoOx commented on #328
Bon je ferme cette issue car elle me file la nausée d'ailleurs.

[2015-03-12 07:17] MoOx opened #352 "ON ATTEND LA VERSION REACT POUR PUBLIER QUOI QUE CE SOIT"
# roadmap react reboot

note: chaque tache ci dessous à peut-être des choses intéressantes liés dans `./todo`.
Ce dossier devra être vide pour les bonnes raisons avant publish de cette nouvelle version. Je pense qu'on se comprends :)

- [ ] convertir les posts au format souhaité [@MoOx]
- [x] parsing des .md
- [ ] pre-render des pages
  - [x] post
  - [ ] home
  - [ ] liste
  - [ ] page spécifique

[2015-03-12 07:17] MoOx commented on #352
@bloodyowl j'ai mis n'importe quoi un peu, mais c'est pour te mettre la pression :)
Libre à toi d'update cette issue ;)

[2015-03-12 07:19] MoOx commented on #341
Closing in favor of #352

[2015-03-12 07:19] #341 closed

[2015-03-12 07:19] MoOx commented on #318
Closing in favor of #352

[2015-03-12 07:19] #318 closed

[2015-03-12 07:19] MoOx commented on #315
Closing in favor of #352

[2015-03-12 07:19] #315 closed

[2015-03-12 07:38] MoOx opened #353 "Les bio doivent être à la 3e pers"
J'ai vu celle de @awillemant à la 1e pers, je ferais un tour et ajusterai ça à l'occassion.
Faudra aussi documenter ça que les gens le fassent d'eux même.

[2015-03-12 07:39] MoOx commented on #350
Je rejoins totalement les points de @lionelB.
Ça mérite a être découpé et mieux ficelé.

[2015-03-12 07:43] MoOx commented on #317
Closing in favor of #352

[2015-03-12 10:47] magsout commented on #350
@kud

Que maintenant, debugger Chrome mobile ou Firefox mobile avec les dev-tools des versions desktop est nettement plus facilement et accessible car il n'y a plus rien à installer contrairement à avant ou il fallait installer adb, installer l'addon truc etc... C'était juste pour rebondir sur les propos de @lionelB

[2015-03-12 10:51] kud commented on #350
Oui je suis d'accord.

[2015-03-12 15:24] lionelB commented on #352
c'est bizarre je vois pas la branche react. c'est un bug dans github ?

[2015-03-12 16:07] MoOx commented on #352
Cet enculé de @bloodyowl se la garde en secret... :(

[2015-03-12 16:14] bloodyowl commented on #352
**current status**

- [ ] conversion de tous les .md au nouveau format
- [x] parsing des .md
- [ ] pre-render des pages
  - [x] post
  - [ ] home
  - [ ] liste
  - [ ] page spécifique
- [x] base du routing (:warning: en attente du support 0.13 de react-router)
- [x] logique de fetching de la data côté front
- [x] récupération de la data initiale côté front
- [ ] update cssrecipes
- [ ] séparation

[2015-03-13 05:58] MoOx commented on #352
Bon à savoir.
Tu la pousses quand la branche qu'on avance dessus en équipe ? :)

[2015-03-13 06:45] magsout commented on #352
![push](https://cloud.githubusercontent.com/assets/1997108/6634209/dffb520a-c954-11e4-932e-8ab36fee8d57.gif)

[2015-03-13 09:59] madx commented on #352
![](http://gifrific.com/wp-content/uploads/2015/01/Cat-Falling-Asleep.gif)

[2015-03-13 10:09] MoOx opened #356 "Remplacer Disqus"
La pub va arriver, hors de question qu'on est une pub non sollicité par les @putaindecode/owners
On va tranquillement voir comment virer tout ça.

https://business.disqus.com/blog/disqus-launches-global-programmatic-native-advertising/

[2015-03-13 10:12] MoOx commented on #356
J'ajoute une note car @kud n'aime pas que "je prenne des décisions seul".
Selon moi, si y'a de la pub sur ce site, c'est avec les conditions suivantes:
- totale controle par l'équipe édito
- rémunération des auteurs au pro-rata + dispatch pour d'eventuelles frais (nom de domaine + server si on devrait en avoir un).

[2015-03-13 10:13] madx commented on #356
:+1:

[2015-03-13 10:14] kud commented on #356
Je suis d'accord avec ça !

Allez, sujet clos, on vire cette merde.

[2015-03-13 10:14] dguyon commented on #356
Idéalement, ca serait mieux sans publicités...

[2015-03-13 10:14] magsout commented on #356
:+1:  , on vire

[2015-03-13 10:15] MoOx commented on #356
On clos pas le sujet, on l'ouvre @kud. Il faut réfléchir:
- alternative sans pub
- trouver une soluce open source (cela pourra nécessiter un serveur).

[2015-03-13 10:19] kud commented on #356
Faut tout cramer. Pas de commentaire, c'est pour les faibles. De toute facon, y'a rien à rajouter à nos posts, ils sont PAR-FAITS.

[2015-03-13 10:25] Nyalab commented on #356
Ouais, enfin, on utilise twitter pour @putaindecode et y'a exactement le même type de pub

[2015-03-13 10:28] kud commented on #356
Et on a un groupe facebook.

[2015-03-13 10:30] magsout commented on #356
@Nyalab sauf que nos articles sont pas en lecture  sur twitter.

[2015-03-13 10:38] MoOx commented on #352
j'ai update la desc à partir de https://gist.github.com/bloodyowl/4c88983b6643eb957905

[2015-03-13 10:39] MoOx commented on #352
j'ai mis des noms à côté des tasks, on peut en voir ça ici si vous voulez.

[2015-03-13 10:47] MoOx commented on #356
@bloodyowl a proposé ça http://web.livefyre.com/apps/comments/

[2015-03-13 10:53] dguyon commented on #356
:+1:

[2015-03-13 10:56] madx commented on #328
Pour info, j'avais aucun problème au build

J'ai mis à jour mes node_modules, et hop, j'ai eu des problèmes. Voici la liste des anciens et nouveaux modules au cas où ça puisse aider

https://gist.github.com/madx/9777681462b1af337e6d

[2015-03-13 10:58] MoOx commented on #328
Pas tant de diff que ca en fait. npm shrinkwrap pourrait patcher l'histoire.

[2015-03-13 11:12] magsout commented on #356
je connais pas, pourquoi pas.

[2015-03-13 17:13] bloodyowl commented on #352
pour le server-side, je pense à :
- utiliser level pour stocker les posts & auteurs
- update uniquement le nécessaire dans la database à chaque deploy

du coup ce serait ultra facile de générer le JSON dynamiquement pour les tris par tags et autres features auxquels on pourrait penser.

vous en pensez quoi?

[2015-03-13 18:17] MoOx commented on #352
Perso tout me vas tant que c'est simple et rapide à mettre en place (vu l'état de la master).
Ne pas viser trop loin dessuite non plus, qu'on itère au plus court :)
Si on peut à terme rester sur du static (cache suprême) c'est bonus.

[2015-03-13 19:01] kud commented on #356
Un peu dans la même idée. A méditer.
http://framablog.org/2015/03/13/google-code-ferme-ses-portes-nous-on-les-ouvre/

[2015-03-18 15:10] MoOx commented on #352
Mon script est quasi fini pour les conversions
Tant qu'à y être on peut réorganiser les champs

Je propose (sans trop de raison)

[code]

Notez que je vois un champ `type` existant. On le garde pour le layout ?
Comment tu comptes gérer les pages "statiques" @bloodyowl ?
Ca serait bien d'avoir aussi des .md avec un truc style "type: page" (et le type sert à choper un layout qui va bien).
Je pense a

[2015-03-18 15:16] bloodyowl commented on #352
le `type` est pas nécessaire, la présence dans `posts` sera suffisante pour définir ça. pour les autres pages ce sera des layouts particuliers.

pour `comments` tout bien réfléchi, on peut mettre `true` par défaut et seulement ajouter `false` dans le cas où on souhaite les fermer.

[2015-03-18 16:12] MoOx commented on #352
ok pour les comments.
Pour les "autres" pages, on peut se basser sur le même système de md ?

[2015-03-18 17:25] bloodyowl commented on #352
README & comment participer en soi ce sont des posts non-listés, donc wai on utilise le même système, à voir si on les met pas ailleurs que posts/

[2015-03-18 22:14] kud commented on #350
Mieux là ? https://app.simplenote.com/publish/LWqQqx

Plus d'explication sur WebIDE ?

[2015-03-19 15:10] kud commented on #350
poke @putaindecode/authors

[2015-03-19 16:57] magsout commented on #350
Un Bon article.

Quelques tournures à revoir et quelques fautes mais ça se corrigera en PR. 👍

[2015-03-19 16:59] kud commented on #350
Voulez-vous plus d'explications sur WebIDE et Weinre ou c'est ok pour vous ?

[2015-03-19 17:03] lionelB commented on #350
c'est bon si je relis ça ce soir et je te dit ?

2015-03-19 17:59 GMT+01:00 Erwänn Mest <notifications@github.com>:

[2015-03-19 17:03] kud commented on #350
Pas de souci, ;)

[2015-03-20 06:34] MoOx commented on #350
J'aurais fait ce post en 2 temps:
- une présentation plus en détails de webide (pas forcément en expliquant tout, ce que fait déjà mdn) (+ cliffanger de fin: ca marche pas avec android browser)
- un post sur weinre

Tout ça dans une categorie /posts/browsers/debug/ (ou un truc du genre) ou on y mettra un petit index qui fait un très court résumé en quelques phrases des ces 2 posts (cf #344)

Note:

[2015-03-20 06:58] magsout commented on #350
J'avais d'ailleurs fait un article sur les dev tools dans les navigateurs pour le rwd  http://www.splitfire.fr/blog/article/le-responsive-dans-nos-navigateurs

[2015-03-20 08:07] lionelB commented on #350
Cool, c'est vraiment mieux pour ma part.
sinon je pense que la capture d'écran de weinre apporte pas grand chose (beaucoup de texte).
En fait je me demande si développer la partie install de weinre pourrait pas sauter (ça resterai cohérent avec la partie webide)

L'idée de @MoOx est pas mal si t'as envie de développer un peu plus les parties install/utilisation de weinre

ps : la partie sur les re

[2015-03-20 08:54] kud commented on #350
Okay, je vois.

Je pense que je vais améliorer la partie WebIDE et Weinre et je ferai une
PR.

2015-03-20 9:07 GMT+01:00 Lionel <notifications@github.com>:

--
*Erwann Mest*
kud.io

[2015-03-20 10:26] Nyalab commented on #350
Rien à redire pour moi, le fond est bon et à ne pas découper, si on est dans l'optique debug, on sait de quoi tu veux parler dans l'article, du coup, pas besoin de découper ou expliquer pendant 3 phrases ce que tu dis concrètement en une. À part la forme, qui est un peu chelou, mais ça rendra différemment sur p! je pense.

Du coup, pas beosin de retouche pour moi, je vois pas le besoin de découper

[2015-03-20 10:28] kud commented on #350
Je ne souhaite pas découper, je pense que l'article se base sur comment débugguer, et la personne regarde ce qui l'intéresse.

Par contre, je trouve la partie WebIDE et Weinre un peu trop légère. Je vais la détailler.

Merci pour vos retours.

[2015-03-21 08:53] justinmarsan opened #358 "Ajax, localStorage et pushState pour un site plus rapide"
J'ai commencé à bosser sur un petit projet, je me dis que ça peut éventuellement être intéressant pour P!

L'idée de base étant de pre-loader les pages d'un "petit" site, de stocker le contenu dans localStorage et remplacer tout le body au clic sur un lien interne, pour éviter de perdre du temps sur l'établissement de la connection, le rechargement de certains éléments & co, avec pushState pour co

[2015-03-21 09:00] justinmarsan commented on #358
* Comprendre ce qui freine entre un clic et l'affichage de la page suivante
* Pré-charger les pages internes pour supprimer toute latence et temps de téléchargement
* Garder le contenu des pages en mémoire avec localStorage
* Conserver l'historique et le Back Button avec pushState
* Limites et contraintes (onload event, etc)
* Autres resources (liens vers méthode pjax, plugin instantclick, autre)

[2015-03-21 17:02] drazik commented on #358
Un sujet qui m'intéresse ! J'espère que ton post verra le jour :)

[2015-03-21 17:05] kud commented on #358
+1 pour ce post, très intéressant @justinmarsan. ;)

[2015-03-21 17:45] MoOx commented on #358
En fait c'est pjax + preload/cache.
j'ai un module de pjax qu'on pourrait améliorer dans ce sens https://github.com/MoOx/pjax

[2015-03-21 17:48] kud commented on #358
Oui sauf que là, c'est expliqué en article, donc bien.

[2015-03-23 09:15] lionelB commented on #358
Super idée. Si tu peux faire un bench avant/après selon les navigateurs, je pense que ça pourrait être taupe!

[2015-03-23 09:20] MoOx commented on #358
@kud je ne disais pas qu'il ne fallait pas en faire un article. Je voulais juste confirmation par @justinmarsan que c'était bien "juste" pjax + preload/cache (un bon pjax incluant la conservation de l'historique) - et que éventuellement il pourrait contribuer à mon projet plutôt que d'en faire un autre à part (vu qu'il y aura bcp de code similaires).

@lionelB Je pense pas qu'un bench soit nécessa

[2015-03-23 09:29] justinmarsan commented on #358
Oulah, beaucoup de réponses !

@drazik @kud @lionelB ravi que ça vous plaise comme idée, pour une fois que je propose pas un truc trop de noobzor, ça change !

@MoOx j'ai fait le tour de ton repo, effectivement l'idée est la même, c'est du pjax sauf qu'au lieu d'attendre le clic, de charger à l'avance et conserver le tout dans le localStorage pour que ça soit encore plus instantané tout au long de

[2015-03-23 09:45] MoOx commented on #358
@justinmarsan, justement mon point aurait été d'ajouter la fonctionnalité de preload dans la lib. Ton post pourrait expliquer le concept, ton approche en l'algo avec un peu de technique (pas poser un snippet de code à copier coller). Après tu fais comme tu le sens. C'était aussi pour t'économiser des bugs.

De plus, je pense que modifier tout le body risque de provoquer beaucoup de bugs (si tu as

[2015-04-03 23:22] kud commented on #350
Je pense cette fois-ci avoir fini ce post : http://simp.ly/publish/LWqQqx

Dites-moi ce que vous en pensez et avec un peu de chance, on peut déployer ça la semaine prochaine.

Par contre, je suis assez embêté par notre système de blog au vu des propos https://github.com/putaindecode/putaindecode.fr/issues/352

Que puis-je faire ? est-il possible tout de même de publier ?

[2015-04-04 04:57] MoOx commented on #350
Quelques petits points à revoir dans la forme mais ça attendra une PR.

Tu peux publier si et seulement si tu règles la #328 ce qui pourrait se faire "facilement" finalement vu les propos de @madx .

[2015-04-04 12:53] magsout commented on #350
:shipit:

[2015-04-04 17:09] magsout opened #359 "Command-line utilities avec Node.js"
J'ai commencé à écrire un article sur comment faire un utililaire en ligne de commande avec Node.

Comme expliqué dans l'article j'en ai écrit un, et j'ai voulu partager mon retour d'xp.

Pour le moment, juste une grosse intro.

Je voulais tourner ça comme une espece de tuto, avec un exemple bateau et présenter quelques utilitaire sympa comme `commander` ou même `chalk`

https://gist.github.com/ma

[2015-04-04 17:20] kud commented on #359
Un peu court mais intéressant.

[2015-04-04 17:53] magsout commented on #359
Merci. C'est juste le début. Il manque toute la partie sur les exemples d'utilitaires mise en situations.

[2015-04-04 18:38] MoOx commented on #359
Moi je trouve ça bien. Pas vraiment trop court. Les gens aiment les posts court (moi le premier). Ca peut être l'objet d'une serie comme j'ai en draft sur la CI.

[2015-04-06 07:45] MoOx commented on #352
Closing for #361

[2015-04-06 07:45] #352 closed

[2015-04-07 05:41] MoOx commented on #328
I didn't succeed to get a correct build even with old packages. This bug is old so not sure @madx if you didn't miss something else. Anyway, #361 !

[2015-04-07 05:41] #328 closed

[2015-04-13 17:17] MoOx opened #363 "Considerer un metalsmith en attendant #361"
Tout est dans le titre.

Car on est plusieurs à avoir des posts dans le pipe.

Et que la #361 demande du temps. Plus qu'un metalsmith.

[2015-04-13 17:31] lionelB commented on #363
t'as une idée du travail de migration des post ?
je suppose qu'en attendant on pourrait ré-utilisé la css compilée et juste se concentrer sur la partie génération de post ?

[2015-04-13 17:34] magsout commented on #363
Ouais alors l'idée est pas bête mais j'ai peur quand faisant ça on repousse ad vitam la version ReactJS...

[2015-04-13 18:03] MoOx commented on #363
Les posts sont déjà migré sur la branche react, donc travail de migration rien à faire.

[2015-04-13 18:39] kud commented on #363
+1 pour ça

[2015-04-13 18:49] lionelB commented on #363
Il y a aussi la partie qui se branche sur l'api GH, pour choper les nouveaux post. la comme ca ca me parait t

[2015-04-13 18:59] MoOx commented on #363
wat ?

[2015-04-13 19:30] Nyalab commented on #363
c'est honteux d'en arriver là, franchement

[2015-04-13 19:45] kud commented on #363
![](http://media.giphy.com/media/yO24rwRksHuqk/giphy.gif) @Nyalab

[2015-04-13 20:45] MoOx commented on #363
Voilà le délire va être dans ce sens

- scripts sans runner (npm script)
- https://github.com/christophercliff/metalsmith-webpack
- https://github.com/yeojz/metalsmith-react-templates

On va surement faire ou refaire des plugins metalsmith mais vu la longueur du code, ca sera rapide comparé à un version full react.

[2015-04-13 20:45] #363 closed

[2015-04-13 20:47] kud commented on #363
![](http://media.giphy.com/media/iqOeJ02g6yVdC/giphy.gif)

[2015-04-13 22:06] lionelB commented on #363
Je voulais parler de choper les infos des auteurs, pardon.

[2015-04-13 22:17] MoOx commented on #363
c déjà un script maison. aucun probleme.

[2015-04-15 19:41] MoOx commented on #317
Closing in favor of #364

[2015-04-15 19:41] #317 closed

[2015-04-15 19:42] MoOx commented on #314
Interesing project https://github.com/sapegin/richtypo.js

[2015-04-15 19:45] Macxim commented on #314
Very interesting I'd say. Thanks for sharing! :+1:

[2015-04-15 20:38] bloodyowl opened #365 "implementing flux"
en gros:

https://twitter.com/bloodyowl/status/588431263880650752
https://twitter.com/bloodyowl/status/588432109888483328
https://twitter.com/bloodyowl/status/588432173386100738

expliquer au fur et à mesure les volontés, leurs soucis d'implémentation & leurs solutions.

vu que les exemples seront en ES6, ça pourrait être cool juste après que @Nyalab ait commencé sa série de posts sur le sujet. vo

[2015-04-15 20:41] magsout commented on #365
Mais carrément.

[2015-04-15 20:58] MoOx commented on #365
Trop.

[2015-04-15 20:59] MoOx opened #366 "post es6"
@Nyalab ETA ?

[2015-04-15 21:03] Nyalab commented on #366
moi on m'a dit de rien pousser ; une fois que je pourrais, sous 2 semaines max, j'ai le post d'intro + le post sur les variables. le reste des posts sera en suivant.

[2015-04-15 21:04] MoOx commented on #366
tu peux déjà pousser un .md par là qu'on review ^^.
Le site arrivera plus vite que vous croyez ;)

[2015-04-18 14:19] lionelB commented on #365
j'en pense du bien !

[2015-04-18 14:21] lionelB commented on #366
+1 avec moox je pense qu'il vaut mieux avoir des post pret à être publier

[2015-04-20 07:25] Nyalab commented on #366
bah on m'avait dit de rien pousser, moi j'obéis, si c'est ok, je me remets à bosser le post d'intro et finaliser le premier sur les vars :muscle:

[2015-04-22 11:59] MoOx opened #367 "Faire des build online par PR"
Vous penseriez quoi de push les PRs sur un sous domaine qu'on puisse visualiser le résultat avant de merger ?
Si on pousse ca sur un repo pr.putaindecode.fr on devrait pouvoir faire un truc genre pr.putaindecode.fr/345/{le site de la pr}

[2015-04-22 12:12] kud commented on #367
N'est-ce pas suffisant de récupérer le projet et tester en local ? Faut-il vraiment un staging ?

[2015-04-22 12:44] MoOx commented on #367
Perso je n'ai jamais récupérer une PR en cli. Je trouve ça lourd, surtout si c'est une PR forké.

[2015-04-22 12:48] kud commented on #367
D'accord. Dans ce cas là, pourquoi pas oui.

[2015-04-22 14:31] bloodyowl commented on #367
juste penser à mettre un robots.txt en nofollow

[2015-04-22 19:20] MoOx commented on #367
Ouais clairement :) avec du rel=nofollow partout pour être sur :D

[2015-04-28 07:17] MoOx opened #368 "Remettre le "reading time""

[2015-04-28 07:17] MoOx opened #369 "Automatiser le build du favicon"

[2015-04-28 07:18] MoOx opened #370 "merger CONTRIBUTING.md & le post comment-contribuer ?"

[2015-04-28 07:18] MoOx opened #371 "séparation correcte des CSS dans les modules JS appropriés"

[2015-04-28 07:19] MoOx opened #372 "Proposition de post: Utiliser react en moteur de template"
Un petit mot dessus ça serait cool vu que c'est ce que j'ai fait pour la nouvelle version du site. Ça vous dit ?

[2015-04-28 07:20] MoOx opened #373 "Proposition de post: découverte de webpack"
Je vais mettre un petit webpack en place pour le projet pour build css/js donc je propose un petit post rapide dessus.

Je compte faire ca en es6 (coucou @Nyalab)

[2015-04-28 07:26] MoOx opened #374 "Inliner les icons svg afin de pouvoir récupérer les couleurs :)"

[2015-04-28 08:13] lionelB opened #375 "remove livereload"
la page appelle  `http://localhost:4243/livereload.js`
j'imagine que c'est lié à https://github.com/putaindecode/putaindecode.fr/blob/master/package.json#L68

[2015-04-28 08:18] MoOx opened #376 "gh token has been compromised"
ref https://github.com/X1011/git-directory-deploy/issues/7

[2015-04-28 08:18] MoOx commented on #376
Donc le build en prod ne marchera pas tant que je n'aurais pas recrée de token. Je ferais ça à l'occassion.

[2015-04-28 08:19] MoOx commented on #376
puisque j'ai tuer le token bien entendu.

[2015-04-28 08:24] #375 closed

[2015-04-28 08:26] lionelB commented on #372
:+1:

[2015-04-28 08:26] lionelB commented on #373
:+1:

[2015-04-28 08:48] bloodyowl commented on #373
:+1:

[2015-04-28 08:49] bloodyowl commented on #374
faut foutre un webpack avant pour les inliner proprement IMO

[2015-04-28 08:50] bloodyowl commented on #371
-> webpack

[2015-04-28 09:20] magsout commented on #372
:+1:

[2015-04-28 09:20] magsout commented on #373
:+1:

[2015-04-28 09:43] ami44 commented on #372
:+1:

[2015-04-28 10:21] lionelB opened #377 "Disqus comment are broken"
les identifiant disqus sont différents
avant;
[code]
et après migration :
[code]

[2015-04-28 10:48] MoOx commented on #377
BIEN VU L'AVEUGLE. Je fixe ça tout à l'heure.

[2015-04-28 13:23] #319 closed

[2015-04-28 13:23] #377 closed

[2015-04-28 13:33] MoOx opened #379 "Urls du feed dans les contenus sont incorrecte"
- les urls des ancres sont pas bonnes
- les urls des images sont pas bonnes
etc.
Tout ce qui est relatif n'est pas bon. Et c'est pas nouveau de mémoire.

[2015-04-28 13:42] MoOx opened #380 "supprimer les routes dans les fichiers md"
Ca sert à rien au final.

[2015-04-28 15:05] Macxim commented on #380
Juste dans les posts ou dans tous les .md ?

[2015-04-28 15:21] bloodyowl commented on #380
je continue à penser que ce serait plus flexible de laisser le post décider de son URL dans la config.
ça permet de développer des trucs naifs par rapport au file-system.

[2015-04-28 20:53] Macxim commented on #380
Je viens de me rendre compte que ma question était débile en fait. Il n'y a que dans les posts qu'il y a des routes. Bon à part `/projets/index.md` et `/c-est-quoi-putaindecode/index.md`.

[2015-04-28 22:36] bloodyowl commented on #380
up https://github.com/putaindecode/putaindecode.fr/pull/381

[2015-04-28 22:57] bloodyowl commented on #380
pour résumer, je pense qu'il faille garder (je sais pas si on peut s'en servir avec metalsmith) la route dans la vue, parce que le jour où on s'en débarrasse, j'aimerai autant qu'on puisse générer des pages avec un input dont la source nous importe pas.

si on se cale sur le file-system, on a *potentiellement* des soucis de casse, l'impossibilité (ou complexité non-nécessaire) de reorganiser les d

[2015-04-29 04:32] MoOx commented on #380
On pourrait s'en servir avec metalsmith, faudrait faire un plugin de 5 lignes.
Je comprend ton point mais les contres arguments:
- conflit possible entre 2 posts qui aurait la même url (pas pire que la casse)
- gros bordel possible entre l'organisation des posts sur le fs et les urls qui n'ont rien à voir

L'output n'est qu'un resultat d'un process que l'on controle. Si on veut faire des routes dy

[2015-04-29 08:05] Nyalab commented on #380
je suis ok avec @MoOx pour ce sujet, si jamais on veut faire un truc custom, on fera un objet de mapping au pire, sinon ça va être le bordel en pratique

[2015-04-29 08:07] Nyalab commented on #376
token === :skull:

[2015-04-29 11:14] Nyalab opened #382 "watcher cache invalidation doesn't work on iojs"
[this test](https://github.com/putaindecode/putaindecode.fr/blob/master/scripts/metalsmith/server/__tests__/watcher.es#L154) fails for me.

the content of the file remains `1`. I tried to fix it but did not succeed. I don't know how the watcher is working, i think the problem comes from it.

[2015-04-30 03:25] MoOx commented on #382
can you try to increase the timeout that wrap this test plz ? are your using an SSD or a HDD ?

[2015-04-30 07:49] Nyalab commented on #382
yes, i should had written that in the original issue, i tried to increase it to 10s ; i have got a ssd one.

[2015-04-30 07:52] MoOx commented on #382
ok...
I guess you use iojs ?

[2015-04-30 07:53] Nyalab commented on #382
yes, what do you want me to try ?

[2015-04-30 07:58] MoOx commented on #382
dunno. I guess the cache for iojs have got some changes. So I dunno what to do. We should take a look to iojs doc if any to make this function work https://github.com/putaindecode/putaindecode.fr/blob/master/scripts/metalsmith/server/watcher.es#L16-L21

[2015-04-30 07:59] Nyalab commented on #382
hmmm ok, i see, i will take a deep look when i have the time for it. at least it does not fail for the majority of people :smile:

[2015-05-01 12:17] #365 closed

[2015-05-06 14:27] Reeslo opened #390 "déclaration doctype absente"
https://validator.w3.org/check?uri=http%3A%2F%2Fputaindecode.fr%2F&charset=%28detect+automatically%29&doctype=Inline&group=0

![screen](https://cloud.githubusercontent.com/assets/2724844/7495199/b9e672e2-f40c-11e4-9902-831fb1a71e9d.png)

[2015-05-06 21:09] bloodyowl commented on #390
thanks for the head's up. @MoOx do you want to add this? I'll do it otherwise

[2015-05-06 21:46] MoOx commented on #390
I will handle that in metalsmith-react. Done here. I have to publish and use the update

[2015-05-07 05:15] #372 closed

[2015-05-07 05:21] #390 closed

[2015-05-07 06:01] MoOx commented on #380
J'aimerais l'input de d'autres membres. On se sent un peu seul pour décider des fois.

[2015-05-07 06:54] MoOx opened #391 "boitenoirekiller"
On met ça ? http://boitenoirekiller.com/

[2015-05-07 08:03] kud commented on #391
Je suis plutôt pour mettre un message d'explication de ce qu'est la loi et en quoi elle est néfaste qu'une pratique comme ça.

[2015-05-07 08:11] MoOx commented on #391
Tout le monde a déjà bien assez publié sur le sujet. Il faut agir.
Après ça c'est une idée si elle vous plait pas tant pis.
C'était pour déconner un peu.

[2015-05-07 08:13] kud commented on #391
Je ne suis pas sûr que cela soit efficace, et la loi n'est pas encore appliquée. Il y a encore le sénat, etc.

[2015-05-07 08:16] lionelB commented on #380
du meme avis que @MoOx et @Nyalab

[2015-05-07 08:19] kud commented on #391
Tu demandes mon avis.

[2015-05-07 08:19] madx commented on #391
Bref :no_entry:

[2015-05-07 08:20] Nyalab commented on #391
j'ai pas d'avis :neutral_face:

[2015-05-07 08:20] bloodyowl commented on #391
j'm'en bats les couilles

[2015-05-07 08:21] #391 closed

[2015-05-07 08:21] MoOx commented on #391
🐬🐬🐬

[2015-05-07 08:24] madx commented on #380
Ça existe encore les FS non-sensibles à la casse ? :hankey:

Je pense qu'il vaut mieux être cohérent entre le nom du fichier et la route du post donc ne pas avoir de double information à ce sujet : le nom du post => la route

[2015-05-07 08:26] kud commented on #380
@madx c'est une option que tu précises dans unix/linux donc oui. Et je ne sais guère ce qu'il en est de Windows.

[2015-05-09 05:30] #380 closed

[2015-05-09 05:30] MoOx commented on #380
Majority wins :/

[2015-05-09 05:35] MoOx commented on #382
Closed by b0b29af9b6ec836d2171bad1d82d7a2c02e7cdf6

(it's working on iojs now, see https://travis-ci.org/FWeinb/metalsmith-watch)

[2015-05-09 05:35] #382 closed

[2015-05-09 05:36] MoOx commented on #359
Closing in favor of #389

[2015-05-09 05:36] #359 closed

[2015-05-09 05:37] MoOx commented on #107
Des idées ?

En l'état http://putaindecode.fr/404

[2015-05-09 05:38] MoOx commented on #139
On le fera pas de ci tôt. Réouvrez si vous avez toujours envie.

[2015-05-09 05:38] #139 closed

[2015-05-09 05:38] MoOx commented on #198
C'est toujours un  problème ?

[2015-05-09 05:39] MoOx commented on #200
Ça marche sans auteur, donc on va dire que ça suffira.

[2015-05-09 05:39] #200 closed

[2015-05-09 05:39] MoOx commented on #223
osef. Cela dit faudra une page dans le style.

[2015-05-09 05:39] #223 closed

[2015-05-09 05:40] MoOx commented on #237
pr or stfu

[2015-05-09 05:40] #237 closed

[2015-05-09 05:40] MoOx commented on #239
up

[2015-05-09 05:56] magsout commented on #332
up, t'avais un gist de tout prêt en plus ?

[2015-05-09 05:58] MoOx commented on #332
Oui ça va venir ;) Y'a déjà 2/3 posts en PR donc je push ça après.

[2015-05-09 06:01] magsout commented on #332
coool

[2015-05-09 06:03] magsout commented on #358
Des nouvelles ?

[2015-05-09 06:14] MoOx opened #398 "iojs will be mandatory"
I am going to use jsdom for fast module testing during dev and latest version doesn't work with node anymore.
I think this situation is just a start, so we are going to force iojs.
Are you all ok with that ?
(Note: I recommand nvm)

[2015-05-09 09:57] bloodyowl commented on #107
how 'bout something like that http://jsbin.com/podefaxuko/1/edit?html,js,output

[2015-05-09 10:14] kud commented on #198
Oui. Le rouge n'est pas assez prononcé ou est trop sombre et j'ai du mal à le distinguer du noir. Peut-être mettre un rouge plus clair.

[2015-05-09 10:21] kud commented on #223
Je trouve l'idée pas mal tout de même mais peut-être pas urgent oui.

[2015-05-09 10:22] kud commented on #239
Toujours intéressant à mon sens.

[2015-05-09 10:23] kud commented on #398
What the interest for the moment? How many people use iojs?

[2015-05-09 10:23] kud commented on #107
Peut-être @bloodyowl mais sans pour autant être grossier.

[2015-05-09 11:39] bloodyowl commented on #398
I'm ok with it.

[2015-05-09 13:02] MoOx commented on #398
@kud jsdom 4 only works on iojs.
Also iojs is semver compliant.

[2015-05-09 13:07] kud commented on #398
We could have a try but forcing iojs I don't know if it's a good idea. Let's see what happens with nvm so.

[2015-05-09 16:37] bloodyowl commented on #198
si on le met plus clair on aura des soucis de contraste avec le fond, donc d'autres problèmes de vue non pris en compte. on ajoute un underline et c'est réglé?

[2015-05-09 17:21] kud commented on #198
Underline pourquoi pas oui.

[2015-05-09 21:38] madx commented on #107
L'actuelle ne me dérange pas, en tous cas je pense que c'est pas le plus
urgent

Le 9 mai 2015 12:23, Erwänn Mest <notifications@github.com> a écrit :

--
François Vaux
http://madx.me/

[2015-05-10 19:43] MoOx commented on #398
Closed in favor of #389

Seriously, nodejs is so slow now, we can't say the opposite.
iojs is already 2.0... with already 26 releases !

[2015-05-10 19:43] #398 closed

[2015-05-10 19:45] kud commented on #398
Slow in which way? performance or just updates? Because in my opinion it's not a race.

[2015-05-10 19:48] MoOx commented on #398
Slow for merging/releasing & fixing issues.
More and more people switch to iojs each day. We should too.
@Nyalab already use it everyday for some times without any issue.

[2015-05-10 19:49] kud commented on #398
Okay, cool so.

I was wondering if I should switch or not. I think I'll use iojs so and let's see what happens.

[2015-05-10 20:32] magsout opened #400 "proposition de post sur le SVG"
### 1) Petite def sur le svg
### 2) definitions des attributs :
- `viewbox`
- `preserveAspectRatio` (slice meet, xMin etc...)
### 3) comment utiliser le svg
- avec la balise image
- avec la proprieté background
- inline
### 4) Manipuler son SVG inline
### 5) utiliser SVG pour ajouter des filtres à une image.

Les points 2 et 5 sont des choses que j'ai appris récement, le reste fait peut-être un pe

[2015-05-10 20:35] kud commented on #400
Oui c'est pas mal. :)

Il faudrait aussi l'expliquer je pense l'avantage d'utiliser l'svg par rapport aux autres formats, rapidement hein, pas s'étaler.

[2015-05-10 20:37] magsout commented on #400
oui tu as raison alors, à ajouter en début.

### 1) Petite def sur le svg et ses avantages

[2015-05-10 20:39] kud commented on #400
Old possible mais certains ont pas encore passé le cap du SVG donc je pense que ca reste intéressant. (sauf si tu veux faire un post court). Sinon tu peux éventuellement mettre des liens vers des sites qui l'expliquent au pire.

Carrément pour développer les 2/ et 5/ par contre.

[2015-05-10 21:09] madx commented on #100
On s'en fout on ne se sert plus du repo de propositions de posts

[2015-05-10 21:11] madx commented on #81
Y'a plus rien concernant le temps de lecture sur la nouvelle version c'est normal ?

[2015-05-10 21:16] madx commented on #190
Ça serait cool de rajouter ça oui !

[2015-05-10 21:32] madx opened #401 "Définir et respecter un workflow d'intégration/review/correction des posts"
tl;dr: On rebase + squash tous les commits d'une branche `post.` ou on garde l'historique et on merge ?
## Le problème

Actuellement, une fois qu'on passe en revue un post, on se retrouve avec le commit initial, des commits des relecteurs pour corriger quelques typos + éventuellement d'autres commits de l'auteur original qui retravaille son post.

C'est bien, c'est pratique, ça permet de savoir qu

[2015-05-10 21:35] madx commented on #401
Perso je penche en faveur de la deuxième alternative mais par contre j'aimerais qu'on arrête de commenter les posts pour montrer les typos à l'auteur, c'est complètement con et c'est une perte de temps car faire un commit pour corriger directement (via l'interface web de GH par exemple) va tout aussi vite et est beaucoup plus productif.

Après, je pense qu'un rebase+squash peut être sélectif et pe

[2015-05-11 04:08] MoOx commented on #401
Ou Alternative 3 avec un champs "contributors"

A noté que de toute façon, on aura toujours des commits "typo" ne serait-ce que de gens qui interviennent après publication d'un post. Donc pour moi j'ai un peu envie de dire "osef de la taille de l'historique".

Sinon à la limite si ça vous chagrine, on fait un repo avec le contenu, un repo avec les sources du sites. Mais dans la partique je sens qu

[2015-05-11 04:10] MoOx commented on #190
Avec l'api metalsmith ça sera pas trop compliqué. Comme pour la page des tags #304

[2015-05-11 04:11] MoOx commented on #81
@madx t'es couillon lol =>

# #399

[2015-05-11 04:12] MoOx commented on #100
Cela dit je pense qu'il faut clairement mettre plus en avant le fait que les gens puisse proposeer des posts, on en a eu trop peu. Je réouvre et renomme.

[2015-05-11 04:16] MoOx commented on #400
+1 pour la propal dans sa globalité. Faut pas non plus faire un pavé je pense, sinon ça va être lourd. Si besoin découper en plusieurs posts.

[2015-05-11 05:32] magsout commented on #401
Ouip, ça peut-être pas mal efffectivement. Sauf que comme l'a dit @MoOx il y aura toujours le cas des PR ...
Le systeme actuel me pose pas de problème. Ca me dérange pas d'avoir un post avec plusieurs commits et les contributeurs, même si l'article n'est pas encore sortie.

[2015-05-11 07:09] bloodyowl commented on #401
au moins ça permet de discuter d'une tournure de phrase ou d'un fix avant de faire une connerie IMO.

[2015-05-11 07:10] MoOx commented on #401
Pour le coup @kud parlait plus imo des typo purs et simples. Evidement quand on veut modifier une tournure ou plus qu'une faute d'orthographe ou de grammaire évidente, on passe par un comment sur la pr.

[2015-05-11 08:20] Nyalab commented on #398
slow in performances, slow in its release cycle ; go for io.js, just install it, you won't see the differences since everything still works and, much faster

[2015-05-11 08:25] kud commented on #401
Je ne suis pas toujours devant mon poste de dev et faire des commits via autre chose que l'interface de github ne m'est pas possible.

Effectivement, on peut patcher maintenant assez facilement via le site en créant soit une branche soit en rajoutant direct un commit sur la branche. Cependant comme le dit @bloodyowl, ca permet de discuter de certaines tournures de phrases et autre.

Je suis d'acco

[2015-05-11 08:29] madx commented on #401
Oui, j'ai pas été assez clair mais les commentaires quand il s'agit de discuter d'une tournure, c'est mieux. Par contre pour de pures typos, aucun intérêt.

[2015-05-11 08:34] Nyalab commented on #401
whatever you want, le gros historique osef, au moins on peut blame et sinon comme vous voulez, je ferais avec

[2015-05-11 08:35] MoOx commented on #401
En gros on à tous l'air ok pour

- typos évidente: commit directement
- remise en question: comment inline

[2015-05-11 08:36] kud commented on #401
Je pense oui @MoOx.

[2015-05-11 08:38] Nyalab commented on #401
oui, mais pas de rebase+squash en un seul commit à la fin imho, garder un historique qui reflète la réalité c'est mieux, puis c'est pas comme si un historique git était si lourd...

[2015-05-11 08:39] Nyalab commented on #400
carrément pour, je suis de ceux qui n'ont pas passé le cap du svg "conceptuellement", un article bien expliqué peut être sympa :+1:

[2015-05-11 08:39] kud commented on #401
Contrairement à la vie réelle, on a le pouvoir de réécrire l'histoire, c'est pas pour rien. :p

[2015-05-11 08:42] Nyalab commented on #401
squasher 3 commits de typo en un seul oui, ok, réécrire l'histo de l'auteur + 3 reviewers nan (à débattre bien sur, mais c'est mon avis)

[2015-05-11 08:43] kud commented on #401
C'est plus pour les typos que ça me gène, pas les contributors qui ajoutent du texte en fait.

1/ L'auteur passe un peu pour un con à faire plein de fautes
2/ Quel intérêt de garder les commits de typo ?

[2015-05-11 08:47] MoOx commented on #401
Perso j'assume totalement mes fautes. Y'a pas de honte à avoir. On écrit un post, on met pas tous nos casquettes bernard pivot quand on a déjà celle du dév puriste.

Un mec qui corrige un typo, c'est un contributeur à l'article. Y'a pas de petites contributions. Je pense que la réfléxion est aussi simple et ne dois pas aller plus loin. De toute façon je répète, on aura toujours des commits de typo

[2015-05-11 08:50] kud commented on #401
Donc https://github.com/putaindecode/putaindecode.fr/issues/401#issuecomment-100815863, on est tous bon sur ça ?

[2015-05-11 15:04] MoOx opened #403 "Proposition de post: "the dark side of postcss (awesomeness)""
Postcss c'est bien. Mais attention, trop de postcss tue le postcss.

Il s'agirait d'un article sur la connerie que font de plus en plus de gens: faire leur preproc custom "modulaire". Ouais c'est bien jolie toussa mais voilà le bordel des css à la fin.

Vous imaginez si on faisait tous des syntaxes js custom avec acorn/babel ?
Des coffeescripts like non documenté, avec du freestyle de partout ?
Le

[2015-05-11 15:07] kud commented on #403
+1

[2015-05-11 19:37] lionelB commented on #400
:+1:

[2015-05-11 19:48] lionelB commented on #198
underline me parait pas mal

[2015-05-11 19:51] lionelB commented on #332
super !

[2015-05-13 03:52] #368 closed

[2015-05-13 06:14] madx commented on #401
Oui, je pense que ça déjà on est tous d'accord

Pour le reste, on essaye d'avoir des branches de post un poil + propres sans pour autant niquer tout l'historique, après les merge font le job, ça vous va ?

Il faut aussi surtout rappeler de rebaser avant de valider un PR pour éviter les entrelacs dans l'historique (c'est ça la + moche à mon sens)

[2015-05-13 06:15] MoOx commented on #401
Faut documenter ça du coup :)

[2015-05-13 06:35] MoOx commented on #376
Token has been update, so autodeploy is back.
I've also reported the accurate source of the leak and the author of the original script is working on a solution, so good news, we just need to wait to update the script and close this issue.

[2015-05-13 06:44] madx commented on #379
J'aimerais travailler là dessus mais je comprends pas le titre de l'issue :/ Tu peux donner un peu plus de détails ?

[2015-05-13 06:48] madx commented on #370
Ouais, faudrait pas avoir 3 trucs à maintenir, surtout que la façon de contribuer se peaufine un peu tout le temps :D

[2015-05-13 06:56] MoOx commented on #379
en gros dans le feed, les urls des assets (images par exemple) sont pas bonne puisque relative au post
Un post est normalement dans /posts/truc/machine/index.html et ses assets potentiellement dans /posts/truc/machine/* et dans le post les assets utilises des adresses relatives (donc en ./).
Pour le rss du coup (où les contenus sont à plat) les urls ne sont pas ajustés et comme le feed est à la ra

[2015-05-13 06:57] madx commented on #379
Ok j'ai saisi, j'vais voir ce que je peux faire

[2015-05-13 07:18] Nyalab commented on #376
wooot :clap:

[2015-05-13 07:56] Macxim commented on #401
L'alternative 2 me paraît également être la meilleure.

D'accord aussi avec ceci. C'est d'ailleurs ce que j'ai fait je crois pour le dernier post de @kud.

[2015-05-13 08:31] madx opened #405 "`package.json` uses a git:// url for caniuse-api"
Les URLs en `git://` sont peu pratiques à utiliser derrière un firewall restrictif.

On pourrait la remplacer par une URL `https://`.

J'ai fait le patch, j'attends vos avis. D'ailleurs j'en profite mais @Nyalab la branche de `caniuse-api` qu'on utilise ne pourrait pas être mergée dans le master ?

[2015-05-13 08:33] MoOx commented on #405
@madx nan c'était un test cette branche. Tu peux utiliser la version ^1.3.1  ça marche pareil. De plus cette branche ne marche pas sur windows.

[2015-05-13 08:34] kud commented on #405
Tant que ça demande pas un compte github quand tu lances le npm install. J'ai pas testé sur des repo publics, ça doit pas poser de souci mais en privé, c'est lourd, c'est pour ça que chez nous on a laissé git+ssh.

[2015-05-13 08:36] madx commented on #405
Ok donc je vais essayer de passer sur ^1.3.1 et lancer un build en local

[2015-05-13 08:37] madx commented on #405
On s'en sert pour quoi au fait ? :)

[2015-05-13 08:39] MoOx commented on #405
Hah na mais en fait
je suis con.
Tu peux la virer
et reinstaller cssnext. Et ça passera.

[2015-05-13 08:44] madx commented on #405
Lol je refais un npm install sans caniuse-api alors

[2015-05-13 08:46] MoOx commented on #405
ouais fait ça. En fait c'est lié à ça https://github.com/Nyalab/caniuse-api/issues/29 mais j'ai aucune preuve exacte que ça soit lié à ça. C'est pour ça que su travis j'ai mis les npm install log.
Ca bloque "des fois" après ce package mais rien de sur.

[2015-05-13 08:55] madx commented on #405
Bon, j'ai pas assez de ram pour tester sur mon chromebook L O L

[2015-05-13 08:57] MoOx commented on #405
lelwat ? C'est une blague ? Enfin j'imagine que non. Etonnant.

[2015-05-13 08:57] kud commented on #405
hardcore developer

[2015-05-13 08:58] madx commented on #405
J'ai firefox (2 gmail + github + d'autres onglets) + chromium d'ouverts, ça doit déjà bouffer 75% de la RAM lol

[2015-05-13 09:48] MoOx opened #406 "Proposition de post: nvm"
Expliquer pourquoi iojs.
Puis en gros

`brew install nvm && mkdir $HOME/.nvm && nvm install iojs && nvm alias default iojs`

Ça inclue un petit topo nvm (on fait un post avant ?)

[2015-05-13 09:50] kud commented on #406
Je valide le post initial + la présentation de nvm. ;)

[2015-05-13 10:10] MoOx commented on #406
On linux madx did

[code]

[2015-05-13 12:18] madx commented on #406
Pour l'installation de NVM: https://github.com/creationix/nvm#installation

Après il faut ajouter `. ~/.nvm/nvm.sh` dans son `.bashrc` et suivre les instructions de @MoOx

[2015-05-13 13:16] MoOx opened #407 "Mise en avant (ou pas) des posts"
Ref https://github.com/putaindecode/organisation/issues/34
Faire des essais avec des étoiles en quoi, sur avatar ou post (preview) directement

[2015-05-13 13:22] #405 closed

[2015-05-13 13:37] madx commented on #379
Bon, y'a 2 solutions:

- Soit on réécrit le XML pour remplacer les URLs relatives correctement via un petit plugin metalsmith
- Soit on utilise des attributes `xml:base`, mais tous les lecteurs de flux ne le supportent pas

Perso je vote pour la première méthode même si ça implique + de code et un peu + de temps de processing.

[2015-05-13 13:44] MoOx commented on #379
Je devrais le gérer dans metalsmith-feed en fait.

[2015-05-13 13:45] MoOx commented on #379
metalsmith-rss* (package de moi)

[2015-05-13 13:46] madx commented on #379
Je vais commencer par écrire le plugin en dur dans putaindecode.fr puis je te fais une PR dans metalsmith-rss oui

[2015-05-13 14:06] magsout commented on #403
Genre utiliser des plugins pour palier à un manque du w3c et d'un coup utiliser des plugins à la Sass ? Mélanger pure css avec du css de programmation qui finalement te fait réinventer un nouveau pseudo language ?

[2015-05-13 14:09] MoOx commented on #403
Bah ouais, finir avec un langage "custom" probablement non documenté, les nouveaux seront perdu etc...

[2015-05-13 14:16] madx commented on #379
@MoOx tu peux essayer de modifier le build.js comme ça et me dire ce que tu en penses ?

[code]

[2015-05-13 17:48] MoOx commented on #379
Not bad. A good start.
This will need to be applied to src too not just href (image/iframe etc) and also using item.url and not route since we will remove those. I will do that tomorrow and reuse the code you posted. Maybe we can even make a metalsmith-absolutize-urls to do that. What do you think ?

[2015-05-13 19:09] madx commented on #379
Yeah I'm not that much happy with the code quality and the covered cases

I think extracting to a separate plugin is the way to go, with a parameterizable base URL and replacement patterns.

Also, maybe we should avoid using regexen and use a real XML parser (a SAX one preferably) but I'm not that comfortable with XML parsing in io.js so I have to check what options are available

[2015-05-13 19:11] MoOx commented on #379
wot lel no.
Hum maybe we should just handle that in the markdown transformation ?
Yeah I will try from here and see if the code is lighter.

[2015-05-13 19:11] MoOx commented on #379
I would like to avoid a xml parsing on each page !

[2015-05-13 19:14] madx commented on #379
Maxime I think I have a better idea

We can override marked's link rendering to automatically add the absolute URL, and put that override mechanism as a plugin when rendering the feed. This is the cleanest way imho

[2015-05-13 19:15] MoOx commented on #379
THat what I where thinking. I am on ti.

https://github.com/chjj/marked#inline-level-renderer-methods

[2015-05-13 19:16] madx commented on #379
Good :)

[2015-05-13 19:20] magsout commented on #406
Carrément :+1:

D'ailleurs je suis tombé la-dessus ce matin https://raygun.io/blog/2015/05/performance-showdown-node-js-vs-io-js-v2-0-0/

[2015-05-13 19:21] MoOx commented on #406
node. is. dead. :/

[2015-05-13 19:27] magsout commented on #403
:+1: tu préches un convaincu, donc faut en convaincre d'autre. NORMALIZE ALL THE THINGS

[2015-05-13 19:28] MoOx commented on #403
je pense que faire une comparaison avec un truc genre "vous imaginez si on faisait ça avec javascript ? un mélange de coffee + es6 completement freestyle ? Ou sont les specs ? Je vous le demande !" ?

[2015-05-13 19:41] MoOx commented on #379
Ok we can't just do that with marked since we don't have access to the path in the current scope of rendering. Fallback to first solution.

[2015-05-14 05:45] MoOx commented on #379
Eventually I found a way to pass the context to marked. Much better an reliable way.
I will push that after some tests. This will allow us to have all urls with full absolute urls (including domain) in order to provide reliable standalone rss feed.

[2015-05-14 06:45] madx commented on #379
I knew it was possible :-)
Le 14 mai 2015 7:45 AM, "Maxime Thirouin" <notifications@github.com> a
écrit :

[2015-05-14 06:47] #379 closed

[2015-05-14 06:52] MoOx opened #409 "Put post "hero image" in metadata in order to remove them from feed"
Not sure what is the best way, but some posts have big pictures at the top just to look good.
We should avoid them in the feed.
Setting image url as a metadata might and image should be rendered after rss (probably in react templates).

- http://putaindecode.fr/posts/entreprendre/auto-entrepreneuriat-retour-experiences/
- http://putaindecode.fr/posts/windows/comment-coder-sous-windows/

That would

[2015-05-14 07:00] MoOx opened #410 "Ensure title anchor are unique"
https://github.com/putaindecode/putaindecode.fr/blob/master/scripts/marked.es#L93
Since we use text, we might get the same anchor twice. We should fix that by adding a simple incremented integer.
Bug is visible on this page http://putaindecode.fr/posts/entreprendre/auto-entrepreneuriat-retour-experiences/

[2015-05-14 07:06] madx commented on #379
Nickel !

[2015-05-14 07:10] #410 closed

[2015-05-14 07:12] magsout commented on #379
:+1:

[2015-05-14 07:12] madx commented on #410
You might want to look how pandoc does for unique identifiers

http://pandoc.org/README.html#extension-auto_identifiers

[2015-05-14 07:48] MoOx commented on #198
Du coup je pense que une petite pr pour ça doit pas prendre trop de temps :)

[2015-05-14 07:49] madx commented on #409
I agree that this could be put in a meta to choose how we display it

However, pourquoi on fait des issues en anglais ici en fait ?

Non la vraie question c'était : en quoi ça gène dans le flux ? Plein de flux le font et je trouve que ça fait partie intégrante du post

[2015-05-14 07:51] MoOx commented on #409
Je t'avoue que je suis pas fan du rendu

![screen shot 2015-05-14 at 09 50 17](https://cloud.githubusercontent.com/assets/157534/7628074/d09d8d96-fa1e-11e4-921c-392924ea610f.jpg)

[2015-05-14 07:52] MoOx commented on #409
Pour l'anglais moi c'est par habitude sur github, mais aussi https://github.com/putaindecode/organisation/issues/39

[2015-05-14 07:54] madx commented on #409
Oui c'est pas faux, mais il me semble qu'on faisait exprès de faire des issues en français pour baisser la barrière d'entrée aux contribs

Anyway, pour le hero header LOL je vois ce que tu veux dire :-) On pourrait pas y foutre un style en dur?

[2015-05-14 07:57] MoOx commented on #409
Oui mais bon ça va 2min les gens... A NOUS LA RENOMMÉ INTERGALACTIQUE. Pardon.

Pourquoi pas. Mais cela dit je pense que de toute facon faut faire

1/ meta (-> plus flexible pour tout upgradé si changement de design)
2/ le rendu dans le flux devrait être différent du rendu du site (petit difficulté à gérer ça, rien de compliqué mais "faut le faire".
ou 2/ virer du flux (problem solved).

C'est ima

[2015-05-14 08:04] magsout commented on #407
Utiliser une forme simplifiée du logo pour dire member of p! et donc post approved by p! ?

[2015-05-14 08:05] magsout commented on #401
Donc :

[2015-05-14 08:06] MoOx commented on #401
lol @magsout

[2015-05-14 08:06] MoOx commented on #407
J'attends un petit screenshot pour voir ce que ça pourrait donner :)

[2015-05-14 08:08] magsout commented on #401
@MoOx fail du raccourci ;p

[2015-05-14 08:15] #409 closed

[2015-05-14 08:16] MoOx commented on #370
Faudrait comment contribuer en index avec les pages suivantes

- contenu
  - proposer un post
  - ecrire un post

- contribuer au site
  - fixer un bug
  - apporter une amélioration au site

Vous en pensez quoi ?

[2015-05-14 08:17] madx opened #412 "Write a document about how to contribute"
As of now we have multiple sources with documentation about how to contribute:

- `README.md`
- `CONTRIBUTING.md`
- http://putaindecode.fr/posts/comment-contribuer/

All three of them are mostly out of date at some different levels.

We need to have a single source of information about how to contribute. This could however be splitted between `README.md` (used mostly for technical & quick start in

[2015-05-14 08:48] MoOx commented on #412
I think the more we can push on the website (in i18n) the better it is.

Related issues https://github.com/putaindecode/putaindecode.fr/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+doc%22

[2015-05-14 08:48] MoOx opened #413 "Document how to add hero image"
Ref #411

[2015-05-14 18:25] MoOx commented on #406
Bon en fait io.js et node.js vont merge. On verra quand y'aura du nouveau.

[2015-05-14 18:33] magsout commented on #406
Oh ? T'as vu ça ou ?

[2015-05-14 18:34] magsout commented on #406
Au final autant continuer avec node directement ?

[2015-05-14 19:06] kud commented on #198
Oui carrément @MoOx, je vais voir dès que j'ai un peu de temps pour ça. Je m'affecte la tâche.

[2015-05-14 19:08] kud commented on #406
Comment ça ils vont merger ?

On 14 May 2015 at 20:34, Guillaume Demesy <notifications@github.com> wrote:

--
*Erwann Mest*
kud.io

[2015-05-14 19:09] MoOx commented on #406
https://github.com/iojs/io.js/issues/1664#issuecomment-101828384

[2015-05-14 19:12] kud commented on #406
Cooool ça.

[2015-05-15 07:51] Nyalab commented on #412
i don't think this is a matter, README for people browsing the git repository, CONTRIBUTING because it is linked when you open a new issue and for used-to-tech-and-github people, the website post for "other people"

but i agree we should find a way to "sync" them, or to update them now

[2015-05-15 07:55] Nyalab commented on #370
Je ne pense pas que ce soit une bonne idée de merger. Refaire au propre, pourquoi pas.

[2015-05-15 07:56] MoOx commented on #370
Ouais du coup mon dernier point c'est plus "éclaté" que merger. Mais éviter toute redondance.

[2015-05-15 07:59] lionelB commented on #370
:+1: pour les docs ciblée

[2015-05-15 13:37] MoOx opened #415 "New post header (hero image)"
I tried a new header this morning & posted on gitter chan, but I gues most of you didn't see it

![without image](http://cl.ly/image/1m1I3s0k2C0S/Image%202015-05-15%20at%209.11.24%20am.png)
![with image](http://cl.ly/image/360s2s1n143a/Image%202015-05-15%20at%209.12.06%20am.png)

Notes:
- You will be able to control the text color (light or dark) with a flag
- maybe we should put meta below the im

[2015-05-15 13:44] kud commented on #415
Really cool. It gives some "life" to the website.

[2015-05-15 13:45] magsout commented on #415
like it, very good job

[2015-05-15 13:48] bloodyowl commented on #415
maybe we should use a canvas & calculate the best text color for contrast at runtime by reducing the canvas to 1px & reading the dominant color?

[2015-05-15 13:49] MoOx commented on #415
It might be a good enhancement indeed. But simple flags for now allow server side rendering. That said, we might handle that with a metalsmith plugin that read the image content.

[2015-05-15 17:44] MoOx commented on #406
https://twitter.com/mikeal/status/599261550528991232

https://github.com/nodejs/io.js

[2015-05-15 18:40] magsout commented on #406
Et Node dans tout ça ? Ils vont merged ?

[2015-05-15 18:54] MoOx commented on #406
Oui c'est la finalité je pense. io.js va devenir le nouveau nodejs quoi. io.js a tout intérer à se renommer.

[2015-05-15 20:21] magsout commented on #407
C'est pas terrible

![approved](https://cloud.githubusercontent.com/assets/1997108/7661174/bb63f82e-fb50-11e4-9c79-e7ec3786c20d.png)

[2015-05-15 20:27] MoOx commented on #407
Pas fan en effet.
Si tu tentes un truc simple genre border rouge sur l'avatar ?

[2015-05-15 20:44] MoOx commented on #415
Version light avec gradient custom

![screen shot 2015-05-15 at 22 41 54](https://cloud.githubusercontent.com/assets/157534/7661524/9d615080-fb53-11e4-8923-4ac0a3af1634.png)

[code]

Ça vous parait correcte ?

j'hésite sur le light, p-e juste `text: "light"` ? Quoique non c'est pas mieux.
Pour info les gradient sont préfixé -webkit aussi.

si .credit présent, on consider que image est ok

[2015-05-15 20:57] magsout commented on #415
Ca rend plutot pas mal, peut-etre un peu plus grossir la partie auteur pour qu'elle soit un peu plus lisible.

[2015-05-16 11:29] MoOx commented on #415
En regardant medium, je remarque qu'ils mettent ces infos dans le footer là où il y a la bio. On pourrait peut etre faire ça, et passer le temps en bulle sur le coté qui s'update au scroll ?

[2015-05-16 18:55] MoOx commented on #415
What about something like that ?

![screen shot 2015-05-16 at 20 54 27](https://cloud.githubusercontent.com/assets/157534/7667585/ddd3ba94-fc0d-11e4-8037-0c69712abd08.png)

[2015-05-16 18:58] MoOx commented on #415
AND WHAT ABOUT A COMPLETE FUCKING CHANGE

![screen shot 2015-05-16 at 20 58 07](https://cloud.githubusercontent.com/assets/157534/7667603/49afdad6-fc0e-11e4-9c45-7d1e4d770176.png)

[2015-05-16 21:18] magsout commented on #415
Je préfère avec le Header rouge. Même si le fond en blanc rend pas mal.

Avec les infos auteurs et Time comme ca, c'est une bonne idée. Je laisserai limite que le titre avec l'image. Les Tags à la fin peut-être ou en dessous de la partie InfoAuteur.

[2015-05-16 21:20] MoOx commented on #415
Je vais faire ça.

Plus je regarde le header blanc, plus j'aime. On pourra voir ça après coup.

[2015-05-16 21:24] magsout commented on #415
Je me disais pareil. Le blanc à un style classe, net.

Pour le rouge c'est peut-être aussi biaisé par les icônes SVG en noir qui rendent le tout un peu moins beau et terminé.

[2015-05-16 21:25] MoOx commented on #415
Tu les verrais de quel couleur ?

[2015-05-16 21:59] magsout commented on #415
Comme avant, comme les liens

[2015-05-16 22:00] MoOx commented on #415
Ok, faut qu'on gère #374 d'abord :)

[2015-05-16 22:28] magsout commented on #415
Yep mais je suis largué avec webpack :(

[2015-05-16 22:34] MoOx commented on #415
C'est mon prochain post. Puis là de toute façon je pense que je vais le faire sans webpack. Ca fait overkill.

[2015-05-16 22:38] magsout commented on #415
![capture d ecran 2015-05-17 a 00 36 55](https://cloud.githubusercontent.com/assets/1997108/7668249/0b361e36-fc2d-11e4-9998-27aa9bd23fd8.png)

Ca le fait comme ça je trouve. Bien joué :+1:

[2015-05-16 22:43] magsout commented on #374
@MoOx

Et tu veux fais comment ?

[2015-05-16 22:44] MoOx commented on #374
fs.readFile ? (on est server side)

[2015-05-16 22:49] magsout commented on #374
ou alors on utilise `use`  ?

[2015-05-16 22:53] MoOx commented on #374
Naaan c'est relou. On inline comme des cochonnes. Ca marche bien !
Et t'as pas de bug(s) de merde sur safari ou autre.
`use` ça veut dire que tu génères un sprite toussa, ça n'apporte pas grand chose finalement. Nos petits svg c'est que un peu de texte :)

[2015-05-18 07:45] Nyalab commented on #415
:shipit:

[2015-05-18 08:58] lionelB commented on #415
la classe :)

[2015-05-18 11:52] MoOx commented on #401
Et si on rajoutais aussi la règle

- During a review, the 3rd person which is ok might change review label on the PR.

[2015-05-18 11:56] #348 closed

[2015-05-18 11:56] #415 closed

[2015-05-19 09:47] MoOx commented on #353
This still need doc, when we will do docs.

[2015-05-19 09:48] Macxim commented on #353
Thanks for reopening.

[2015-05-19 19:13] #374 closed

[2015-05-19 19:24] magsout commented on #374
Top la méthode que tu as utilisé pour inline les SVG, effectivement ça évitera les bug de `use` par contre, je n'ai jamais utilisé cette méthode, mais un sprite n'est pas necessaire, j'ai rien vu dans le doc, qui disait ça

[2015-05-19 23:04] Macxim opened #422 "Proposition de post : "Introduction à cssnext""
Il est temps de le sortir je crois.

[2015-05-20 05:10] MoOx commented on #422
Faut voir avec thedotpost comment on fait. Sinon on garde en/fr pour ici ?!

[2015-05-20 05:10] MoOx commented on #422
Mais sinon ouais.

[2015-05-20 05:37] magsout commented on #422
D'ailleurs c'est prévu pour quand chez eux ?

[2015-05-20 05:38] MoOx commented on #422
Bah justement. Je me demande si on garde pas tout ici. Le trafic de ce site à l'air juste nul (aucun pic sur le site de cssnext par exemple lié à la vidéo)

[2015-05-20 05:42] magsout commented on #422
De toute manière y a pas d'exclu chez eux ? Moi je suis pour tout publier ici. L'article de @Macxim est top en EN comme en FR

[2015-05-20 05:43] MoOx commented on #422
Ouais mais du double contenu ça sert à rien. On va faire un PR chez eux pour le virer.
@Macxim t'as qu'à fermer ta PR de correction. Je fais une PR chez eux.

[2015-05-20 05:45] MoOx commented on #422
On verra ce qu'il dit...

[2015-05-20 05:49] MoOx commented on #422
https://github.com/thedotpost/thedotpost-content/pull/3

[2015-05-20 06:15] MoOx commented on #374
Bah use c'est pour faire référence à un id dans un svg, donc ça veut dire que t'as un gros svg avec tous tes icones dedans (c'est une sorte de sprite donc).

[2015-05-20 06:39] Macxim commented on #422
Oui, faisons ça.
Ça fait deux semaines que c'est chez eux et que ça ne bouge pas.
Aucun intérêt.

[2015-05-20 06:41] MoOx commented on #422
Après je comprends qu'il ne sorte pas le post en même temps que l'autre et qu'il attende hein. Mais vu qu'on va push du contenu en asap, autant garder ce contenu (de chez nous) chez nous :)

[2015-05-20 06:47] Macxim commented on #422
J'ai aussi une version ES qui est prévue. Ça peut toujours servir.

[2015-05-20 06:49] MoOx commented on #422
Pour l'image on pourrait choisir par là

https://www.flickr.com/search/?license=4%2C5%2C6%2C9%2C10&text=back%20to%20the%20future&advanced=1 (license ok)
ou prendre celle là p-e :D http://the--kyza.deviantart.com/art/What-the-Flux-511691704

[2015-05-20 06:58] Macxim commented on #422
J'avoue que celle-ci est top :)

[2015-05-20 07:38] MoOx commented on #373
Bon je pense tenter d'accélérer un peu la sortie des posts et à passer à mardi/jeudi car j'en ai un paquet dans le pipe. Du coup je passerais le premier de la CI demain et mardi celui sur webpack (que j'aurais mis en PR avant). Ca vous dit ?

[2015-05-20 08:17] Macxim commented on #406
:+1: pour le post. Ça va aider les n00bs comme moi. Merci.

[2015-05-20 08:18] kud commented on #406
C'est vraiment pas plus mal. Je voyais mal deux "node", le bordel que c'aurait foutu.

[2015-05-20 08:19] Nyalab commented on #406
bof pour le post, maintenant que ça merge osef, peut être faire un post mémorial lol
par contre 2 moteurs d'exécution js server-side je vois pas le souci @kud, y'en a bien plusieurs en front

[2015-05-20 08:20] MoOx commented on #406
Ouais le merge arrive. On a juste à attendre un peu :)

[2015-05-20 08:20] kud commented on #406
Parce que certaines libs ne marchent qu'avec l'un ou qu'avec l'autre. Tu aurais dû utiliser nvm. Perso, ca me casse les couilles.

Autant _, ca passe, autant là…

[2015-05-20 08:22] Nyalab commented on #406
bah c'est comme des features que t'as que dispo sous chrome, la preuve, ça force la concurrence (firefox en a bénéficié) et la preuve nodejs va en bénéficier, même si ça avait pas mergé, nodejs aurait du se réveiller pour se mettre à niveau :)

[2015-05-20 08:23] kud commented on #406
Je suis pas d'accord avec le // de ta phrase mais je n'ai pas le temps de développer.

[2015-05-20 08:24] MoOx commented on #406
Moi je suis d'accord et je n'ai pas le temps de développer.
Si iojs n'avait pas été, on serait encore avec un node 0.10. Seriously. Stop le touchage de bite.

[2015-05-20 08:25] kud commented on #406
Je dis pas que iojs n'a pas sa place. Je dis simplement que je suis content qu'il n'en reste plus qu'un et que ce soit iojs.

[2015-05-20 08:25] Nyalab commented on #406
en effet, le dénouement est cool, tout le monde va en profiter

[2015-05-20 12:04] skinnyfoetusboy commented on #406
Ça veut dire qu'on pourra builder Putaindecode sans passer par io.js maintenant ? :trollface:

[2015-05-21 11:31] lionelB commented on #374
C'est quoi le bug du use (pour ma culture perso) ?

[2015-05-21 11:39] lionelB commented on #374
en regardant le code de SVGICon je me suis demandé si on pouvait pas utilisé ça https://github.com/rpominov/svgo-loader ?
(désolé si ça à l'air con, j'ai un peu du mal avec webpack)

[2015-05-21 11:47] lionelB commented on #403
Hello

Qu'est ce que tu entends par faire un preproc custom "modulaire" ?
Sinon, en relisant ton intro, j'ai l'impression que le principal argument de pas faire des prépro custom repose seulement sur le fait que se sera forcément mal fait

Est ce qu'il y a des raisons où faire un prépro custom se justifie ?
Quelles serait las autres raisons de pas en faire ?

[2015-05-21 12:12] MoOx commented on #374
bug avec use on onClick sur safari ou seul les click sur un path non transparent fonctionne. Plutôt pénible pour un bouton carré que seul la forme exacte de l'icone soit cliquable.

Le site actuellement n'utilise pas webpack pour le rendu via react, c'est pour cela que je n'ai pas utilisé de loader.
Webpack est utilisé pour le js côté client (encore très pauvre) et les css.

[2015-05-21 12:18] lionelB commented on #374
merci pour ta réponse

[2015-05-21 12:20] MoOx commented on #403
Les standards monsieurs.

Fair un préprocesseur custom avec des syntaxes de l'espace c'est pas bon sur le long terme. Un nouveau sur un projet il arrive et devrait apprendre les spécificités de chaque module. Bon en soit c'est pas le pire des arguments. C'est plutôt l'aspect ci après qui me dérange.

Coffreescript, comme Sass est une sorte de standard propriétaire à leur façon.
Par contre des prep

[2015-05-21 12:21] MoOx commented on #403
Bon ben voilà je crois que mon post est quasiment terminé. Merci :)

[2015-05-21 12:40] magsout commented on #403
NOMALIZE ALL THE THINGS

[2015-05-22 07:27] kewah opened #423 "Augmenter l'interlignage des h*"
![screen shot 2015-05-22 at 09 21 09](https://cloud.githubusercontent.com/assets/195442/7765958/49334318-0064-11e5-8416-f608f67ef19a.png)

Les lettres se touchent, c'est pas jolie et c'est perturbant :)

[2015-05-22 07:28] MoOx commented on #423
J'avais tenter de mettre un rythme vertical, mais jvais virer tout ça, ça fait plus chier qu'autre chose. Merci de le souligner :)

[2015-05-22 07:47] MoOx opened #424 "Proposition de post: Présentation de JSX"
Ce post est bien tourné
https://medium.com/javascript-scene/jsx-looks-like-an-abomination-1c1ec351a918

Un truc dans le genre serait pas mal

[2015-05-26 09:03] MoOx opened #426 "Post minimal guidlines"
Je propose qu'on se fasse des guidlines pour la rédaction de posts. Chaque post devra respecter ces règles:

- Un post ne doit pas contenir de formule personnel ("Je pense que", "je vous nique tous avant la mise en prod le vendredi" etc). Une des raisons _selon moi_ (BAM ça passe pas ça par exemple). Puisque revu et corrigé par une groupe -- parenthèse: dans ce sens, on devrait diminuer la taille

[2015-05-26 09:06] kud commented on #426
DÉSOLÉ SI JE RÉPONDS PAS TOUT DE SUITE, FAUT QUE JE RÉFLÉCHISSE CORRECTEMENT AU SUJET.

[2015-05-26 09:41] MoOx opened #427 "Owners definition"
on pose la chose suivante :

owners = 8 top contribs (contrib: commit + issue comments) sur les 12 derniers mois en date des noms de domaines.

C'est simple et ça évite de demander et on a aucune rancune à retirer les inactifs des owners.

:+1: or :-1:

[2015-05-26 09:43] Nyalab commented on #427
:+1:

[2015-05-26 09:44] kud commented on #427
:-1:

[2015-05-26 09:51] MoOx commented on #427
on poserais*. Ceci n'était pas un choix. Mais je sens sur le chat que mes points soulèvent des problématiques que je voudrais éviter à tout prix: la prise de tête.

[2015-05-26 09:51] #427 closed

[2015-05-26 09:51] #426 closed

[2015-05-26 12:28] MoOx commented on #427
Transféré https://github.com/putaindecode/organisation/issues/42

[2015-05-26 12:29] MoOx commented on #426
Transféré https://github.com/putaindecode/organisation/issues/41

[2015-05-27 22:59] MoOx commented on #403
Bon je ne prendrais pas le temps d'écrire ce post. Cela étant dit il y aura une section dans l'esprit dans la FAQ de cssnext.io.

[2015-05-27 22:59] #403 closed

[2015-05-29 07:58] Nyalab opened #429 "extract dominant hero image color to calculate the title's one"
what @bloodyowl said (https://github.com/putaindecode/putaindecode.fr/issues/415#issuecomment-102402493) was a good ideai think

https://github.com/jariz/vibrant.js

[2015-05-29 08:10] kud commented on #429
Cool  idea!

[2015-05-29 20:48] Uhsac opened #430 "Proposition de post : Docker"
Salut à vous,

Je suis votre site depuis un moment et je me suis dis que je pourrais aider un peu avec mes quelques connaissance.

Je suis un grand fan de Docker et je l'utilise pour un peu tout depuis un peu moins d'un an. J'aimerais donc savoir si ça pourrait intéresser que je rédige un petit article sur comment utiliser docker et ses copains (docker-compose et docker-machine) pour créer des env

[2015-05-29 20:50] MoOx commented on #430
:+1:

Je n'ai pas idée du volume d'infos à partager mais si ça doit faire un gros pavé, faudrait pas hésiter à découper. A toi de nous dire ;)

[2015-05-29 21:09] drazik commented on #430
Carrément !

[2015-05-29 21:32] magsout commented on #430
Ca  m'intéresse à fond surtout que j'aimerai l'utiliser mais jamais pris le temps de regarder la donc. Je suis pour.  Comme l'a dit @MoOx surtout pas d'article long comme le bras,  quitte à découper en plusieurs partie.

[2015-05-29 22:21] MoOx commented on #187
Switching to markdown-it planned.

https://github.com/markdown-it/markdown-it-emoji

[2015-05-29 22:30] kud commented on #430
Oui. :)

[2015-05-29 22:31] kud commented on #187
Fun. :D

[2015-05-30 08:17] Uhsac commented on #430
Ok ok, je vais commencer à bosser sur un article d'introduction à docker et plus tard je ferais d'autres articles pour utiliser compose et machine.

[2015-05-30 08:19] Uhsac commented on #430
Ok ok je vais bosser sur un plan et je verrais si ça tiens sur un article ou sur plusieurs

[2015-05-30 09:16] bloodyowl commented on #430
:+1: @Uhsac fonce

[2015-05-31 13:18] Uhsac commented on #430
Il faut obligatoirement io.js pour builder le site ?
Parce que j'ai cette erreur :
```jsdom 4.x onward only works on io.js, not Node.js™: https://github.com/tmpvar```

[2015-05-31 13:38] magsout commented on #430
@Uhsac oui il faut installer io.js

[2015-05-31 17:56] Uhsac commented on #430
Sur os x vous conseillez quoi pour utiliser io.js et node en même temps ? nvm ?

[2015-05-31 17:57] kud commented on #430
Oui nvm

[2015-05-31 18:07] Uhsac commented on #430
Désolé je fais un peu le boulet mais je n'arrive pas à lancé le script.
J'ai cette erreur :
[code]

J'ai essayé d'ajouter un fichier à mon nom dans le dossier authors mais ça na pas changé le résultat.

[2015-06-01 04:26] MoOx commented on #430
@Uhsac j'ouvre une issue pour ce problème qu'on s'en occupe. En attendant, met le nom d'un autre auteur qui fonctionne :D

[2015-06-01 04:27] MoOx opened #431 "TypeError: Cannot read property 'avatar_url' of undefined"
Ref https://github.com/putaindecode/putaindecode.fr/issues/430#issuecomment-107229872

[code]

[2015-06-01 07:35] Uhsac commented on #430
@MoOx Oui c'est ce que j'ai fais ^^

[2015-06-02 08:18] Macxim opened #433 "Post: Introduction à cssnext - translate missing bits of content in EN and ES"
See https://github.com/putaindecode/putaindecode.fr/pull/428#issuecomment-107736184

[2015-06-03 13:01] kud opened #435 "Faire un moteur de recherches pour les articles"

[2015-06-03 13:12] bloodyowl commented on #435
avec du statique ça va pas être évident

[2015-06-03 13:14] MoOx commented on #435
Trop simple. On fait une page avec tous les posts cachés (meta only) en json, puis on fait une recherche dedans (on va trouvé un lib ou ca doit pas etre la mort a faire du indexOf pour commencer) et  on display les PostPreview correspondante.

Même jekyll propose ça. Ex: http://hugogiraudel.com/search/

[2015-06-03 13:14] Nyalab commented on #435
je vois 2 solutions

1. avec un moteur de recherche qui se base sur du fichier regénéré à chaque publish (comme notre task contributors)
2. avec une page qui liste tous les posts en `display: none;` et une fonction de filter qui reveal que ceux qui matchent sur les titres ou keywords ou auteurs peut-être

[2015-06-03 13:14] MoOx commented on #435
On devra mélanger les 2 @Nyalab, ne serait que pour faciliter le display :)

[2015-06-04 08:17] MoOx opened #436 "Minimal requirement for hero image"
2 things that should be done (I think) before adding in git

- max width 2048
- compress with jpeg mini (light) (app store) - ~really~ good jpeg compressor (best I found so far)

This will ensure us to have a small repo, even with lots of images (I think)

Any thoughts ?

[2015-06-04 08:18] MoOx commented on #436
And btw, here is a nice link to find images

[2015-06-04 09:26] MoOx opened #438 "Add a markdown linter"
Some rules
- max length for lines
- some basic check for links & headings

https://github.com/DavidAnson/markdownlint

[2015-06-05 19:41] lionelB commented on #438
:+1: good idea
 I guess it will improve the diff & review

[2015-06-05 22:42] magsout commented on #438
Yep top

[2015-06-07 13:12] Uhsac commented on #430
J'ai fini de bosser sur une première version, vous pouvez la voir [ici](https://github.com/Uhsac/putaindecode.fr/blob/post.introduction-a-docker/content/posts/docker/introduction-a-docker/index.md).

Si vous avez des retours je suis preneurs parce que c'est la première fois que j'écris un article ^^'.

Je vais reprendre quelque partie surtout sur le début, et vérifier l'orthographe car je ne l'ai

[2015-06-08 05:22] MoOx commented on #430
Closing in favor of #439

[2015-06-08 05:22] #430 closed

[2015-06-08 08:24] Nyalab commented on #438
nice idea!

[2015-06-10 05:07] magsout opened #441 "Some search engines fail to get a correct description for the website"
![capture d ecran 2015-06-10 a 07 06 42](https://cloud.githubusercontent.com/assets/1997108/8075322/4ee880cc-0f3f-11e5-8026-7627071a47f3.png)

[2015-06-10 05:16] magsout commented on #407
Quelques tests comme ça :

![p proposition 1 point d exclamation](https://cloud.githubusercontent.com/assets/1997108/8075412/886ca6ce-0f40-11e5-9882-73b7d6d579e7.png)
![p proposition 2 bord rouge](https://cloud.githubusercontent.com/assets/1997108/8075413/886ead48-0f40-11e5-9ad5-381adc88d015.png)
![p proposition 3 bord rouge decale](https://cloud.githubusercontent.com/assets/1997108/8075416/8870c1

[2015-06-10 05:17] magsout commented on #373
OH oui, apparement beaucoup de monde attend ton post ;)

[2015-06-10 05:42] magsout commented on #424
:+1:

[2015-06-10 05:42] magsout commented on #424
t'as du post à écrire ;p

[2015-06-10 05:46] MoOx commented on #407
Le rond rouge à la limite, le reste j'ai du mal perso

[2015-06-10 05:48] MoOx commented on #441
Bizarre car Google resort pas du tout ça...

[2015-06-10 05:49] magsout commented on #407
Je suis pas fan non plus. A vrai dire je suis même pas sur que les gens fassent bien la distinction entre post fav et non fav. Je vais tourner ma réflexion ailleurs

[2015-06-10 05:50] magsout commented on #441
Yes,  y a même les site link sur Google

[2015-06-10 06:40] Macxim commented on #407
Pareil que @MoOx, le cercle rouge avec le petit espace blanc. Le reste, non.

[2015-06-10 06:41] Macxim commented on #441
J'ai hacké le canard avec ma description !

[2015-06-10 08:03] kud commented on #407
Au mieux https://cloud.githubusercontent.com/assets/1997108/8075416/8870c150-0f40-11e5-902e-c8aac99bc661.png.

Le reste, je n'aime pas. C'est trop grossier à mon sens. Mais j'aime bien l'idée.

[2015-06-10 08:15] bloodyowl commented on #407
sinon on met rien hein

[2015-06-10 18:02] #422 closed

[2015-06-11 08:29] Macxim commented on #438
We definitely need this.

[2015-06-11 08:50] Macxim commented on #441
Même chose ici :
![screen shot 2015-06-11 at 10 48 20 am](https://cloud.githubusercontent.com/assets/1909957/8103273/714b14fc-1027-11e5-8e42-f31ec7891f08.png)

Et ici :

![screen shot 2015-06-11 at 10 49 35 am](https://cloud.githubusercontent.com/assets/1909957/8103291/a2f57d30-1027-11e5-9df4-94126f5e36ba.png)

[2015-06-11 08:53] kud commented on #441
Un meta description aiderait peut-être.

[2015-06-11 08:54] Macxim commented on #441
Oui, je viens de voir qu'il n'y en avait pas.

[2015-06-11 08:55] MoOx commented on #441
les meta desc et keyword c'est juste la loose. Faut plutôt comprendre pourquoi ça merde précisément là sur plusieurs moteurs.

[2015-06-11 09:23] magsout commented on #441
`keyword` c'est useless, et utilisé par aucun moteur de recherche .

Par contre la meta description ou item description, c'est un peu le but pour les moteurs de recherche. Je vois pas d'autre raison du bug @MoOx ?

[2015-06-11 09:28] MoOx commented on #441
Les moteurs de recherches devrait prendre le texte sémantiquement le plus important. Là il prends juste un truc random au milieu d'une liste. Faut surement qu'on revoit l'html de la page et ça suffira imo.
J'ai juste jamais eu à utiliser une desc depuis plusieurs années.
De plus selon ta query, le moteur peut resortir un bout de texte en plein milieu de la page si c'est ça qui match, donc les meta

[2015-06-11 09:31] kud commented on #441
Si on arrive sans, c'est cool mais dans l'idée, je pense que la meta description est importante pour le SEO et ce genre de problème. Dans n'importe quelle boite où j'étais, on la mettait.

[2015-06-11 09:33] MoOx commented on #441
Alors mettez là, je vous en prie :)

[2015-06-11 09:35] kud commented on #441
Je vais en mettre une statique provisoirement, et on ajustera en fonction des pages.

[2015-06-11 10:11] MoOx commented on #441
Closed by a16e23e2ada3e56de5d4e78b5da0b12dae618d23

[2015-06-11 10:11] #441 closed

[2015-06-11 11:52] kud commented on #401
Il y a une discussion à faire : quid des corrections de PR venant d'un autre repo ?

Est-ce possible de les commenter quand c'est des typo, ou faut vraiment faire une PR sur le repo du mec à cette PR ?

[2015-06-11 12:31] MoOx commented on #401
PR sur PR, c'est pas plus long, ne serait-ce que via GitHub. Après ça peut être relou je comprends bien.

[2015-06-11 19:11] #412 closed

[2015-06-11 19:11] #413 closed

[2015-06-12 04:24] #431 closed

[2015-06-12 04:29] #350 closed

[2015-06-12 04:30] MoOx commented on #225
En l'état si on fait pas ca, les nouveaux contributeurs devront s'auth avec github ou avoir un token github, assez rebutant, on reste comme ça pour le moment.
Travis est en lecture seul, ça va être casse couille.

[2015-06-12 04:30] #225 closed

[2015-06-12 04:40] MoOx commented on #322
Closed in favor of #451

[2015-06-12 04:40] #322 closed

[2015-06-12 04:42] MoOx commented on #333
du coup ?

[2015-06-12 04:43] MoOx commented on #370
On va update comment contribuer pourqu'il décharge une partie sur le CONTRIBUTING.md

[2015-06-12 04:43] #370 closed

[2015-06-12 04:43] MoOx commented on #358
du coup ?

[2015-06-12 06:11] MoOx commented on #438
Closing in favor of #452

[2015-06-12 06:11] #438 closed

[2015-06-13 16:28] kud commented on #436
I don't mind about the size, it's mostly the weight which is important in my opinion.

Yes we should optimise images in any case.

[2015-06-13 16:29] kud commented on #423
:D

[2015-06-13 16:30] kud commented on #407
On rajoute une étoile devant ou après chaque auteur membre ?

[2015-06-13 16:33] kud commented on #401
Je pense que pour les articles devant de l'extérieur, on devrait faire comme bon nous semble.

En revanche, lorsqu'il s'agit d'un post interne :

- typo -> commit direct
- discussion -> un commentaire

Pour les contributions des autres sur un post, c'est cool mais je ne vois pas l'intérêt de garder le commit. Je pense qu'un seul commit devrait suffir pour un post. Si en revanche, vous voulez vraim

[2015-06-13 16:33] kud commented on #400
C'en est oooooooooù ? On attend nous :p

[2015-06-13 16:35] kud commented on #367
J'avoue que là, étant sous Windows (bouuuuuh) et n'ayant pas envie de m'emmerder à compiler lorsque j'écris un article, un 'tit staging serait pas désagréabl.

[2015-06-15 06:50] #353 closed

[2015-06-15 06:50] #436 closed

[2015-06-15 07:25] lionelB commented on #407
rien pour ma part

[2015-06-15 22:26] MoOx commented on #239
https://github.com/cssnext/cssnext/commit/eef9a298d460b931740a581501879bd9d3dbd15f
En ligne mercredi sur le site de cssnext :)

[2015-06-16 08:25] cedricdelpoux opened #454 "Bug cover d'un article en version mobile sur iphone 4"
Lorsque j'essaie de visionner un article depuis un iphone 4, la photo de couverture de l'article est immense et il me faut scroller assez longtemps pour pouvoir lire l'article.

![image 1](https://cloud.githubusercontent.com/assets/2683300/8178728/5cf5cb58-1411-11e5-8c6c-639b8c8b808e.png)
![image](https://cloud.githubusercontent.com/assets/2683300/8178727/5cf23ede-1411-11e5-8374-765386b0f80c.png)

[2015-06-16 08:39] kud opened #456 "Bug travis après avoir mergé dans master"
- J'ai corrigé une typo sur un article
- J'ai mergé dans master
- J'ai rien fait de plus
- Travis a apparemment déployé son fail :

![macosx-2015-06-16-at-10 36 41](https://cloud.githubusercontent.com/assets/655838/8179019/e217659c-1413-11e5-9563-5d84b4035e06.png)

Ce qui est drôle, c'est le nombre de commits (en haut à gauche de l'image :D). Quelle ironie du sort.

Apparemment @MoOx, d'après les

[2015-06-16 08:47] magsout commented on #456
ahaha le 404 fail ;p

[2015-06-16 09:05] magsout commented on #454
@cedricdelpoux  iPhone 4 avec iOS 7?

[2015-06-16 09:12] cedricdelpoux commented on #454
@magsout iOS 7.1.2
On ne peut pas aller au delà sur un iPhone 4

[2015-06-16 09:22] magsout commented on #454
Sur le smiluator ça passe nickel. T'as essayé de supprimer ton cache ? Ca fait ça sur tous les posts ?

[2015-06-16 09:31] MoOx commented on #454
Quel browser ?

[2015-06-16 09:38] Macxim commented on #454
Pour information, j'ai remarqué un truc étrange sur iPhone 5, Safari, iOS 8.3.
L'image ne s'affiche pas correctement non plus.
![img_5872](https://cloud.githubusercontent.com/assets/1909957/8180128/2316b298-141c-11e5-9605-22dd935aef12.PNG)

[2015-06-16 09:42] magsout commented on #454
@Macxim exact , je viens de faire le test. Un refresh et l'image se load seulement après

[2015-06-16 09:45] MoOx commented on #454
J'ai testé que sur ff en faisant ça :trollface:

[2015-06-16 09:45] MoOx commented on #456
Le build cassé ne deploy plus https://travis-ci.org/putaindecode/putaindecode.fr/builds/66999338

[2015-06-16 09:45] #456 closed

[2015-06-16 09:47] MoOx opened #458 "npm test is broken with fresh node_modules"
Seems related to the end of `scripts/build.js`. Maybe an issue related to a fucking package update that doesn't follow semver... (because it was working "before")

[2015-06-16 09:49] MoOx commented on #454
@Macxim same issue as you reported on iPhone 4s/iOS 8.x on iOS Simulator.

[2015-06-16 09:59] cedricdelpoux commented on #454
On dirait que ça le fait que pour l'article sur docker chez moi

[2015-06-16 13:49] kud opened #459 "Problème de contraste sur les citations ?"
Avant :

![macosx-2015-06-16-at-15 47 24](https://cloud.githubusercontent.com/assets/655838/8184486/0aa59e68-143f-11e5-96f6-bb7c71da83b6.png)

Après :

![macosx-2015-06-16-at-15 49 08](https://cloud.githubusercontent.com/assets/655838/8184547/44e504d8-143f-11e5-8c67-9f5d27810d1b.png)

[code]

[2015-06-16 13:50] kud commented on #459
J'ai éclairci la bordure pour bien indiqué que c'était une citation et j'ai asombri le texte pour une meilleure lecture.

[2015-06-16 13:51] kud opened #460 "Contraste sur le titre"
Une remarque que je trouve juste sur twitter : https://twitter.com/nhoizey/status/610741580132171776

Je vais voir ce que je peux proposer.

[2015-06-16 13:53] Macxim commented on #460
Oui, on l'a aussi évoqué ce matin sur Slack. Et puis il y a aussi https://github.com/putaindecode/putaindecode.fr/issues/429

[2015-06-16 13:55] kud commented on #460
Okay on peut fermer ici alors.

[2015-06-16 13:55] #460 closed

[2015-06-16 13:57] kud opened #461 "Problème de line-height / padding sur les tags"
Il n'y a pas le même padding en haut qu'en bas, est-ce voulu ?

![macosx-2015-06-16-at-15 56 28](https://cloud.githubusercontent.com/assets/655838/8184736/4ee5746c-1440-11e5-8db9-796b4ff3750f.png)

(Je ne fais pas de PR pour l'instant, je prends la tension. Si ça vaut le coup, je ferai en conséquence. ;))

[2015-06-16 14:04] kud opened #462 "Change fonts"
Je suis de moins en moins fan des fontes du site. Surtout celle du titre.

Je n'ai pas encore de proposition mais j'aimerais si possible que l'on en discute.

@bloodyowl propose `Seravek` qui est mieux à mon sens que ce que l'on a actuellement.

![screen shot 2015-06-16 at 16 00 19](https://cloud.githubusercontent.com/assets/655838/8184932/85d18208-1441-11e5-88d4-a0da7ec9f1e7.png)

[2015-06-16 14:05] kud commented on #462
![screen shot 2015-06-16 at 16 00 19](https://cloud.githubusercontent.com/assets/655838/8184932/85d18208-1441-11e5-88d4-a0da7ec9f1e7.png)

[2015-06-16 15:51] MoOx commented on #460
A noté que on peut mettre un gradient à la main par dessus l'image, ça a déjà été fait sur plusieurs posts

http://putaindecode.fr/posts/ci/le-deploiement-continu/
http://putaindecode.fr/posts/entreprendre/auto-entrepreneuriat-retour-experiences/

Ca ferait le taf en attendant (c'est indiqué dans le CONTRIBUTING.md ;))

[2015-06-16 15:52] MoOx commented on #460
Je pense que on peut pas forcément mettre une couleur automatiqueemnt. C'est à l'auteur de gérer ça imo.

[2015-06-16 15:53] MoOx commented on #459
Je trouve qu'on voit plus assez la différence pour le coup.

![screen shot 2015-06-16 at 17 53 13](https://cloud.githubusercontent.com/assets/157534/8187555/a361aca8-1450-11e5-891c-1f0c3de044b0.png)

[2015-06-16 16:00] kud commented on #460
Carrément @MoOx

[2015-06-16 16:02] kud commented on #459
Mon seul problème ici est que le texte est beaucoup moins lisible ou plutôt qu'il est trop mis "de côté" le rendant un peu "facultatif" à lire.

[2015-06-16 16:04] MoOx commented on #459
Faut voir comment medium gère ça.

[2015-06-16 16:06] kud commented on #459
![macosx-2015-06-16-at-18 06 14](https://cloud.githubusercontent.com/assets/655838/8187824/6d40e790-1452-11e5-9308-bbe09950b225.png)

https://medium.com/@ev/a-mile-wide-an-inch-deep-48f36e48d4cb

Apparemment la couleur est assez sombre quand même, par contre, italique.

[2015-06-16 16:07] MoOx commented on #459
anéfé.

[2015-06-16 16:22] MoOx commented on #458
Cannot reproduce right now. Someone can ?

[2015-06-16 16:26] MoOx commented on #458
Someone fix it for us.

[2015-06-16 16:26] #458 closed

[2015-06-16 16:41] MoOx commented on #454
I use 15vh for the header and it seems iOS 7 is pretty buggy with it http://stackoverflow.com/questions/28139752/ios-vh-on-viewport-orientation-change
I will use rem for small screen to avoid this... (I have a real iPhone 4 so I will fix it...)

[2015-06-16 17:00] #454 closed

[2015-06-16 17:01] MoOx commented on #454
I pushed a fix, cannot reproduce both bugs atm

[2015-06-16 17:19] MoOx commented on #401
Je propose aussi qu'on fasse en 2 temps:

- need revision: relecture sur le fond (ici l'auteur peut force push et tout, perdant tous les commits)
- need final revision: relecture sur la forme, c'est là qu'on peut corriger les typos et autres trucs via commit directe (ici on ne doit plus force pusher, afin de conserver les éventuelles contributions - même les fautes selon moi, nécessite un petit me

[2015-06-16 17:22] MoOx commented on #305
Bon moi je pense qu'on doit faire ca en amont pour pas alourdir le repo. Si on garde des putains d'images de 2Mo, le repo va vite faire 100/200/500Mo et ça va pas être sympa à dl.

A la limite qu'on fasse des thumbs aux build pourquoi pas, mais selon moi il faut impérativement versionner des versions déjà optimisers sans quoi, ça va souler et le build prendra de plus en plus de temps, travis devan

[2015-06-16 17:22] MoOx commented on #333
yakékun

[2015-06-16 17:25] MoOx commented on #358
yakekun?

[2015-06-16 17:42] bloodyowl commented on #358
@JUSTINMARSAN LAST CALL

[2015-06-16 17:49] Macxim commented on #454
J'ai encore le problème.

[2015-06-16 17:50] Macxim commented on #305
Tout à fait d'accord.

[2015-06-16 18:53] MoOx commented on #454
sur iOS 8 donc ? cf ton screen ?

[2015-06-16 18:54] Macxim commented on #454
Yep, exactement.

[2015-06-16 18:59] magsout commented on #454
Le bug de @cedricdelpoux et @Macxim sont différents. @MoOx ton commit régle bien le problème de vh mal géré par iOS7. Pour l'autre, au premier chargement on a une partie de l'image mais par contre le fallback pour le brackground est bien présent sur toute la surface. Si on refresh la page, l'image se charge bien sur tout le header

[2015-06-16 19:05] magsout commented on #462
@kud ton screen est basé sur `Seravek` ?

[2015-06-16 19:06] Macxim commented on #462
Oui, c'est celui de @bloodyowl partagé sur Slack.

[2015-06-16 19:07] magsout commented on #459
Je pencherais sur le coté medium. Même font, même couleur, même size, juste italic et le border.

[2015-06-16 19:08] magsout commented on #400
ah oui, oupss, j'en ai fait un autre entre temps. J'ai zappé en vérité. Bon j'attaque alors.

[2015-06-16 19:46] kud commented on #401
Carrément une bonne idée, j'aime bien.

En effet, je suis partagé sur le nombre de commits, j'aime bien que ce soit propre et minimaliste. On publie une "fonctionnalité" en faisant un post, pas 36. Et en même temps, j'aimerais remercier la relecture des personnes. Pour le moment, ça se fait (malheureusement/heureusement) via commits.

En proposant le 2-steps comme tu présentes, cela répond bien à

[2015-06-16 19:47] kud commented on #333
Y'a sonneper !

[2015-06-16 19:50] kud commented on #305
Ouais désolé pour mon post, j'étais sous vindoz et j'ai zappé la partie opti. Faudrait proposer des outils en ligne dans le contributing.md (j'ai déjà tout le matos sous macosx pour ça) ou un tuto pour du cli node.

[2015-06-16 19:52] kud commented on #462
Yep @magsout, @Macxim a bien répondu.

Je vais voir de mon côté quelle fonte je peux proposer.

[2015-06-16 19:53] kud commented on #459
Je suis ok avec @magsout sauf éventuellement la fonte à voir, et surtout le border, je suis preneur de celui que j'ai proposé :D je l'aime bien. Attendez, je vais tester

[2015-06-16 19:53] kud commented on #459
Ouais le même border que Github en fait.

[2015-06-16 19:54] kud commented on #400
:)

[2015-06-16 20:03] kud commented on #459
Sur le nouvelobs :

![windows-2015-06-16-22 01 48](https://cloud.githubusercontent.com/assets/655838/8193171/7fa6e990-1473-11e5-8351-80e754d05f35.png)

(la ferme @bloodyowl, on s'en fout du contenu)

[2015-06-16 20:03] kud commented on #459
En fait, le décalage + border en soit pourraient suffire.

[2015-06-16 20:05] MoOx commented on #459
En fait je crois que j'avais tout pompé de github quand je l'ai fait de mémoire.

[2015-06-16 20:05] kud commented on #459
Chez playtv, on fait ça. J'aime bien l'idée de la quote en background.

![windows-2015-06-16-22 04 49](https://cloud.githubusercontent.com/assets/655838/8193198/b7bdbcf0-1473-11e5-8dab-c92420319722.png)

[2015-06-16 20:05] MoOx commented on #459
c super moche lol.
Go pour ta première modif. Je mettrais juste une couloir entre la tienne et l'existant pour le texte.

[2015-06-16 20:07] MoOx commented on #305
Ok. Je ferme donc et on vera pour les thumbs si on en resent le besoin.

[2015-06-16 20:07] #305 closed

[2015-06-16 20:07] kud commented on #459
Super moche ?

![1343594355-moche](https://cloud.githubusercontent.com/assets/655838/8193236/f899fff4-1473-11e5-9336-db380525a7e6.jpg)

---

Okay je ferai une PR et je vois ce que disent les gens. :)

[2015-06-16 20:08] MoOx commented on #459
J'aurais mis ça plutôt

![](https://avatars3.githubusercontent.com/u/655838?v=3&s=512)

[2015-06-16 20:09] kud commented on #459
Mais quel con :D

[2015-06-16 20:10] MoOx commented on #454
Ouais j'ai réussi à l'avoir une fois au début, après impossible à reproduire. Le vieux bug random de merde... Ça va être fun à fixer... Le `*zoom: 1` me manque des fois :D. Ah et `transform: translate3D(0,0,0)` ? :D

[2015-06-17 07:19] cedricdelpoux commented on #454
Le bug est résolu chez moi en tout cas. Super réactivité les gars. Merci :+1:

[2015-06-17 07:24] Nyalab commented on #358
![](http://i.ytimg.com/vi/HgllDrrUgy8/hqdefault.jpg)

[2015-06-17 07:28] Nyalab commented on #401
![](http://cdn.meme.am/instances/500x/57634473.jpg)

[2015-06-17 07:28] Nyalab commented on #333
daed

[2015-06-17 08:11] lionelB commented on #461
à droite et à gauche non plus on dirait :D

[2015-06-17 13:10] MoOx commented on #239
Hop en exemple http://cssnext.io/features/

[2015-06-17 13:15] kud commented on #239
J'adore !

On 17 June 2015 at 15:10, Maxime Thirouin <notifications@github.com> wrote:

--
*Erwann Mest*
kud.io

[2015-06-18 19:03] bloodyowl commented on #358
on close?

[2015-06-19 02:27] Nyalab commented on #358
Vazy on bois tg
Le 18 juin 2015 21:03, "Matthias Le Brun" <notifications@github.com> a
écrit :

[2015-06-19 07:36] #358 closed

[2015-06-19 07:36] MoOx commented on #358
Pas de nouvelles ? Pas de nouvelles :/

[2015-06-19 07:39] lionelB commented on #239
niquel @MoOx

[2015-06-19 08:54] ooflorent opened #464 "Proposition de post : Weird loop speed-up"
Juste le WIP pour le moment, flemme de faire une intro.
Dites moi si ça vous intéresse ou pas.

https://gist.github.com/ooflorent/2f3567b932a63a964f10

[2015-06-19 08:56] bloodyowl commented on #464
:+1:

[2015-06-19 08:57] bloodyowl commented on #464
même si

[code]

c'est plus joli :D

[2015-06-19 08:57] MoOx commented on #464
:+1:

[2015-06-19 08:57] kud commented on #464
:+1:

[2015-06-19 09:06] Nyalab commented on #464
👌, à terminer

[2015-07-03 15:01] Nyalab opened #471 "Make the website U N I V E R S A L"
## never forget
![](https://photos-5.dropbox.com/t/2/AABSQ_Pv3TU6jcjyhKt-Dz6jVfCeseF653WQyq1PemRBxw/12/21999985/png/32x32/1/1435942800/0/2/Screenshot%202015-07-03%2017.00.00.png/CPHivgogASACIAMgBCAFIAYgBygBKAc/Xw3EWHgZYchMllU6JyxhioYZP5PxZ6jUIm2rZSt6ug4?size=1280x960&size_mode=2)

[2015-07-03 15:03] MoOx commented on #471
We need to:
- use renderToString
- duplicate each pages as json or something that we can fetch from client side
- trigger the render in the front-end to sync server/client rendering

Should not be a big deal.

[2015-07-03 23:21] magsout commented on #464
:+1:

[2015-07-03 23:22] magsout commented on #407
voila

[2015-07-03 23:23] magsout commented on #333
Pas de réponse, bein pas de réponse.

[2015-07-03 23:23] #333 closed

[2015-07-22 05:21] magsout commented on #373
:+1:

[2015-07-22 05:21] #373 closed

[2015-07-22 15:05] MoOx commented on #406
Je réouvre en tant que post pour nvm :)

[2015-07-27 06:29] Mouvedia commented on #464
:+1:

[2015-07-27 15:29] Nyalab commented on #464
VAS-Y SORS TOI LES DOIGTS

[2015-07-28 15:45] MoOx opened #475 "Proposition de post: utiliser Webpack pour gérer un thème Wordpress"
Petit post avec juste quelques petits tips pour se faire un petit workflow webpack pour un thème wordpress. Oui ou nan?

[2015-07-28 16:51] madx commented on #475
Resiously, Wordpress ?

Je suis mitigé là :/

[2015-07-28 17:20] MoOx commented on #475
Si tu as un autre CMS accessible que Wordpress pour du site administrable par madame ou monsieur tout le monde je suis preneur. À ce jour malheureusement, je n'ai trouvé mieux et aussi souple que ce bon vieux moteur. Et puis bon http://bethesignal.org/blog/2015/02/27/new-era-wordpress-hhvm-rest-react/

Le code de Wordpress est ce qu'il est à ce jour, ça n'empêche pas que la finalité est bien prati

[2015-07-28 17:21] madx commented on #475
Bah tu vois une fois bien argumenté comme ça je suis bien mitigé

:+1: pour du Wordpress moderne

[2015-07-28 22:38] kud commented on #475
Je trouve justement qu'un post "poussé" (oui webpack ne doit pas être mass utilisé dans la communauté Wordpress, mais je me trompe peut-être) sur comment faire du wordpress et bien, ça a son intérêt.

[2015-07-31 12:38] MoOx opened #478 "Add a github token to handle contributors.cache"
Too many github api error currently due to unauth restrictions.

[2015-08-25 05:14] magsout commented on #475
Bon je veux bien. je vais devoir bosser sur webpack. Alors GOOOOO @MoOx

[2015-08-25 13:56] MoOx commented on #471
FYI, I have a PoC locally. I will try to integrate this in a month or so.

[2015-08-25 13:57] MoOx commented on #471
react/redux + fetch json for front / read json for static build + collections handled by a webpack loader.

[2015-08-31 14:47] MoOx opened #482 "Proposition de post: redux avec react"
petit example simple pour prise en main.

[2015-08-31 16:03] madx commented on #482
:+1:

--
François Vaux
http://madx.me/
Le 31 août 2015 16:47, "Maxime Thirouin" <notifications@github.com> a
écrit :

[2015-08-31 17:04] magsout commented on #482
🎉

[2015-08-31 17:05] Macxim commented on #482
Oui oui oui :+1:

[2015-09-01 10:42] bloodyowl commented on #482
:+1: si t'as besoin d'un coup de main

[2015-09-01 11:59] lionelB commented on #482
rho cool j'y pensais aussi vu que je voulais l'utiliser
gros +1

[2015-09-08 08:50] revolunet opened #483 "Proposition : Guide de survie du dev web"
Si ca vous semble utile, je peux préparer une traduction de ce post : http://blog.revolunet.com/blog/2015/09/04/the-web-developer-survival-guide/

Comments welcome sur le contenu aussi anyway :)

[2015-09-08 08:50] MoOx commented on #483
J'ai survolé, ça me parait une bonne idée 👍🏻

[2015-09-08 09:25] revolunet commented on #482
yes please

[2015-10-18 08:49] MoOx opened #484 "Slack page is not working"
https://putaindecode-slack.herokuapp.com/ seems dead atm. Need to check what is wrong.

[2015-10-18 08:50] MoOx commented on #475
pr incoming today.

[2015-10-18 08:52] MoOx commented on #471
[statinamic](https://github.com/MoOx/statinamic) is almost read and after react 0.14 update, I will migrate. Should not take long.

[2015-10-18 08:52] MoOx commented on #464
oui ? non ?

[2015-10-18 08:53] MoOx commented on #462
Je propose de virer les fonts de de mettre (--apple-)system-font (fallback Helvetica, Arial).

[2015-10-18 08:54] MoOx commented on #461
PR si besoin, je ferme.

[2015-10-18 08:54] #461 closed

[2015-10-18 08:54] MoOx commented on #435
will be possible with migration to statinamic. See #471

[2015-10-18 08:58] MoOx opened #485 "Update "Top contributors" section to reflect a recent period of time"
Last 6 months (or maybe last year to avoid too few contributions) should be enough + limit to 8.

The idea behind is to have the "auto" list of the owners. Related to https://github.com/putaindecode/organisation/issues/42

What do you think?

[2015-10-18 08:59] MoOx commented on #459
Idem, PR si besoin, sinon on laisse des issues trainées.

[2015-10-18 08:59] #459 closed

[2015-10-18 09:00] #376 closed

[2015-10-18 09:00] #369 closed

[2015-10-18 09:00] MoOx commented on #371
A refaire lors d'un refacto.

[2015-10-18 09:00] #371 closed

[2015-10-18 09:06] magsout commented on #484
We can replace directly by: https://putaindecode.slack.com/ no ?

Why we need the address on heroku ?

[2015-10-18 09:06] magsout commented on #475
:+1:

[2015-10-18 09:08] magsout commented on #462
@MoOx y a un site qui utilise cette font pour faire le test ?

[2015-10-18 09:13] MoOx commented on #462
Moox.io je crois :)

[2015-10-18 09:28] MoOx commented on #484
The default page doesnt offer an invite form :(

[2015-10-18 19:36] MoOx opened #486 "Add reviewers names in post meta ?"
Each reviewers can add a commit in order to add himself in the post reviewers list metadata (eg: after authors). Reviewing a post is a contribution imo.
What do you think ?

[2015-10-18 19:38] MoOx opened #487 ".fr -> .io"
- [x] use statinamic instead of metalsmith
- [x] merge translation PR posts
- [ ] change posts tree
- [ ] remove all references to putaindecode.fr (look for `](http://putaindecode.fr/`)
- [ ] update previous posts link in posts themselves (look for `](/posts/`)
- [ ] remove all useless `route:` metadata
- [ ] migrate disqus comments (export, update urls according to new tree, import)
- [ ] base ho

[2015-10-18 20:03] MoOx commented on #485
FYI, here are test with 6 months, then 12 months

[code]

[2015-10-18 20:04] MoOx commented on #485
Maybe we should add activity from issues, but I am not sure we will get a huge differences.

[2015-10-19 11:58] lionelB commented on #486
it's a good idea :+1:

[2015-10-19 12:42] Nyalab commented on #485
why the hell not

[2015-10-19 12:44] Nyalab commented on #486
it would promote reviewing posts, so it's a good idea (it cannot be automated right ? because of squashes, didn't it?)

[2015-10-19 12:57] Nyalab commented on #471
can't wait to see/help

[2015-10-19 12:57] Nyalab commented on #464
@ooflorent SORS TOI LES DOIGTS

[2015-10-20 04:57] #475 closed

[2015-10-20 05:06] MoOx commented on #484
Should we remove slack from our homepage since we are considering Discord? :trollface:

[2015-10-20 05:26] MoOx commented on #484
I tried to regenerate the app but it seems to be worst than before.

[2015-10-20 05:29] MoOx commented on #484
Ok, it was slow but it's fixed.

[2015-10-20 05:29] #484 closed

[2015-10-20 06:39] madx commented on #486
:+1: for me as well

[2015-10-20 06:41] Macxim commented on #486
Completely agree.

[2015-10-21 10:13] MoOx opened #490 "Proposition de post: Why is CLI global usage "not recommended"? (fr+en)"
Following https://github.com/cssnext/cssnext/issues/150

[2015-10-22 07:07] Macxim commented on #490
:+1: Yes please :)

[2015-10-22 07:11] Macxim commented on #407
On close alors ?

[2015-10-24 13:14] MoOx opened #491 "Add a way to "pay" post authors"
Since this website will never have ads (because ads sucks), what about things like tipee, paypal "pay me a beer" or something like that? Related: https://ploum.net/ce-blog-est-payant/

Obviously, money for one post will be to post author.

Feel free to bring more idea on the table.

[2015-10-24 13:16] MoOx opened #492 "Add a "shop" page"
Following this https://github.com/putaindecode/organisation/issues/30.
I just bough a t-shirt (the last mentionned in this thread), I will tell (and show) you own it looks.
We could imagine mugs and things like that.

Benefit might be used for servers (we don't have yet). We could imagine an association to grab the money.

[2015-10-24 13:17] MoOx commented on #471
Closing in favor of #487 (this will be in it).

[2015-10-26 08:04] bloodyowl commented on #491
good idea

[2015-10-26 16:26] MoOx opened #493 "Switch from Slack to Discord"
Even if there is no IRC bridge yet (reactiflux community is working on it), we already have 43 members in the Discord server.
On Slack we have 113 members BUT 77 inactives, so only 36 active members.

Also, Discord invite links allow to point to a channel, so for the en/fr issue, it's already solved, "en" from incoming .io/en, "fr", for .io/fr.

:+1: / :-1: ?

[2015-10-26 16:28] kud commented on #493
:-1:

[2015-10-26 17:06] madx commented on #493
Define "active"

How much active users on Discord ?

[2015-10-26 17:07] kud commented on #493
I stopped to read at:

[2015-10-26 17:16] MoOx commented on #493
@madx

- inactive: no connection to the service for some weeks, from what I know.
- discord, no idea, but since we are trying it for a week...

[2015-10-26 19:53] MoOx commented on #407
Dans un sens, les posts sont validés par la communauté, donc bon... Je ferais peut être une PR avec une étoile vite fait un jour...

[2015-10-26 19:53] #407 closed

[2015-10-27 04:33] MoOx commented on #493
The WIP bridge https://github.com/reactiflux/discord-irc
If someone want to try to setup it, be my guest.

[2015-10-27 06:06] madx commented on #493
I took a look at this repo and it's not the bridge we are expecting, and it does not seem really built for being used by multiple users at once

I'll take some more time to see what we can do about it

[2015-10-27 08:43] magsout commented on #493
:+1:

[2015-10-27 08:44] magsout commented on #491
yes why not.

[2015-10-27 08:44] magsout commented on #490
:+1:

[2015-10-27 08:48] madx commented on #491
Totally!

[2015-10-27 08:54] Nyalab commented on #491
agree

[2015-10-27 08:55] Nyalab commented on #493
of course, yes. Reactiflux with its rock star devs has done it, we can do it

[2015-10-27 08:57] Macxim commented on #491
:+1: Good idea :)

[2015-10-27 12:43] MoOx commented on #493
FYI

![screen shot 2015-10-27 at 13 42 52](https://cloud.githubusercontent.com/assets/157534/10758265/b20c4e5c-7cb0-11e5-8557-826468ac859f.png)

[2015-10-27 19:25] MoOx commented on #493
poke @Macxim @bloodyowl @lionelB

[2015-10-27 19:26] MoOx opened #494 ""Owner" of the org is now a role, team has been deleted"
I will close this issue, it's just to let you know that there is no "owners" team now.

"owner" is a role.

[2015-10-27 19:26] #494 closed

[2015-10-27 20:21] lionelB commented on #493
Moi je suis pour.
(En fait, j'ai déjà migré)

[2015-10-28 06:29] MoOx commented on #471
I will do that first, then #487

[2015-10-28 07:53] Macxim commented on #493
Oui, mais ce serait dommage de perdre les gens qui sont sur IRC. Donc j'espère que le bridge sera opérationnel bientôt.

[2015-10-28 08:23] MoOx commented on #493
Bridge is working, it just require some setup. I guess interested people should take care of it.
I don't think we have a lot of irc users
Even @madx use Discord (web?) while the bridge is ok for your discord server.

I will change Slack to Discord in #487 since most of you guys are ok.

[2015-10-28 20:27] magsout commented on #485
I like this idea. The most active people would be owner ofp! ? What is the aim of an owner, or rather the power?

[2015-10-28 20:27] magsout commented on #486
agree

[2015-10-29 05:32] MoOx commented on #485
Why not? That make sense to me.

Just take decisions for "big" changes in the org/website (that said, everyone should give their opinion, that why I proposed https://github.com/putaindecode/organisation/issues/48). It's that simple. Not big deal imo.

[2015-10-29 06:08] magsout commented on #485
sounds good. like this idea. :+1:

t's a great idea. I like the fact that the owner of the group are the most active users.

[2015-10-29 06:09] MoOx commented on #485
You should see this at the opposite: most active users are the "owners" :)

[2015-10-29 06:12] magsout commented on #485
Yeaaah ;) Is the Cup Half Full or Half Empty?

[2015-10-29 06:13] MoOx commented on #485
haha

[2015-10-29 17:37] MoOx opened #496 "Update highlight.js to fix wordpress/webpack code highlight"
Ref https://github.com/isagalaev/highlight.js/issues/958
We need to way next release to benefit of the fix.

[2015-10-30 08:05] MoOx commented on #478
Closed by 0e784b09d4224fde07f3ff7e13beaa250ac9a2f8

[2015-10-30 08:05] #478 closed

[2015-10-30 08:50] MoOx commented on #195
Closed in favor of #402

[2015-10-30 08:50] #195 closed

[2015-10-30 08:51] MoOx commented on #187
Do we still need to handle this? I guess browsers should (firefox already works great with emoji)

[2015-11-01 13:05] lionelB commented on #485
go for it !

[2015-11-02 10:02] lionelB commented on #490
:+1: aussi

[2015-11-02 20:16] MoOx opened #497 "Add back custom 404"
https://github.com/putaindecode/putaindecode.fr/pull/495#issuecomment-153080020

(This issue will make more sense when #495 will be merged :D)

[2015-11-03 06:18] #471 closed

[2015-11-03 06:19] MoOx commented on #471
@Nyalab now you can add your onclick (but yeah for tag we need something better than that https://github.com/MoOx/statinamic/issues/15)

[2015-11-03 07:19] MoOx opened #498 "Ensure window support"
We will have some trick to changes (like CNAME generation) but the `appveyor.yml` below should be the thing

[code]

[2015-11-03 07:28] MoOx opened #499 "collection pages are not correctly prerendered"
posts listing are missing in the prerender (the client side successfully adjust it when collection is available)

[2015-11-03 07:29] MoOx opened #500 "add a minimal loader for page transition"
With slow connection like mine, the render can take some couples of ms :)

[2015-11-03 07:30] MoOx commented on #493
What about this icon http://iconmonstr.com/speech-bubble-15-icon/ + label: "Discuter" ?

[2015-11-03 08:10] MoOx opened #501 "Checksum issue on some posts"
Eg:
- http://putaindecode.fr/posts/wordpress/webpack/
- http://putaindecode.fr/posts/js/reactjs-et-rendu-serverside/

 (client) ></div></div></div><noscript data-reacti
 (server) ></div></div></div><div data-reactid=".1

The end of those page is really weird.

[2015-11-03 08:13] MoOx commented on #501
it seems only this url is affected (see after the footer, beautiful bug)

![screen shot 2015-11-03 at 09 13 28](https://cloud.githubusercontent.com/assets/157534/10903553/2b2c3a18-820b-11e5-8453-480cdd96897d.png)

[2015-11-03 08:20] MoOx commented on #501
Maybe related to #496

[2015-11-03 09:09] jbleuzen opened #502 "Link Top contributors links to 404"
The link of Top contributors on homepage links to : http://putaindecode.fr/undefined/graphs/contributors
which leads to 404.

[2015-11-03 10:01] bloodyowl opened #503 "cleanup"
- [ ] pages should have a loader or optimistic rendering instead of nothing when loading content
- [ ] String.prototype.repeat is in core-js
- [ ] icons should preferably be inlined
- [ ] declare stateless components as plain functions
- [ ] PropTypes.array.isRequired for `this.props.children` is incorrect (opaque type)
- [ ] CSS modules should be used instead of concat

[2015-11-03 10:26] MoOx commented on #503
1: #500
2: polyfill folder is not used, can be dropped I think
3: icons are inlined via raw-loader, having an .svg can be nice for maintenance
4: sure
5: what is the best way to validate children ?
6: sure, but here that's a big deal

I think we should open issue for each bullets we are agree on.

[2015-11-03 19:50] MoOx opened #505 "feed have non fr post"
we will need several feed soon. statinamic can already handle that :) (or it should not be that hard to add)

[2015-11-03 19:53] MoOx opened #506 "remove unused polyfills"
Ref #503

[2015-11-03 19:53] MoOx opened #507 "icons svg are not cleaned correctly, there is still some doctype in the page o_O"

[2015-11-03 19:54] MoOx opened #508 "Validate children props with a more accurate way"
Ref #503
See https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md#as-for-exceptions

[2015-11-03 19:57] MoOx commented on #508
Ref #503
See https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md#as-for-exceptions

[2015-11-03 19:57] MoOx opened #509 "Refactor CSS codebase with CSS modules"
Ref #503

[2015-11-03 19:58] MoOx opened #510 "Use stateless function for react component that don't have a state"
Ref #503

[2015-11-03 20:00] MoOx commented on #503
Closing in favor of #500 #506 #508 #509 #510
Not sure for svg inlined in components yet (anyway, not a big deal we don't have too many).

[2015-11-03 20:00] #503 closed

[2015-11-04 05:28] #502 closed

[2015-11-04 07:40] #499 closed

[2015-11-04 07:40] #501 closed

[2015-11-04 07:41] MoOx commented on #501
Fixed by https://github.com/MoOx/statinamic/commit/1cff72952c30d0f49ea32963bcc4ce065fe512a8

[2015-11-04 07:41] MoOx commented on #499
Fixed by https://github.com/MoOx/statinamic/commit/ffc44010da5535d958c4283b663726fd65012f43 and https://github.com/MoOx/statinamic/commit/9b475a32a689407026c1f515af871deedf3681bd

[2015-11-04 07:47] MoOx opened #512 "Checksum issue in / and /posts/"
Not the same issue as the previous in #501
Maybe related to collection rendering.

[2015-11-04 07:47] MoOx commented on #493
up for the icon guys

[2015-11-04 08:15] MoOx commented on #493
Preview ![screen shot 2015-11-04 at 09 12 54](https://cloud.githubusercontent.com/assets/157534/10932822/43843b1e-82d4-11e5-8870-bf19a1aff4a1.png)

I like the fact that this icon differentiate from the 2 others. It emphasize the link.

[2015-11-04 08:17] #506 closed

[2015-11-04 09:10] leoderbois opened #514 "Page not found"
la page http://putaindecode.fr/putaindecode/putaindecode.fr/graphs/contributors renvoi un 404, rien de plus à dire :)

[2015-11-04 09:47] MoOx commented on #514
Lol it seems we are using a Link component in place of a simple anchor poke @magsout

[2015-11-04 12:04] magsout commented on #514
Yes, I will take a look

[2015-11-04 12:07] magsout commented on #493
Looks good to me :+1:

Yes, no more update if in the future we add another service ;)

[2015-11-04 12:15] MoOx commented on #514
Maybe we should even report this to react-router since the generated dom seems ok (href seems good on the website, that's the weird part)

[2015-11-04 18:22] #507 closed

[2015-11-04 18:23] #493 closed

[2015-11-04 18:29] MoOx opened #515 "Add a "news" section?"
That can be cool to tell people about the website/org evolution.
Don't you think?

[2015-11-06 14:21] Nyalab commented on #471
haha, basterd :smile:

[2015-11-06 14:22] MoOx commented on #471
You are welcome.

[2015-11-06 15:08] magsout commented on #515
I am not against. But I wonder if we will have enough news to have a REAL news section

[2015-11-06 15:10] #514 closed

[2015-11-06 15:22] MoOx commented on #515
Not a lot, and probably just little posts.
That can be handy to explain some changes for the website/org etc:
Examples:
- s/slack/discord
- engine update (so people might be careful and report bug, learn a new tool etc)
- organisation update (owners rules, new guidlines etc
- post about the new (incoming) shop section...

[2015-11-07 00:18] Macxim commented on #515
Alright, why not :)
As long as posts remain the main section.

[2015-11-08 09:08] feelpix opened #518 "Page not found"
Bonjour,

Page not found : http://putaindecode.fr/feed.xml

Or j'aimerai bien ajouter votre site dans mes flux RSS.

Merci.

[2015-11-08 09:55] MoOx commented on #518
This url work has expected, so you can safely use it. However, the navigation system on our front-end is not handling it correctly and creating a fake 404 error.
Thanks for reporting, I will fix that asap.

[2015-11-08 09:59] #498 closed

[2015-11-08 10:05] MoOx opened #520 "Should we drop the "/projects" page?"
It's always outdated imo and pretty useless.

[2015-11-08 10:05] MoOx commented on #520
It's always outdated imo and pretty useless.

[2015-11-08 10:06] #518 closed

[2015-11-08 10:10] MoOx commented on #487
Any idea for the homepage / ?
/{lang}/ will be current homepage translated, but not sure what to place on /

[2015-11-08 10:34] magsout commented on #515
And myabe use this section to post short news about new from other websites ?

[2015-11-08 10:40] magsout commented on #487
IMO

putaindecode.io/{lang}/
putaindecode.io/{lang}/posts/

etc...

[2015-11-08 10:50] MoOx commented on #487
Yes but what should we place on / ?

[2015-11-08 10:51] MoOx commented on #515
why not. Or maybe a "links" section for that. With link to good post + some thoughts about it (like http://daringfireball.net often does)

[2015-11-08 11:02] Uhsac commented on #515
Agree with @magsout idea !

[2015-11-08 11:04] magsout commented on #487
Just c/p your proposal on discord
an home page with english et french choice

[2015-11-09 21:14] MoOx opened #521 "Post minimal guidelines"
Reminder for https://github.com/putaindecode/organisation/issues/41

[2015-11-09 21:14] MoOx opened #522 "Content license ?"
Following https://github.com/putaindecode/organisation/issues/32

[2015-11-09 21:29] MoOx commented on #487
Question related to putaindecode.io/tab we will need to rename this repo to putaindecode.github.io in order to keep putaindecode/{projects}#gh-pages to work as folder under the defined CNAME. Does that sounds weird to you guys?

[2015-11-09 21:30] MoOx commented on #487
(I found this weird, but I am not sure we have other easy solutions)

[2015-11-09 21:34] MoOx opened #523 "Normalize some posts tags"
- reactjs: react
- iojs: nodejs
- nodejs: node ?

[2015-11-09 21:45] MoOx commented on #462
[Medium recently did this](https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.3io6q9rem).

It seems this is the way for now `font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;`

Maybe we should just use a svg for the logo text and use that. Are you ok guys?

[2015-11-09 22:11] Macxim commented on #487
That's the logical thing to do. I don't find it weird.

[2015-11-09 22:23] MoOx opened #525 "Drop google analytics?"
For privacy reasons?

Maybe we can use http://keen.io/ instead ?

[2015-11-09 22:31] MoOx commented on #487
so
putaindecode.fr repo => putaindecode.io (no putaindecode.github.io)
putaindecode.io/tab url => tab.putaindecode.io (the only user (@macxim) seems ok with that)

[2015-11-09 22:32] MoOx commented on #487
Closing in favor of https://github.com/putaindecode/putaindecode.fr/pull/524

[2015-11-09 22:32] #487 closed

[2015-11-10 08:23] Nyalab commented on #520
dont know why this has not been closed via your commit, but i agree, this page is useless

[2015-11-10 08:37] MoOx commented on #520
Commit is not in master yet, that's why.

[2015-11-10 08:40] Nyalab commented on #525
don't really care about that, do whatever you guys want

[2015-11-10 08:41] Nyalab commented on #462
well, why the hell not, it's not like your fonts are awesome right now

[2015-11-10 09:18] phbernard opened #526 "Proposition de post : le favicon"
Oui, oh, je sais, le favicon est ce petit truc qu'on fait tout à la fin du projet, ou quand on a 5 minutes avant de partir manger alors que les collègues ont du mal à s'arracher de leur clavier. Pourtant, ça n'est pas si simple.

Déjà, il faut faire vite. Passer des heures sur l'UI, un beau build file ou l'intégration continue, ok. Mais le favicon, franchement... Du coup ça laisse peu de temps pou

[2015-11-10 09:19] phbernard commented on #526
*PR = Press Release, rien à voir avec GH pour le coup.

[2015-11-10 11:19] magsout commented on #526
Déjà bravo @phbernard pour ton outils en ligne, que j’utilise à chaque projet ;)

Ensuite, pour m'être bien pris la tête à comprendre toutes les meta qu'il fallait, savoir les bonnes résolution, les extensions. De plus maintenant le SVG est compatible sur certains navigateurs. Je trouve que cet article est une bonne idée (surtout si il y a eu des nouveautés depuis mes dernières recherches)

Pour m

[2015-11-10 11:21] magsout commented on #525
We need a cookies Popin, because of analytics ..

I don't know keen.io, so hard to make my decision.

[2015-11-10 11:22] magsout commented on #522
CC BY  looks good. Maybe just a note in our Readme ?

[2015-11-10 11:23] Uhsac commented on #526
J'aimerais en savoir plus ! Go go :+1:

[2015-11-10 11:23] magsout commented on #522
Or we let the author choose his license for his article?

[2015-11-10 11:24] magsout commented on #520
drop that page

[2015-11-10 11:26] Uhsac commented on #522
:+1: for CC BY

[2015-11-10 11:27] magsout commented on #464
![1280319878_parrot-is-playing-dead](https://cloud.githubusercontent.com/assets/1997108/11061288/4ad93bcc-87a6-11e5-835a-a2d887c3089a.gif)

[2015-11-10 13:07] Nyalab commented on #464
@ooflorent SORS TOI LE POING

[2015-11-10 13:26] Macxim commented on #520
Agree.

[2015-11-10 13:29] Macxim commented on #526
:+1:

[2015-11-10 13:51] madx commented on #520
If they are not supported by p! anymore, does it make sense if we get them back to their respective owners?

[2015-11-10 15:04] MoOx commented on #520
The real issue here was just an outdated page.
I think the fact that a project is under the p! org means it's supported.
That said if you want to get back a project were no one is involved except you, just ask directly for that :)

[2015-11-10 19:14] drazik commented on #526
J'aimerais aussi en savoir plus sur ce sujet. Par l'auteur du générateur qu'on utilise (je pense) tous, que demander de mieux :)

[2015-11-10 20:58] #485 closed

[2015-11-10 20:59] MoOx opened #527 "Improve "top contributors" ranking"
Following this PR https://github.com/putaindecode/putaindecode.fr/pull/516

Initial idea:

For now it's a simple and stupid ordering by number of commits.
Since a commit can be a typo or a fucking entire post, we should take that into account.
I was thinking about something like this:
- a comment in an issue on this repo: 1 point
- a commit in the repo: 10 points
- a review: 20 points
- a post: 10

[2015-11-10 21:06] MoOx commented on #526
@phbernard bonne idée de post, on doit tous bien avouer qu'on sait jamais ce qu'il faut ajouter à nos pages...
Je viens de faire un test avec l'outil, bonne expérience :)

Cela étant dit j'ai quelques questions:
- vu que y'a un version grunt et gulp, pourquoi ne pas simplement faire une version node ? Voir un outil CLI ? Là ça serait le top du top (je dis ça car la plupart d'entre nous on utilise

[2015-11-10 21:07] MoOx commented on #464
Closing due to inactivity...

[2015-11-10 21:07] #464 closed

[2015-11-10 22:52] MoOx commented on #525
It's just that google is evil, and keen (that as been recommended to me on twitter a few weeks ago) seems a nice alternative.
For the poop(in), I think I heard that the law is going to change again, but I might be saying pure shit.
Another solution is to completely remove any sort of analytics, but that's kind of brutal...

[2015-11-11 11:15] leoderbois opened #528 "Proposition de post : [iOS] séparer ses Storyboard (a.k.a diviser pour mieux régner)"
Yop, Je voudrais proposer un post sur du Dev iOS. Pour commencer avec un truc simple, j'aborde les Storyboards, qui parlent à tous dev iOS ( ce sont les fichiers d'interface).

Voici les grandes étapes de mon post :
- qu'est ce qu'un storyboard (rappel)
- avantages a en avoir plusieurs (par default Xcode n'en propose qu'un pour tout faire)
- comment on fait (pour en avoir plusieurs et pour interag

[2015-11-11 12:57] MoOx commented on #528
Hello @leoderbois.

C'est vraiment cool d'avoir de nouvelles choses sur notre site.

Quelques questions / remarques:
- Pourrait on imaginer un premier petit post d'intro sur le dev iOS, et comment commencer un hello world? (je ne connais encore rien au dev ios et je t'avoue que ton article m'effrait un peu du fait que je ne pige rien ^^)
- Je verrais bien des articles qui n'ont pas de context temp

[2015-11-11 17:00] magsout commented on #525
Ok ok. So why not.  We can make some test

yeah, it's cool to have some information about visitors. So no ?

[2015-11-11 22:34] phbernard commented on #526
Merci pour ces retours !

Les plugins Grunt et Gulp s'appuient sur un unique module (https://www.npmjs.com/package/rfg-api), donc dans le principe, on peut faire du pur Node. Pas de CLI pour le moment, j'attends de voir comment sont accuillis les plugins.

Non, toutes les icônes ne sont pas nécessaires. Les premières visées : la palanquée de touch icon. J'ai encore des essais à faire (notamment le

[2015-11-12 07:58] MoOx opened #529 "Add new languages to putaindecode.io"
When #524 will be merged we will have some work to add news languages:

- [ ] create multiple disqus account per language
- [x] update all account references (twitter...) on the website
- [ ] review "contributing.md" to add references per language to relevant part on the website
- [ ] explode "comment contribuer" content into several pieces to facilitiate the translation
- [x] review an translate

[2015-11-12 08:53] Reeslo opened #530 "http://putaindecode.fr/posts/js/introduction-gulp/ : Images broken"
see : http://putaindecode.fr/posts/js/introduction-gulp/
![broken](https://cloud.githubusercontent.com/assets/2724844/11114199/1f75524e-8923-11e5-8470-4a5bbe64a4de.png)

[2015-11-12 12:44] leoderbois commented on #528
Salut @MoOx,

- Je veux bien faire un post "hello world", mais je l'écrirai après avoir fini celui ci, je préfère finir ce que commence. Et tant qu'a faire je le ferais surement en Swift, parce que le Hello World Objective C existe surement sur des milliers de site.

- Je rectifie mon article en ce qui concerne la notion temporelle et la première personne.

- Pour le post d'intro et les sous dossi

[2015-11-12 14:01] ooflorent commented on #464
:hankey: Trop busy en ce moment?

[2015-11-12 14:58] MoOx commented on #528
- Aucun soucis pour un hello world en swift !
- Nickel
- fait comme tu le sens, tu n'as qu'à laisser dans /posts si ca marche pas dans content/fr/. En fait si ca commence pas par /posts tu verras pas ton post dans le listing du site (pour le moment), donc faudrait que tu tapes sur l'url à la main (genre `http://0.0.0.0:3000/fr/articles/ton-slug`) une fois que le serveur de dev est démarré.

[2015-11-12 15:00] MoOx opened #531 "Split CONTRIBUTING.md and "Comment contribuer" in several pieces"
To facilitiate the work for #529.
And have something that is easily maintainable, because as @leoderbois told us, instruction are kind of outdated in some places :(

[2015-11-13 06:49] #520 closed

[2015-11-13 07:46] MoOx commented on #525
Anyone opposed to this? Any thoughts?

[2015-11-13 07:48] MoOx commented on #528
Pour info la nouvelle arbo est en place sur la master.

[2015-11-13 16:08] Uhsac opened #533 "Github pages respond with a HTTP 302"
This don't happen all the time for normal user, but when it happen this slow the loading.

But the biggest problem is for search engine bot, if they see to much 302 they will stop the crawl sooner and that's bad for referencing

Solution seem to be some change on DNS server

Some links about this:
- http://stackoverflow.com/questions/20885695/why-is-my-github-hosted-site-responding-with-http-302-i

[2015-11-16 06:55] #530 closed

[2015-11-16 07:23] MoOx commented on #531
What do you think about having a simple index page on how to contribute:

[code]

Is this enough? It seems like a good start to split the huge and un-maintainable current page.

[2015-11-16 07:34] MoOx commented on #533
I just take a quick look and our current domain provider (gandi.net) doesn't support ALIAS entries.
I have no idea how we can fix this :(

[2015-11-16 07:36] MoOx commented on #533
Hum the stackoverflow issue explain another trick, I will try that.

[2015-11-16 07:50] MoOx commented on #533
I am trying things with my personnal website, I will wait for dns propagation and see what happens :)
If things looks good, I will be able to fix that issue.

[2015-11-16 08:47] Uhsac commented on #533
Nice !

[2015-11-16 10:03] Macxim commented on #531
I like it. :+1:

[2015-11-16 19:18] MoOx opened #535 "Add search bar"
Because now we can.

[2015-11-16 19:36] MoOx commented on #525
Btw, I just saw that analytics are broken since we merged statinamic... Weird cause I don't have this issue on other projects using it. Will double check.

[2015-11-17 08:11] MoOx commented on #533
Ok my test was stupid since this can only work with a subdomain. We don't use any.
So we are stuck with this solution until we find a free DNS provider that can offers ALIAS.
Anyway, 302 seems to be a protection related to the DoS protection system github is using.
Not a big deal imo.

[2015-11-17 08:39] MoOx commented on #526
Closed by #532

[2015-11-17 08:39] #526 closed

[2015-11-17 08:41] phbernard commented on #526
Merci @MoOx !

[2015-11-17 13:53] Nyalab commented on #535
:+1:, will do when i have time for it, if no one has done it before

[2015-11-19 07:41] magsout commented on #531
I think that covers all the needs. It's good to split into several part, it's been too long on one page.

[2015-11-19 12:39] leoderbois opened #537 "missing module 'svgo' in the install file"
Hey,

After a new install of my computer and new `clone` I run `npm install` and `npm start` and I get this error during the start :

[code]

After a
` npm install svgo`

all looks good. So it look like it missing `svgo` from the npm install file.

good day

[2015-11-19 12:44] MoOx commented on #537
Are you using npm@3?
I guess you are right?

[2015-11-19 12:46] leoderbois commented on #537
hi @MoOx,

I use npm 3.3.9.

[2015-11-19 21:00] MoOx commented on #509
This will be a work in progress, I just introduced CSS modules in 212de1f so we can migrate this whenever we will edit a legacy css file.

[2015-11-19 21:00] #509 closed

[2015-11-19 22:14] Macxim commented on #531
[code]

[2015-11-20 18:59] leoderbois opened #538 "Error while loading rule 'react/no-multi-comp': Can't add property react, object is not extensible"
Yop,
Because I'm a good beta tester :
I can't make a `npm start`, I'have got this error with a new clone of your code or my fork :

[code]

Good luck !

It can be a good idea for you to get a VM with a **nude** install of the OS to retry all process on your side.

[2015-11-20 21:07] magsout commented on #538
OK I can reproduce your error.

[2015-11-20 21:25] MoOx commented on #538
Weird, because it's ok on Travis-CI.
Since it looks like an eslint issue, it might be related to a recent update (1.10.0 just came out).
What are your version of eslint guys?

[2015-11-20 21:25] MoOx commented on #538
So just rollback to eslint 1.9.x for now => https://github.com/yannickcr/eslint-plugin-react/issues/323

[2015-11-20 21:31] magsout commented on #538
yes due to eslint. Works now

[2015-11-21 06:56] #537 closed

[2015-11-21 06:56] #538 closed

[2015-11-21 07:42] MoOx commented on #529
It's enough how it is atm.

[2015-11-21 07:42] #529 closed

[2015-11-22 10:20] MoOx commented on #535
That component can be interesting https://github.com/moroshko/react-autosuggest

[2015-11-22 14:27] MoOx opened #541 "Choose a font for "Putain de code !" identity"
Following the change of font (#539 ), we might want to choose a specific typo for our title, in order to have our own identity.
That will be handy, especially for the incoming products (t-shirts etc) in the shop (see #492)
"Putain de code !" with Avenir looks nice. Does any of you have a better idea or want to submit anything?

[2015-11-22 16:12] MoOx opened #542 "Rethink about posts ressources (header, images, video etc)"
Since we now have the ability to have a post in multiple languages, we should rethink about how we organize posts assets like background header images, pictures, videos that might be reused in multiple place.
Currently we place posts assets in the folder of the post.
What about going back in an assets folder where we can sort images based on the topic (if relevant) or a generic name?

Something th

[2015-11-23 07:38] MoOx commented on #525
FYI, analytics should work now, the UA wasn't set :D

[2015-11-23 07:39] MoOx commented on #508
Related https://github.com/facebook/react/issues/5527

[2015-11-23 07:55] MoOx commented on #435
Close in favor of #535

[2015-11-23 07:55] #435 closed

[2015-11-23 07:55] MoOx commented on #100
Closing in favor of #531

[2015-11-23 07:55] #100 closed

[2015-11-23 07:56] MoOx commented on #107
Closing in favor of #497

[2015-11-23 07:56] #107 closed

[2015-11-23 07:56] MoOx commented on #123
Closing in favor of #531

[2015-11-23 07:56] #123 closed

[2015-11-23 07:57] MoOx commented on #187
Browsers are handling that now, so I guess we won't do anything...

[2015-11-23 07:57] #187 closed

[2015-11-23 07:58] MoOx commented on #198
Feel free to make a PR.

[2015-11-23 07:58] #198 closed

[2015-11-23 07:58] MoOx commented on #239
Not a priority atm.

[2015-11-23 07:58] #239 closed

[2015-11-23 07:58] MoOx commented on #253
Will be doable with #535

[2015-11-23 07:59] #351 closed

[2015-11-23 08:00] MoOx commented on #433
@Macxim relevant now :)

[2015-11-23 08:00] Macxim commented on #433
On it today.

[2015-11-23 08:05] MoOx commented on #542
For my latest post, I have found a way to directly use flickr url easily.
On the other side, a resolution of 640px (width) is clearly enough since background are currently blurry.
So not sure we we should use remote url or host it.
For my example, my image is a blue jet reactor tested in a factory. Should I place the picture in
content/assets/blue-jet-reactor-test-factory.jpg?
Because for content

[2015-11-23 08:10] MoOx commented on #531
We could take the content of the CONTRIBUTING.md to move it on the website, and put in CONTRIBUTING.md links to fr and en pages.
Same for the content of the README.

[2015-11-23 10:25] MoOx opened #544 "Update post about autoprefixer"
Commands and snippets are not accurate anymore http://putaindecode.io/fr/articles/css/autoprefixer/mise-en-place/#comment-2374338657

[2015-11-24 08:27] MoOx opened #546 "Add links between translated posts"

[2015-11-25 06:15] MoOx opened #548 "Use md-typographer for better auto typography"
https://www.npmjs.com/package/md-typographer
That would involve to change the engine to mdast (markdown-it is nice, but it's a pain to make plugin because there is no ast...). Should not be an issue with statinamic.

[2015-11-25 07:54] MoOx opened #549 "Change default rules to merge PR"
Currently the rule was: 3 OK responses > can merge.
What about something like:

[2015-11-25 14:43] Uhsac commented on #533
Ok, you can test [this](https://support.google.com/webmasters/answer/6066468?hl=en) to see if google crawl putaindecode correctly (I can't do as it's not my website)

[2015-11-28 00:01] Macxim commented on #525
Any thoughts on http://piwik.org/?

[2015-11-28 10:12] MoOx commented on #525
Require a server. And their hosted offer is expensive.

[2015-11-28 11:56] magsout commented on #549
We need in both case a minimum of day. For your first propal maybe 2 or 3 day...

[2015-11-28 11:57] magsout commented on #546
we can use your HomePage flash message and update the text ?

[2015-11-28 12:55] lionelB commented on #535
what about using a something algolia ?

[2015-11-30 08:58] Nyalab commented on #549
i agree with something like @MoOx said, the inactivity on the reviews/answers is killing the motivation of the authors

[2015-11-30 09:01] magsout commented on #549
:100:

[2015-12-01 09:26] leoderbois opened #551 "Facebook Open Graph Object doesn't work properly"
Hi,

the meta used for Facebook Open Graph (and sharing on Facebook) doesn't work properly for theses articles :

http://putaindecode.io/fr/articles/js/react/test-unitaires/
http://putaindecode.io/fr/articles/xcode/storyboards/diviser/ (FR && EN)
http://putaindecode.io/en/articles/css/preprocessors/cssnext/

You can validate Open Graph meta here : https://developers.facebook.com/tools/debug/og/obj

[2015-12-01 09:33] MoOx commented on #551
Ok this is related to #533 (302 redirect...). Fuck.

[2015-12-01 09:33] MoOx commented on #533
We got an issue with fg og #551

[2015-12-01 09:34] MoOx opened #552 "Give write access to all authors ?"
This is an idea to encourage more commits.
Comments are welcome.

[2015-12-01 09:43] Nyalab commented on #552
good idea, but we have to protect the `master` branch, so PRs are becoming mandatory for most of people

[2015-12-01 09:44] kud commented on #552
I agree with @Nyalab.

[2015-12-01 09:50] MoOx commented on #552
How can we protect master?

Can't we just educate people who get write access to not commit in master (except for major issues), and if some failures happen, we might revise the situtation?

[2015-12-01 09:55] Nyalab commented on #552
no, we protect the master branch, this is a good habit.
![](http://cl.ly/image/3k2O041U3G3v/Screen%20Shot%202015-12-01%20at%2010.55.09.png)

[2015-12-01 09:56] bloodyowl commented on #552
good idea

[2015-12-01 09:56] magsout commented on #552
yes, good idea. :+1:

[2015-12-01 09:58] MoOx commented on #552
Protect master just prevent deletion and force push.
I will add write access to the "Authors" team.

[2015-12-01 09:58] lionelB commented on #552
ok to give access to all authors. it's a nice move

[2015-12-01 09:58] kud commented on #552
Perfect @Nyalab

[2015-12-01 09:59] MoOx commented on #552
Before giving write access, I will write a doc about what you need to know when you are in the "Authors" team.

[2015-12-01 10:01] Macxim commented on #552
Excellent idea! :+1: For @Nyalab's suggestion 🎉

[2015-12-01 10:02] Nyalab commented on #552
indeed, i thought protecting branches instantly forbade (yes it exists) all pushing to this branch

but i still don't like that all authors have access to merge, and commit to master

[2015-12-01 10:03] MoOx commented on #552
You don't trust contributors ? Come on...

[2015-12-01 10:04] MoOx commented on #552
One day someone gave me write acces to reworkcss organization after I make my first PR. You know what happened next.

[2015-12-01 10:04] Nyalab commented on #552
nope, git knowledge is not correlated with writing skills

[2015-12-01 10:06] MoOx commented on #552
Note: I already made some shit on a master, but I fixed it pretty quickly. That's how you learn the best.
FYI, a broken putaindecode master branch (or even putaindecode.io) is not a big deal imo.

[2015-12-01 10:11] Nyalab commented on #552
2 points of view, let's hear what other have to say

[2015-12-01 10:12] madx commented on #552
Suckless guys went even further and made the ENTIRE website world-writable http://suckless.org/wiki

I think they never had any problems with it

[2015-12-01 10:21] kud commented on #552
I don't see what's the problem with locking the master. I could see one by uncloking it.

[2015-12-01 10:23] MoOx commented on #552
I sometimes commit to master when it's for small fixes or typo. Is this a problem?

[2015-12-01 10:24] kud commented on #552
In any case, PRs are/should be mandatory. So locking or not doesn't change anything but should be "on" because "we never know".

[2015-12-01 10:31] lionelB commented on #552
I definitly prefer to trust and bet on people

[2015-12-01 10:33] MoOx commented on #552
@kud Again, master cannot be "locked", it can just **protected** to force push and deletion. Again, this is already done and is not the point of the issue.
Anyway, the majority of people seems to be agree of the fact that giving write access is a good thing, so we will definitively do it and see what happen.

[2015-12-01 10:35] Nyalab commented on #552
clear proof that democracy is work weak people :trollface:

[2015-12-01 10:35] lionelB commented on #552
@Nyalab you should stop google translate ihmo :trollface:

[2015-12-01 14:27] MoOx commented on #528
Closed by #545

[2015-12-01 14:27] #528 closed

[2015-12-01 14:29] bloodyowl opened #553 "🎄 Advent calendar ES6/2015"
1. let/const http://putaindecode.io/fr/articles/js/es2015/const-let-var/
- destructuring http://putaindecode.io/fr/articles/js/es2015/destructuring/
- default params http://putaindecode.io/fr/articles/js/es2015/defaults/
- Object.assign http://putaindecode.io/fr/articles/js/es2015/object-assign/
- classes http://putaindecode.io/fr/articles/js/es2015/classes/
- Promises http://putaindecode.io/fr/ar

[2015-12-01 14:30] kud commented on #553
![1444938983_like](https://cloud.githubusercontent.com/assets/655838/11503355/6aaf6584-9840-11e5-82fd-18d4fde079c6.png)

[2015-12-01 14:30] MoOx commented on #553
let / const in one day imo, let is pretty useless.

[2015-12-01 14:34] lionelB commented on #553
I disagree, let is not pretty useless, its not just like var cf https://youtu.be/uL9uAAzkFmI?t=1661

[2015-12-01 14:41] MoOx commented on #553
poke @naholyr

[2015-12-01 14:43] MoOx commented on #553
I think one attribution at a time is cool. Let's prepare some posts :)

[2015-12-01 14:44] MoOx commented on #553
/fr/articles/js/es2015/index.md for the listing +  /fr/articles/js/es2015/*.md for all tiny posts.
We should deliver french post first and we can work on translation together.

[2015-12-01 14:44] MoOx commented on #553
es201* btw ?

[2015-12-01 14:45] MoOx commented on #553
Note: that might helps a little :) http://babeljs.io/docs/learn-es2015/

[2015-12-01 14:47] Nyalab commented on #553
es6, fuck translations for now

[2015-12-01 14:49] jbleuzen commented on #553
Nice !
Would love to write something for template strings :)

[2015-12-01 14:50] Uhsac commented on #553
I can try to write something too.

es2015 :D

[2015-12-01 14:51] lionelB commented on #553
done @jbleuzen

[2015-12-01 15:04] naholyr commented on #553
Volunteer ;) I'll take a late one (or many), so I get time to prepare as I never contributed before, any of those, your choice:

* default params
* async/await
* Object.assign
* object spread

If you can't choose, I'll take async/await 'cause I love it and there are tricks (beware series vs concurrent).

[2015-12-01 15:09] magsout commented on #553
@naholyr assigned for ` async/await`;)

[2015-12-01 17:44] MoOx commented on #553
@Nyalab I update the desc since your post is out, so feel free to take another one ;)
I will try to take care of translations when an author don't have the time for it.

[2015-12-01 17:59] bloodyowl commented on #553
je me propose pour

- Maps/WeakMaps
- Sets/WeakSets
- modules

[2015-12-01 18:30] MoOx commented on #553
Let's make things simple, @naholyr and @bloodyowl I assigned you the post you asked for.
If someone wants to handle it before you did anything, let's just discuss about it here.

[2015-12-01 21:35] naholyr commented on #553
I'd rather delay async/await *after* generators (makes it simpler to explain how a function can "idle"), but if not possible it's OK. Maybe delay it to 10+ so we can have a few more days to check if we can get the article about generators or not.